<div>

  <div class="card-header" id="demoFont">
    <h6 class="card-title text-center"><strong>Formulario del historial</strong></h6>
  </div>

  <div class="card">

    <div class="container mt-3 mb-3">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-12">
            <strong>Trabajador</strong>
            <select formControlName="empleado" class="form-control form-control-sm">
              <option value="">--SELECCIONE--</option>
              <option *ngFor="let i of empleados" value="{{i.id}}">{{i.nombre_trabajador}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <strong>d. básicos devengados</strong>
            <input formControlName="d_basicos_devengadp" type="text" class="form-control form-control-sm">
          </div>
          <div class="col-md-6">
            <strong>d. progresivos devengados</strong>
            <input formControlName="d_progresivos_dvengados" type="text" class="form-control form-control-sm">
          </div>

          <div class="col-md-6">
            <strong>Fecha de ingreso</strong>
            <input formControlName="fecha_ingreso" type="date" class="form-control form-control-sm">
          </div>
          <div class="col-md-6">
            <strong>Fecha base progresiva </strong>
            <input formControlName="fecha_base_progresiva" type="date" class="form-control form-control-sm">
          </div>
        </div>
      </form>

      <div class="row mt-3">
        <div class="col-md-12">
          <button class="btn btn btn-success btn-block btn-sm"
          (click)="enviar();"
          >
            Guardar
            <img *ngIf="blockIngreso == true" padding-left="20px" height="15px"
              src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
          </button>
        </div>
      </div>
    </div>

  </div>

  <!-- tabla del formulario -->
  <div class="card-header mt-4" id="demoFont">
    <h6 class="card-title text-center"><strong>Listado del historial</strong></h6>
  </div>

  <div class="card">

    <div class="container mt-3 mb-3">

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm">
          <thead text-sm>
            <!--Titulo Tabla-->
            <!--<tr>
                    <th colspan="14" class=" text-center"  id="demoFont"><h6>Movimiento mensual</h6></th>
                  </tr>-->
            <!--Cuenta Sindical-->
            <tr class="text-center">
              <th colspan="9" style="background: #138D75">Tabla historial</th>

            </tr>
          </thead>
          <thead>
            <!--Fijos-->
            <tr class="text-center">
              <th style="background: #138D75">
                Trabajador
              </th>
              <!-- <th style="background: #138D75">
                D. Basicos devengados
              </th>
              <th style="background: #138D75">
                D. Progresivos devengados
              </th> -->
              <th style="background: #138D75">
                OPC.
              </th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of tabla;" class="text-center">
              <td>{{ i.nombre_trabajador }}</td>
              <!-- <td>{{ i.d_basicos_devengados }}</td>
              <td>{{ i.d_progresivos_devengados }}</td> -->
              <td>
                <button (click)="open_modal(mimodal);vh=i;" class="btn btn-sm btn-success">Solicitudes</button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- modal detalle -->
        <ng-template #mimodal let-modal>
          <div class="modal-header" id="demoFont">
            <h6 class="modal-title"> <strong> Solicitudes</strong></h6>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-formulario-solicitud-vacaciones
              [vacaciones_historial]="vh"
              (salida)="capturar($event)"
            >
            </app-formulario-solicitud-vacaciones>

            <app-listado-historial-feriados
              [vacaciones_historial]="vh"
              [nueva_data]="comunicar"
              (salida)="capturar2($event)"
            >
            </app-listado-historial-feriados>
          </div>
        </ng-template>
      </div>
    </div>

  </div>
</div>
