<ng-template #formularioBeneficiosCargas let-modal>
  <div class="modal-header sticky-top" id="demoFont">
    <h6 class="modal-title"><i class="fas fa-table"></i> Datos del Socio: {{getNombreSocio | uppercase}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--Cuerpo del body inicio y cierre mensual-->
  <div class="modal-body" id="printJS-table">

    <div class="card-header" id="demoFont2">
      <h6 class="card-title">Cargas Legales</h6>
    </div>
    <div class="card">

      <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
        <div class="row justify-content-between">

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Tipo de carga*</strong></label>
              <select name="Carga" id="carga" class="form-control form-control-sm" [(ngModel)]="datosCargas.tipoCargaId" required>
                <option value="">--Seleccione--</option>
                <option value="1">Hijo</option>
                <option value="2">Nieto</option>
                <option value="3">Adoptacion</option>
                <option value="4">otros</option>
              </select>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Rut*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosCargas.rut" required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Fecha de Nacimiento*</strong></label>
              <input type="date" class="form-control form-control-sm" [(ngModel)]="datosCargas.fechaNacimiento" required>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
        <div class="row justify-content-between">

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Nombres*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosCargas.nombres" required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Apellido Paterno*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosCargas.apellidoPaterno" required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Apellido Materno*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosCargas.apellidoMaterno" required>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
        <div class="row justify-content-between">

          <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="form-group">
              <label><strong>Direccion*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosCargas.direccion" required>
            </div>
          </div>

          <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="form-group">
              <label><strong>Celular*</strong></label>
              <input type="number" class="form-control form-control-sm" [(ngModel)]="datosCargas.celular" required>
            </div>
          </div>

          <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="form-group">
              <label><strong>Establecimiento*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosCargas.establecimiento" required>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row justify-content-end">

          <div class="col-12 col-md-3 col-lg-3 col-xl-3"> <br>
            <label><strong>Guardar Datos de la Carga</strong></label>
            <div class="form-group">
              <button class="btn btn-block btn-outline-primary btn-sm" (click)="setDatosCarga()" [disabled]="blockIngreso">Guardar
                <img height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif" [hidden]="!blockIngreso">
              </button>
            </div>
          </div>

        </div>
      </div>

    </div> <br>
  </div>

  <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-success" 
onclick="printJS({
  printable: 'printJS-table',
  type:'html',
  style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
})">
<i class="fas fa-print"></i>  Imprimir Datos
</button>-->

    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver Beneficios Cargas
    </button>
  </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn btn-primary btn-block btn-sm" type="button" (click)="verModalCargas(formularioBeneficiosCargas)">Insertar Datos</button>