<div class="card-header" id="demoFont2">
  <h6 class="card-title">Cargas Legales</h6>
</div>
<div class="card">
  <form #BeneficiosForm="ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

    <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
      <div class="row justify-content-between">

        <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
          <div class="form-group">
            <label><strong>Tipo de carga</strong></label>
            <select name="Cta" id="cta" class="form-control form-control-sm" required>
              <option value="">--Seleccione--</option>
              <option value="">Hijo</option>
              <option value="">Nieto</option>
              <option value="">Adoptacion</option>
              <option value="">otros</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
          <div class="form-group">
            <label><strong>Rut</strong></label>
            <input type="text" class="form-control form-control-sm" required>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
          <div class="form-group">
            <label><strong>Fecha de Nacimiento</strong></label>
            <input type="date" class="form-control form-control-sm" required>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
      <div class="row justify-content-between">
        
        <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
          <div class="form-group">
            <label><strong>Nombres</strong></label>
            <input type="text" class="form-control form-control-sm" required>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
          <div class="form-group">
            <label><strong>Apellido Paterno</strong></label>
            <input type="text" class="form-control form-control-sm" required>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
          <div class="form-group">
            <label><strong>Apellido Materno</strong></label>
            <input type="text" class="form-control form-control-sm" required>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
      <div class="row justify-content-between">

        <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
          <div class="form-group">
            <label><strong>Direccion</strong></label>
            <input type="text" class="form-control form-control-sm" required>
          </div>
        </div>

        <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
          <div class="form-group">
            <label><strong>Comuna</strong></label>
            <input type="text" class="form-control form-control-sm" required>
          </div>
        </div>

        <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
          <div class="form-group">
            <label><strong>Celular</strong></label>
            <input type="number" class="form-control form-control-sm" required>
          </div>
        </div>

        <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
            <div class="form-group">
              <label><strong>Establecimiento</strong></label>
              <input type="text" class="form-control form-control-sm" required>
            </div>
          </div>

      </div>
    </div>  

    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row justify-content-end">

        <div class="col-12 col-md-3 col-lg-3 col-xl-3"> <br>
          <label><strong>Guardar Datos</strong></label>
          <div class="form-group">
              <button class="btn btn-block btn-outline-primary" type="submit" value="ingresar">Guardar</button>
          </div>
        </div>
        
      </div>
    </div>

  </form>
</div> <br>