<br>
<div class="card">
  <div class="card-header" id="demoFont">
    <strong class="text-center">
      <h6><i class="fas fa-birthday-cake"></i> Cumpleaños de hoy</h6>
    </strong>
  </div>

  <div class="card-body">

    <div *ngIf="load" align="center" class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>

      <div *ngIf="!load" class="row justify-content-center">
        <div class="col-md-7">
           <div style="margin-bottom: 13px;" class="card" *ngFor="let item of cumpleanios">
              <div class="card-body">

                    <p align="center" style="color:green;"><i class="fas fa-child fa-2x"></i> {{item.nombres+' '+item.a_paterno+' '+item.a_materno}}!&nbsp;💘 !&nbsp;🎂 - &#129681;-
                      🪑


🎉🎊🎁</p>

                  <div align="center">
                    <b>Fecha de nacimiento: </b>{{item.fecha_nacimiento | date: 'dd/MM/yyyy'}}
                    <br>
                    <b>Cumple:</b> {{ item.edad+' años.' }}
                  </div>
              </div>
            </div>
        </div>
      </div>

  </div>

</div>
