<ng-template #tablaBeneficiosConyuge let-modal>
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong><i class="fas fa-table"></i> Datos del Socio:
                {{getNombreSocio | uppercase}}</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!--Cuerpo del body inicio y cierre mensual-->
    <div class="modal-body" id="printJS-table">
        <div class="card-header" id="demoFont2">
            <h6 class="card-title">CONYUGE</h6>
        </div>
        <div class="card"> <br>
            <div class="table-responsive">
                <div *ngIf="loadingTabla" class="loader"></div>
                <table class="table table-striped table-bordered table-sm text-center" *ngIf="!loadingTabla">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                                <tr>
                                    <th style="background: #195fcf" class="text-right">RUT:</th>
                                    <td><input type="text" class="sinbordefondo centrado" value="{{datosConyuge?.rut}}"
                                            disabled>
                                    </td>
                                    <!-- <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td> -->
                                </tr>
                                <tr>
                                    <th style="background: #195fcf" class="text-right">FECHA DE NACIMIENTO:</th>
                                    <td><input type="date" class="sinbordefondo centrado"
                                            value="{{ datosConyuge?.fecha_nacimiento }}" disabled></td>
                                    <!-- <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td> -->
                                </tr>
                                <tr>
                                    <th style="background: #195fcf;" class="text-right">NOMBRES:</th>
                                    <td><input type="text" class="sinbordefondo centrado"
                                            value="{{datosConyuge?.nombres | uppercase}}" disabled></td>
                                    <!-- <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td> -->
                                </tr>
                                <tr>
                                    <th style="background: #195fcf;" class="text-right">APELLIDO PATERNO:</th>
                                    <td><input type="text" class="sinbordefondo centrado"
                                            value="{{datosConyuge?.apellido_paterno | uppercase}}" disabled></td>
                                    <!-- <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td> -->
                                </tr>
                                <tr>
                                    <th style="background: #195fcf" class="text-right">APELLIDO MATERNO:</th>
                                    <td><input type="text" class="sinbordefondo centrado"
                                            value="{{datosConyuge?.apellido_materno | uppercase}}" disabled></td>
                                    <!-- <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td> -->
                                </tr>
                                <tr>
                                    <th style="background: #195fcf;" class="text-right">DIRECCION:</th>
                                    <td><input type="text" class="sinbordefondo centrado"
                                            value="{{datosConyuge?.direccion | uppercase}}" disabled></td>
                                    <!-- <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td> -->
                                </tr>
                                <tr>
                                    <th style="background: #195fcf;" class="text-right">CELULAR:</th>
                                    <td><input type="text" class="sinbordefondo centrado"
                                            value="{{datosConyuge?.celular}}" disabled></td>
                                    <!-- <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td> -->
                                </tr>

                                <!--MODAL VISOR PDF-->
                                <ng-template #visor let-c="close" let-d="dismiss">
                                    <div class="row">
                                        <div class="col">
                                            <div class="modal-header text-center" id="demoFont">
                                                <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                                <button id="closeModalButton" type="button" class="close"
                                                    aria-label="Close" (click)="d('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <iframe width="100%" height="500px"
                                                    [src]="  '../' + datosConyuge?.archivo | safeUrl" frameborder="0"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="modal-footer" [hidden]="true">
                                                <button type="button" class="btn btn-outline-dark"
                                                    (click)="c('Save click')">OK</button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <a hidden id="showModal" (click)="openPDF(visor)"><i class="far fa-file-alt"
                                        placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i></a>
                                <!--MODAL VISOR PDF-->

                                <tr>
                                    <th style="background: #195fcf;" class="text-right">ARCHIVO COMPROBANTE:</th>
                                    <td class="text-left"><button (click)="openModalPDF(visor)" class="btn btn-outline-primary">Haga click para ver el
                                            archivo <i class="fas fa-file-pdf"></i>
                                        </button></td>
                                    <!-- <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td> -->
                                </tr>
                            </div>

                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>

    <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" 
onclick="printJS({
  printable: 'printJS-table',
  type:'html',
  style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
})">
<i class="fas fa-print"></i>  Imprimir Datos
</button> -->

        <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
                class="far fa-arrow-alt-circle-left"></i> Volver Beneficios Conyuge
        </button>
    </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn btn-primary btn-block btn-sm" type="button"
    (click)="verTablaModalConyuge(tablaBeneficiosConyuge)">Ver Datos
</button>