<ng-template #formularioBeneficiosBeneficiario let-modal>
  <div class="modal-header sticky-top" id="demoFont">
    <h6 class="modal-title"><i class="fas fa-table"></i> Datos del Socio: {{getNombreSocio | uppercase}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--Cuerpo del body inicio y cierre mensual-->
  <div class="modal-body" id="printJS-table">
    <div class="card-header" id="demoFont2">
      <h6 class="card-title">Beneficiario</h6>
    </div>
    <div class="card">

      <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
        <p>
          <ngb-alert type="warning" [dismissible]="false">
            <small><i class="fas fa-exclamation-circle fa-2x"></i> <strong> Advertencia!</strong> Los campos marcados
              con un <i class="fas fa-asterisk"></i> son obligatorios.</small>
          </ngb-alert>
        </p>

        <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="form-group">
              <label><strong>Prioridad del Beneficiario* (Seleccione la prioridad que tendra cada uno de los beneficiarios ingresados)</strong></label>
              <select name="prioridad" id="prioridad" [(ngModel)]="datosBeneficiario.prioridad" class="form-control form-control-sm" required>
                <option value="">--Seleccione--</option>
                <option value="1">Primario</option>
                <option value="2">Secundario</option>
                <option value="3">Terciario</option>
                <option value="10">Sin Orden</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row justify-content-between">

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Relacion o Parentesco*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosBeneficiario.relacionParentesco"
                required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Rut* (Sin Puntos ni Guión)</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosBeneficiario.rut"
                placeholder="Sin Puntos ni guión" required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Fecha de Nacimiento*</strong></label>
              <input type="date" class="form-control form-control-sm" [(ngModel)]="datosBeneficiario.fechaNacimiento"
                required>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
        <div class="row justify-content-between">

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Nombres*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosBeneficiario.nombres" required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Apellido Paterno*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosBeneficiario.apellidoPaterno"
                required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Apellido Materno*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosBeneficiario.apellidoMaterno"
                required>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
        <div class="row justify-content-start">

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Direccion*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosBeneficiario.direccion"
                required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Celular*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="datosBeneficiario.celular" required>
            </div>
          </div>

          <div class="col-12 col-md-3 col-lg-3 col-xl-3 align-self-end">
            <label><strong>Guardar Datos del Beneficiario</strong></label>
            <div class="form-group">
              <button class="btn btn-block btn-outline-primary btn-sm" (click)="setDatosBeneficiario()"
                [disabled]="blockIngreso">Guardar
                <img height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"
                  [hidden]="!blockIngreso">
              </button>
            </div>
          </div>

        </div>
      </div>

    </div> <br>
  </div>

  <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-success" 
onclick="printJS({
  printable: 'printJS-table',
  type:'html',
  style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
})">
<i class="fas fa-print"></i>  Imprimir Datos
</button>-->

    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver Beneficios Beneficiario
    </button>
  </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn btn-primary btn-block btn-sm" type="button"
  (click)="abrirModalBeneficiario(formularioBeneficiosBeneficiario)"><b>Insertar Datos</b></button>