<ng-template #detalleHistorial let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
      <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Detalle de la reunion</strong>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Cuerpo del modal -->
    <div class="modal-body">
      <div class="container">
        <b class="text-center">Rerunión realizada el día 10-10-15</b>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis totam rem quidem enim, deserunt autem esse consequuntur, accusamus debitis dolorem quae magnam. Deserunt, eum? Repellat aperiam adipisci sint magnam nihil?
        Quis expedita eveniet sit commodi sequi dicta consequuntur quo facilis est doloribus iusto maiores a quos officiis quam, voluptates magnam. Voluptate impedit in veritatis nisi provident odit harum reprehenderit obcaecati.
        Quisquam nisi odio omnis aliquid saepe voluptate vitae, velit eligendi obcaecati ratione amet animi labore? Aut quasi alias necessitatibus repellendus tempore autem itaque deleniti, ullam quidem veniam dicta minus at.</p>
      </div>
    </div>

    <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" class="btn btn-danger">
      Inasistencias
    </button>
      <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
          class="far fa-arrow-alt-circle-left"></i> Volver</button>
    </div>
</ng-template>


<button class="btn btn-danger" type="button" (click)="abrirModalHistorial(detalleHistorial)">Ver Detalle</button>