<ng-template #formularioBeneficiosSocio let-modal>
  <div class="modal-header sticky-top" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-table"></i>  Datos del Socio</strong></h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
   <!--Cuerpo del body inicio y cierre mensual-->
  <div class="modal-body" id="printJS-table"> 
  <!--Datos del socio-->
  <div class="card-header" id="demoFont2">
    <h6 class="card-title">Datos del Socio</h6>
    </div>
    <div class="card">
      <form #BeneficiosForm="ngForm" (ngSubmit)="test()" enctype="multipart/form-data">

        <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
          <div class="row justify-content-between">
            
            <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
              <div class="form-group">
                <label><strong>N° de Cta</strong></label>
                <input type="text" name="numeroCuenta" [(ngModel)]="datosSocio.numeroCuenta" class="form-control form-control-sm" required>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
              <div class="form-group">
                <label><strong>Banco</strong></label>
                <input type="text" name="banco" [(ngModel)]="datosSocio.banco" class="form-control form-control-sm" required>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
              <div class="form-group">
                <label><strong>Tipo de Cta</strong></label>
                <select name="tipoCuenta" [(ngModel)]="datosSocio.tipoCuenta" id="cta" class="form-control form-control-sm" required>
                  <option value="0">--Seleccione--</option>
                  <option value="1">Cuenta Rut</option>
                  <option value="2">Cuenta Vista</option>
                  <option value="3">Cuenta Corriente</option>
                </select>
              </div>
            </div>

          </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
          <div class="row justify-content-between">

            <div class="col-12 col-md-5 col-lg-5 col-xl-5"> 
              <div class="form-group">
                <label><strong>Isapre o Fonasa</strong></label>
                <input type="text" name="isaFona" [(ngModel)]="datosSocio.isaFona" class="form-control form-control-sm" required>
              </div>
            </div>

            <div class="col-12 col-md-5 col-lg-5 col-xl-5"> 
              <div class="form-group">
                <label><strong>Grupo Sangre</strong></label>
                <input type="text" name="grupoSangre" [(ngModel)]="datosSocio.grupoSangre" class="form-control form-control-sm" required>
              </div>
            </div>

          </div>
        </div>  

        <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
          <div class="row justify-content-between">

            <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
              <div class="form-group">
                <label><strong>Direccion</strong></label>
                <input type="text" name="direccion" [(ngModel)]="datosSocio.direccion" class="form-control form-control-sm" required>
              </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
              <div class="form-group">
                <label><strong>Region</strong></label>
                <input type="text" name="region" [(ngModel)]="datosSocio.region" class="form-control form-control-sm" required>
              </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
              <div class="form-group">
                <label><strong>Provincia</strong></label>
                <input type="text" name="provincia" [(ngModel)]="datosSocio.provincia" class="form-control form-control-sm" required>
              </div>
            </div>

              <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
                <div class="form-group">
                  <label><strong>Comuna</strong></label>
                  <input type="text" name="comuna" [(ngModel)]="datosSocio.comuna" class="form-control form-control-sm" required>
                </div>
              </div>

          </div>
        </div>  

        <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
          <div class="row justify-content-between">

            <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
              <div class="form-group">
                <label><strong>Telefono</strong></label>
                <input type="number" name="telefono" [(ngModel)]="datosSocio.telefono" class="form-control form-control-sm" required>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
              <div class="form-group">
                <label><strong>Celular</strong></label>
                <input type="number" name="celular" [(ngModel)]="datosSocio.celular" class="form-control form-control-sm" required>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
              <div class="form-group">
                <label><strong>Anexo</strong></label>
                <input type="text" name="anexo" [(ngModel)]="datosSocio.anexo" class="form-control form-control-sm" required>
              </div>
            </div>

          </div>
        </div>  

        <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
          <div class="row justify-content-between">

            <div class="col-12 col-md-5 col-lg-5 col-xl-5"> 
              <div class="form-group">
                <label><strong>Email Personal</strong></label>
                <input type="email" name="emailPersonal" [(ngModel)]="datosSocio.emailPersonal" class="form-control form-control-sm" required>
              </div>
            </div>

            <div class="col-12 col-md-5 col-lg-5 col-xl-5"> 
              <div class="form-group">
                <label><strong>Email Corporativo</strong></label>
                <input type="email" name="emailCorporativo" [(ngModel)]="datosSocio.emailCorporativo" class="form-control form-control-sm" required>
              </div>
            </div>

          </div>
        </div> 
        
        <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
          <div class="row justify-content-between">

            <div class="col-12 col-md-5 col-lg-5 col-xl-5"> 
              <div class="form-group">
                <label><strong>Cargo Planta</strong></label>
                <input type="text" name="cargoPlanta" [(ngModel)]="datosSocio.cargoPlanta" class="form-control form-control-sm" required>
              </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
              <div class="form-group">
                <label><strong>Cargo o Comision Sindicato</strong></label>
                <select name="cargoComisionSindicato" [(ngModel)]="datosSocio.cargoComisionSindicato" id="rol" class="form-control form-control-sm" required>
                    <option value="0">--Seleccione--</option>
                    <option value="1">Socio</option>
                    <option value="2">Directiva</option>
                  </select>
              </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
              <div class="form-group">
                <label><strong>Casa Propia</strong></label>
                <select name="casaPropia" [(ngModel)]="datosSocio.casaPropia" id="casa" class="form-control form-control-sm" required>
                  <option value="0">--Seleccione--</option>
                  <option value="1">Si</option>
                  <option value="2">No</option>
                </select>
              </div>
            </div>

          </div>
        </div> 
        
        <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
          <div class="row justify-content-between">

            <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
              <div class="form-group">
                <label><strong>Rol Turno</strong></label>
              <select name="rolTurno" [(ngModel)]="datosSocio.rolTurno" class="form-control form-control-sm" value="0" required>
                <option value="0">--Seleccione--</option>
                <option value="1">Si</option>
                <option value="2">No</option>
              </select>
              </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
              <div class="form-group">
                <label><strong>Estado Civil</strong></label>
                <select name="estadoCivil" [(ngModel)]="datosSocio.estadoCivil" class="form-control form-control-sm" value="0" required>
                  <option value="0">--Seleccione--</option>
                  <option value="1">Soltero/a</option>
                  <option value="2">Casado/a</option>
                  <option value="3">Viudo/a</option>
                  <option value="4">Divorciado/a</option>
                  <option value="5">Conviviente civil</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
              <div class="form-group">
                <label><strong>Conyuge / Pareja</strong></label>
                <select name="conyugePareja" [(ngModel)]="datosSocio.conyugePareja" id="rol" class="form-control form-control-sm" value="0" required>
                  <option value="0">--Seleccione--</option>
                  <option value="1">Si</option>
                  <option value="2">No</option>
                </select>
              </div>
            </div>

          </div>
        </div>  

        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row justify-content-end">

            <div class="col-12 col-md-3 col-lg-3 col-xl-3"> <br>
              <label><strong>Guardar Datos del Socio</strong></label>
              <div class="form-group">
                  <button [disabled]="!BeneficiosForm.valid" class="btn btn-block btn-outline-primary" type="submit" value="ingresar">Guardar</button>
              </div>
            </div>

          </div>
        </div>

      </form>
    </div> <br>
  </div>

  <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
  <div class="modal-footer">
      <!--<button type="button" class="btn btn-success" 
  onclick="printJS({
    printable: 'printJS-table',
    type:'html',
    style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
  })">
  <i class="fas fa-print"></i>  Imprimir Datos
  </button>-->

  <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i class="far fa-arrow-alt-circle-left"></i>  Volver Beneficios Socio
  </button>
  </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn-primary btn-block btn-sm" type="button" (click)="verFormularioBeneficios(formularioBeneficiosSocio)">Insertar Datos</button>