<ng-template #formularioBeneficiosSocio let-modal id="test">
  <div class="modal-header sticky-top" id="demoFont">
    <h6 class="modal-title"><i class="fas fa-table"></i> Datos del Socio: {{getNombreSocio | uppercase}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--Cuerpo del body inicio y cierre mensual-->
  <div class="modal-body" id="printJS-table">
    <div class="card-header" id="demoFont2">
      <h6 class="card-title">Socio</h6>
    </div>
    <!--Datos del socio-->
    <div class="card">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
        <p>
          <ngb-alert type="warning" [dismissible]="false">
            <small><i class="fas fa-exclamation-circle fa-2x"></i> <strong> Advertencia!</strong> Los campos marcados
              con un <i class="fas fa-asterisk"></i> son obligatorios.</small>
          </ngb-alert>
        </p>
        <div class="row justify-content-between">

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>N° de Cta*</strong></label>
              <input type="text" class="form-control form-control-sm"
                [(ngModel)]="InsertarBeneficiosSocio.numero_cuenta" required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Banco*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="InsertarBeneficiosSocio.banco"
                required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Tipo de Cta*</strong></label>
              <select name="Cta" id="cta" class="form-control form-control-sm"
                [(ngModel)]="InsertarBeneficiosSocio.tipo_cuenta_banco_id" required>
                <option value="">--Seleccione--</option>
                <option value="1">CUENTA RUT</option>
                <option value="2">CUENTA VISTA</option>
                <option value="3">CUENTA CORRIENTE</option>
              </select>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
        <div class="row justify-content-between">

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Isapre o Fonasa*</strong></label>
              <input type="text" class="form-control form-control-sm"
                [(ngModel)]="InsertarBeneficiosSocio.isapre_fonasa" required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Grupo Sangre</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="InsertarBeneficiosSocio.grupo_sangre"
                required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Direccion*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="InsertarBeneficiosSocio.direccion"
                required>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
        <div class="row justify-content-between">

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Telefono*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="InsertarBeneficiosSocio.telefono"
                required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Celular*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="InsertarBeneficiosSocio.celular"
                required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Anexo*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="InsertarBeneficiosSocio.anexo"
                required>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
        <div class="row justify-content-between">

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Email Personal*</strong></label>
              <input type="email" class="form-control form-control-sm" [(ngModel)]="InsertarBeneficiosSocio.email_1"
                required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Email Corporativo*</strong></label>
              <input type="email" class="form-control form-control-sm" [(ngModel)]="InsertarBeneficiosSocio.email_2"
                required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label><strong>Cargo Planta*</strong></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="InsertarBeneficiosSocio.cargo_planta"
                required>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
        <div class="row justify-content-between">


          <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="form-group">
              <label><strong>Cargo o Comision Sindicato*</strong></label>
              <select name="Rol" id="rol" class="form-control form-control-sm"
                [(ngModel)]="InsertarBeneficiosSocio.cargo_comision_sindicato" required>
                <option value="">--Seleccione--</option>
                <option value="1">Socio</option>
                <option value="2">Directiva</option>
              </select>
            </div>
          </div>

          <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="form-group">
              <label><strong>Estado Civil*</strong></label>
              <select name="Civil" id="civil" class="form-control form-control-sm"
                [(ngModel)]="InsertarBeneficiosSocio.estado_civil_id" required>
                <option value="">--Seleccione--</option>
                <option value="1">Soltero/a</option>
                <option value="2">Casado/a</option>
                <option value="3">Viudo/a</option>
                <option value="4">Divorciado/a</option>
                <option value="5">Conviviente civil</option>
              </select>
            </div>
          </div>

          <div class="col-12 col-md-2 col-lg-2 col-xl-2">
            <div class="form-group">
              <label><strong>Conyuge / Pareja*</strong></label>
              <select name="Rol" id="rol" class="form-control form-control-sm"
                [(ngModel)]="InsertarBeneficiosSocio.conyuge" required>
                <option value="">--Seleccione--</option>
                <option value="S">Si</option>
                <option value="N">No</option>
              </select>
            </div>
          </div>

          <div class="col-12 col-md-2 col-lg-2 col-xl-2">
            <div class="form-group">
              <label><strong>Casa Propia*</strong></label>
              <select name="Rol" id="rol" class="form-control form-control-sm"
                [(ngModel)]="InsertarBeneficiosSocio.casa_propia" required>
                <option value="">--Seleccione--</option>
                <option value="S">Si</option>
                <option value="N">No</option>
              </select>
            </div>
          </div>

          <div class="col-12 col-md-2 col-lg-2 col-xl-2">
            <div class="form-group">
              <label><strong>Rol Turno*</strong></label>
              <select name="Rol" id="rol" class="form-control form-control-sm"
                [(ngModel)]="InsertarBeneficiosSocio.rol_turno" required>
                <option value="">--Seleccione--</option>
                <option value="S">Si</option>
                <option value="N">No</option>
              </select>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row justify-content-center">

          <div class="col-12 col-md-12 col-lg-12 col-xl-12"> <br>
            <div class="form-group">
              <button class="btn btn-block btn-outline-primary" (click)="guardarDatosSocio()"
                [disabled]="blockIngreso">Guardar
                <img height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"
                  [hidden]="!blockIngreso">
              </button>
            </div>
          </div>

        </div>
      </div>

    </div> <br>
  </div>

  <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-success" 
  onclick="printJS({
    printable: 'printJS-table',
    type:'html',
    style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
  })">
  <i class="fas fa-print"></i>  Imprimir Datos
  </button>-->

    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver Beneficios Socio
    </button>
  </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn-primary btn-block btn-sm" type="button"
  (click)="verFormularioBeneficios(formularioBeneficiosSocio)"><b>Insertar Datos</b></button>