<!--Modal camping-->
<ng-template #validar let-modal>
      <div class="modal-header" id="demoFont">
        <h6 class="modal-title"><i class="fas fa-user-shield"></i> <strong> Validar accion</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input #rut class="form-control form-control-sm" type="" name="" [value]="user.rut">
        <br>
        <input #password class="form-control form-control-sm" type="password" placeholder="Ingrese su contraseña" name="">
        <br>
       <button class="btn btn-success btn-block btn-sm"
        (click)="btn_validar_usuario(rut,password,validar);">
        Validar
        </button>
        <img *ngIf="load" height="30" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
      </div>
  </ng-template>
<ng-template #Camping let-modal>



  <ng-template #modalUsuario let-modal>
    <div class="modal-header" id="demoFont">
      <h6 class="modal-title"><i class="fas fa-calendar-alt"></i> <strong> Validar accion</strong></h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input #rut class="form-control form-control-sm" type="" name="" [value]="user.rut">
      <br>
      <input #password [(ngModel)]="pass" class="form-control form-control-sm" type="password" placeholder="Ingrese su contraseña" name="">
      <br>
      <button [disabled]="buttonStatus" class="btn btn-success btn-block btn-sm" #btn_click_validar (click)="modal.close('Save click')">
        Validar
        </button>
      <img *ngIf="load" height="30" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
    </div>
  </ng-template>
    <!--form del modal camping-->

      <!--Cabezal del modal camping-->
      <div class="modal-header" id="demoFont">
        <h6 class="modal-title"><strong><i class="fas fa-box-open"></i> Cuenta sindical / Detalle camping</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Cuerpo del body camping-->
      <div class="modal-body">
          <div class="row">
              <div class="col-6 col-md-3 col-lg-3"><br><label>
                <strong>Filtro por Año  </strong>
                <i class="fas fa-calendar-check"></i>
              </label>
                <!---Select Año-->
                <select id="anio_id" (change)="change_anio()" class="form-control form-control-sm" [(ngModel)]="anio" >
                  <option *ngFor="let a of anios" [value]="a.id">{{ a.descripcion }}</option>
                </select>
              </div>
            
              <div class="col-6 col-md-3 col-lg-3"><br><label>
                <strong>Filtro por Mes  </strong>
                <i class="fas fa-calendar-check"></i>
              </label>
                <!--Select Mes-->
                <select (change)="change_mes()" class="form-control form-control-sm" [(ngModel)]="mes" >
                  <option *ngFor="let m of meses" [value]="m.id" >{{ m.descripcion }}</option>
                </select>
              </div>
            </div><br>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-sm">
               <thead text-sm>
                  <!--Titulo Tabla-->  
                  <tr>
                  <th colspan="5" class=" text-center"  style="background: #138D75"><h6>Detalle Comité Camping</h6></th>
                  <th style="background: #138D75" colspan="3">
                      Cierre mensual acumulado:
                      <div class="input-group">
                        <input [(ngModel)]="monto" class="form-control form-control-sm" placeholder ="Ingrese un monto..">
                        <span class="input-group-btn">
                        <button (click)="validar_usuario(validar);estado='ingresar_total_camping';" class="btn btn-outline-light btn-sm"><i class="far fa-save"></i></button>
                        </span>
                      </div>
                   </th>
                 </tr>
                  <tr class="text-center">
                      <th style="background: #138D75"><i class="fas fa-calendar-alt"></i> Fecha</th>
                      <th style="background: #138D75"><i class="fas fa-id-card"></i> Nº Documento</th>
                      <th style="background: #138D75"><i class="far fa-file-pdf"></i> PDF</th>
                      <th colspan="2" style="background: #138D75"><i class="fas fa-file-alt"></i> Detalle del camping</th>
                      <th style="background: #138D75"><i class="fas fa-arrow-down"></i> Ingreso</th>
                      <th style="background: #138D75"><i class="fas fa-arrow-up"></i> Egreso</th>
                      <th style="background: #138D75"><i class="fas fa-money-bill-wave"></i> Monto actual</th>           
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of detallecamping">
                  <td scope="col" (click)="openActualizar(m_fecha)" >{{ item.fecha }}
                        
                        <ng-template #m_fecha let-c="closeFecha" let-d="dismiss">
                        <div class="modal-header" id="demoFont">
                          <h4 class="modal-title" id="modal-basic-title">Fecha</h4>
                          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                          <label><strong>Fecha Actual</strong> <input type="text" class="form-control form-control-sm" value="{{item.fecha}}" disabled></label>
                          <label> <strong>Nueva Fecha</strong> <input class="form-control form-control-sm" #fecha type="date"></label>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-info" (click)="cerrarActualizar()">Salir </button>
                          <button type="button" class="btn btn-outline-success" (click)="actualizar(item.camping_id,'fecha',fecha,modalUsuario);estado='modificar_detalle_camping';">Guardar
                            <img *ngIf="actualizarLoad" padding-left="20px" height="12" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"> 
                          </button>
                        </div>
                    </ng-template>

                  </td>
                  <td scope="col" (click)="openActualizar(m_num_doc)">{{ item.numero_documento }}
                        
                        <ng-template #m_num_doc let-c="close" let-d="dismiss">
                          <div class="modal-header" id="demoFont">
                            <h4 class="modal-title" id="modal-basic-title">Numero Documento</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                                <label><strong>N° Documento Actual</strong></label> 
                                <input type="text" class="form-control form-control-sm" value="{{item.numero_documento}}" disabled>
                            </div>
                            <div class="form-group">
                                <label> <strong>Nuevo N° Documento</strong></label> 
                                <input class="form-control form-control-sm" #numero type="text">
                            </div>
                          </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-info" (click)="cerrarActualizar()">Salir </button>
                        <button type="button" class="btn btn-outline-success" (click)="actualizar(item.camping_id,'numero_documento',numero,modalUsuario);estado='modificar_detalle_camping';">Guardar
                          <img *ngIf="actualizarLoad" padding-left="20px" height="12" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
                        </button>
                      </div>
                      </ng-template> 



                  </td>

                  <!--MODAL VISOR PDF-->
                  <ng-template #visorCamping let-c="close" let-d="dismiss">    
                    <div class="row">
                        <div class="col">
                            <div class="modal-header text-center" id="demoFont">
                                <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                    <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                              <iframe width="100%" height="500px" [src]="  '../' + item.archivo_documento | safeUrl" frameborder="0" allowfullscreen></iframe>
                            </div> 
                            <div class="modal-footer" [hidden]="true">
                                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                  <!--MODAL VISOR PDF-->

                  <td scope="col">
                     <a (click)="open(visorCamping)" class="btn-primary-outline">
                        <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                      </a>&nbsp;
                      <a class="btn-primary-outline" style="cursor: pointer" (click)="openActualizar(m_doc)">
                        <ng-template #m_doc let-c="close" let-d="dismiss">
                            <div class="modal-header" id="demoFont">
                              <h4 class="modal-title" id="modal-basic-title">Documento PDF</h4>
                              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">

                              <div class="form-group">
                                  <label> <strong>Reemplazar Documento Actual  </strong></label><i class="far fa-file-pdf"></i>
                                  <input class="form-control-file form-control-file-sm" #Doc type="file" (change)="onSelectImage($event)">
                              </div>

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-info" (click)="cerrarActualizar()">Salir </button>
                              <button type="button" class="btn btn-outline-success" (click)="actualizar(item.camping_id,'archivo',Doc,modalUsuario);estado='modificar_detalle_camping';">Guardar
                                <img *ngIf="actualizarLoad" padding-left="20px" height="12" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
                              </button>
                            </div>
                        </ng-template>
                        <i class="far fa-copy" placement="top" ngbTooltip="Presione aqui para modificar documento PDF"></i>
                      </a>
                  </td>
                  <td colspan="2" (click)="openActualizar(m_desc)">{{ item.descripcion }}
                        <ng-template #m_desc let-c="close" let-d="dismiss">
                        <div class="modal-header" id="demoFont">
                          <h4 class="modal-title" id="modal-basic-title">Descripcion</h4>
                          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label><strong>Descripcion Actual</strong></label> 
                                <input type="text" class="form-control form-control-sm" value="{{item.descripcion}}" disabled>
                            </div>
                          <div class="form-group">
                              <label> <strong>Nueva Descripcion</strong></label> 
                              <input class="form-control form-control-sm" #descripcion type="text">
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-info" (click)="cerrarActualizar()">Salir </button>
                          <button type="button" class="btn btn-outline-success" (click)="actualizar(item.camping_id,'descripcion',descripcion,modalUsuario);estado='modificar_detalle_camping';">Guardar
                            <img *ngIf="actualizarLoad" padding-left="20px" height="12" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
                          </button>
                        </div>
                    </ng-template> 
                  </td>
                  <td scope="col" (click)="openActualizar(montoFijoModal)">{{ item.monto_ingreso }}</td>
                  <td scope="col" (click)="openActualizar(montoFijoModal)">{{ item.monto_egreso }}
                      <ng-template #montoFijoModal let-c="close" let-d="dismiss">
                          <div class="modal-header" id="demoFont">
                            <h4 class="modal-title" id="modal-basic-title">Ingreso y Egreso</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <label><strong>Seleccione Nuevo Tipo</strong></label>
                              <select #definicionFijo class="form-control form-control-sm">
                                <option value="">Seleccione</option>
                                <option value="1">Ingreso</option>
                                <option value="2">Egreso</option>
                              </select>
                            </div>
  
                            <div class="modal-footer">
                              <button type="button" class="btn btn-info" (click)="cerrarActualizar()">Salir </button>
                              <button type="button" class="btn btn-outline-success" (click)="actualizar(item.camping_id,'definicion_camping',definicionFijo,modalUsuario);estado='modificar_detalle_camping';">Guardar
                                <img *ngIf="actualizarLoad" padding-left="20px" height="12" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
                              </button>
                            </div> <hr>
  
                            <div class="form-group">
                                <label><strong>Monto Actual</strong></label> 
                                <input type="text" class="form-control form-control-sm" value="{{item.monto_ingreso}} {{item.monto_egreso}}" disabled>
                            </div>
                          <div class="form-group">
                              <label> <strong>Nuevo Monto</strong></label> 
                              <input class="form-control form-control-sm" #montoFijo type="text">
                          </div>
  
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" (click)="cerrarActualizar()">Salir </button>
                                <button type="button" class="btn btn-outline-success" (click)="actualizar(item.camping_id,'monto',montoFijo,modalUsuario);estado='modificar_detalle_camping';">Guardar
                                  <img *ngIf="actualizarLoad" padding-left="20px" height="12" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
                                </button>
                            </div>
  
                          </div>
                      </ng-template> 
                  </td>
                  <td scope="col">{{ item.saldo_actual_raw }}</td>
                </tr>
                <tr>
                    <th colspan="7" style="background: #138D75" class="text-right"><i class="fas fa-plus-circle"></i>  Total Cierre del  Mes</th>
                    <td scope="col">{{ resumen.total }}</td>
                  </tr>
                <br>

                <tr>
                  <th style="background: #138D75" colspan="3" class="text-right"><i class="fas fa-plus-circle"></i>  INGRESOS</th>
                  <td colspan="1">{{ resumen.ingreso }}</td>
                </tr>
                <tr>
                  <th style="background: #138D75" colspan="3" class="text-right"><i class="fas fa-minus-circle"></i>  EGRESOS</th>
                  <td colspan="1">{{ resumen.egreso }}</td>
                </tr>
                <tr>
                  <th style="background: #138D75" colspan="3" class="text-right"><i class="fas fa-dollar-sign"></i>  CIERRE MENSUAL ACTUAL (INGRESO - EGRESO)</th>
                  <td colspan="1">{{ resumen.total }}</td>
                </tr>
              </tbody>
          </table>
        </div>




      </div>
      <!--Boton para salir del modal camping-->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="modal.close('Close click')">Volver a Cuenta Sindical
        </button>
      </div>
    
  </ng-template>
  
  <!--Boton Para llamar al modal caja chica-->
  <label><strong>Detalle camping </strong></label><br>
  <button class="btn btn btn-success btn-block btn-sm" (click)="openCamping(Camping)">Ingresar</button>
