<!--<router-outlet></router-outlet>-->
<div class="container">
    <router-outlet></router-outlet>
</div> <br> <br>

<!-- Footer -->
<footer class="fondo-footer fixed-bottom estilo-footer">

    <!-- <div class="footer-copyright estilo-footer text-center py-3">Desarrollado por:
        <a href="https://mdbootstrap.com/education/bootstrap/">NeoFox</a>
    </div> -->

    <div class="footer-copyright estilo-footer text-center py-2" >
        Desarrollado por:
        <a class="estilo-footer" href="https://www.facebook.com/NeoFoxInformatica/" target="_blank">
            <img src="/assets/NeoFox_SF.png" width="20" height="20"> NeoFox</a>
    </div>
</footer>
<!-- Footer -->