<!--<router-outlet></router-outlet>-->

    <router-outlet></router-outlet>
 <br> <br>

<!-- Footer -->
<footer class="fondo-footer fixed-bottom estilo-footer">
    <div class="row">
        <div class="col-12">
            <div class="footer-copyright estilo-footer py-2">
                <div class="text-center">
                    Desarrollado por:
                    <a class="estilo-footer" href="https://neofox.cl/" target="_blank">
                        <img src="/assets/NeoFox_SF.png" width="20" height="20"> NeoFox</a>
                    <span class="ml-4">v1.2.0</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->

