<div class="container mt-4">
  <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="myTab" role="tablist">

    <li class="nav-item active">
        <a class="nav-link" id="bienestar-tab" data-toggle="tab" [routerLink]="['/AuthMaster/Vacaciones/formulario-historial']" role="tab" aria-controls="bienestar"  aria-selected="true">Formulario e historiales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="nac-tab" data-toggle="tab" href="#nac" role="tab" aria-controls="nac" (click)="ocultarBuscadorSocio(false)" aria-selected="false">Nacimientos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="falle-tab" data-toggle="tab" href="#falle" role="tab" aria-controls="falle" (click)="ocultarBuscadorSocio(false)" aria-selected="false">Fallecimientos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="med-tab" data-toggle="tab" href="#med" role="tab" aria-controls="med" (click)="ocultarBuscadorSocio(false)" aria-selected="false">Gastos Medicos</a>
    </li>
  </ul> <br>

  <router-outlet></router-outlet>
</div>
