<ng-template #bienestarSocio let-modal>
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong>Tabla Bienestar</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!--Cuerpo del body inicio y cierre mensual-->
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4"><br><label><strong>Año</strong></label>
                <select (change)="changeAnio($event)" name="anio" #anio="ngModel" [(ngModel)]="idAnioActual" class="form-control form-control-sm">
                    <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
                </select>
            </div>

            <div class="col-12 col-md-4 col-lg-4"><br><label><strong>Mes</strong></label>
                <select (change)="changeMes($event)" name="mes" #mes="ngModel" [(ngModel)]="idMesActual" class="form-control form-control-sm">
                    <option *ngFor="let mes of selectMes" [value]="mes.id">{{mes.descripcion}}</option>
                </select>
            </div>

            <div class="col-12 col-md-4 col-lg-4"><br><label>
                    <strong>Recargar tabla </strong>

                </label><br>
                <button [disabled]="cargandoTabla" class="btn btn-info" (click)="recargarTabla()">Actualizar</button>
                <div *ngIf="cargandoTabla">
                    <img height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">&nbsp;
                    <label>Cargando tabla Bienestar</label>
                </div>
            </div>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm">
                <thead text-sm>
                    <!--Cuenta Sindical-->
                    <tr class="text-center">
                        <th colspan="12">Cuenta Bienestar</th>
                        <th>Cierre Mensual Acumulado</th>
                    </tr>
                </thead>

                <thead>
                    <!--CUENTA DEL GAS-->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> Cuenta del Gas
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> {{ montoInicio | currency:"CLP" : "symbol-narrow":'1.0'}}
                            </strong>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let itemGas of datosGas">
                        <td colspan="3" class="text-center"><b>{{ itemGas?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemGas?.numero_documento}}</b></td>
                        <td colspan="2" class="text-center">
                            <a (click)="openPDF(visorGas)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>
                        <!--MODAL VISOR PDF-->
                        <ng-template #visorGas let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemGas.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->
                        <td colspan="4"><b>{{itemGas?.descripcion}}</b></td>
                        <td class="text-center"><b>{{ itemGas?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center"><b>{{ itemGas?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b></td>
                        <td class="text-center"><b>{{ itemGas?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!-- REUNION -->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> Inasistencia por reunion
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemReunion of datosReunion">
                        <td colspan="3" class="text-center"><b>{{ itemReunion?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemReunion?.numero_documento}}</b></td>
                        <td colspan="2" class="text-center">
                            <a (click)="openPDF(visorReunion)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorReunion let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemReunion.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{itemReunion?.descripcion}}</b></td>
                        <td class="text-center"><b>{{ itemReunion?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center"><b>{{ itemReunion?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemReunion?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!-- VOTACION -->

                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> Inasistencia por votacion
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemVotacion of datosVotacion">
                        <td colspan="3" class="text-center"><b>{{ itemVotacion?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemVotacion?.numero_documento}}</b></td>
                        <td colspan="2" class="text-center">
                            <a (click)="openPDF(visorVotacion)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorVotacion let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemVotacion.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{itemVotacion?.descripcion}}</b></td>
                        <td class="text-center">
                            <b>{{ itemVotacion?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center"><b>{{ itemVotacion?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemVotacion?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!-- CAJA CHICA -->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> Caja Chica
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemCajaChica of datosCajaChica">
                        <td colspan="3" class="text-center"><b>{{ itemCajaChica?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemCajaChica?.numero_documento}}</b></td>
                        <td colspan="2" class="text-center">
                            <a (click)="openPDF(visorCajaChica)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorCajaChica let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemCajaChica.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{itemCajaChica?.descripcion}}</b></td>
                        <td class="text-center">
                            <b>{{ itemCajaChica?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemCajaChica?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemCajaChica?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!-- NACIMIENTO -->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> Nacimientos
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemNacimiento of datosNacimiento">
                        <td colspan="3" class="text-center"><b>{{ itemNacimiento?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemNacimiento?.numero_documento}}</b>
                            <td colspan="2" class="text-center">
                                <a (click)="openPDF(visorNacimiento)" style="cursor: pointer" class="btn-primary-outline">
                                    <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                                </a>&nbsp;
                            </td>

                            <!--MODAL VISOR PDF-->
                            <ng-template #visorNacimiento let-c="close" let-d="dismiss">
                                <div class="row">
                                    <div class="col">
                                        <div class="modal-header text-center" id="demoFont">
                                            <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                            <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe width="100%" height="500px" [src]="  '../' + itemNacimiento.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                        <div class="modal-footer" [hidden]="true">
                                            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <!--MODAL VISOR PDF-->

                            <td colspan="4"><b>{{itemNacimiento?.descripcion}}</b></td>
                            <td class="text-center">
                                <b>{{ itemNacimiento?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                            </td>
                            <td class="text-center">
                                <b>{{ itemNacimiento?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                            </td>
                            <td class="text-center">
                                <b>{{ itemNacimiento?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                            </td>
                    </tr>

                    <!-- FALLECIMIENTO -->

                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th><i class="far fa-file-pdf"></i> PDF 1</th>
                        <th><i class="far fa-file-pdf"></i> PDF 2</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> Fallecimientos
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemFallecimiento of datosFallecimientos">
                        <td colspan="3" class="text-center"><b>{{ itemFallecimiento?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemFallecimiento?.numero_documento}}</b></td>
                        <td class="text-center">
                            <a (click)="openPDF(visorFallecimiento1)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorFallecimiento1 let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemFallecimiento.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td class="text-center">
                            <a (click)="openPDF(visorFallecimiento2)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorFallecimiento2 let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemFallecimiento.archivo_2 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{itemFallecimiento?.descripcion}}</b></td>
                        <td class="text-center">
                            <b>{{ itemFallecimiento?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemFallecimiento?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemFallecimiento?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!-- MEDICO -->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th><i class="far fa-file-pdf"></i> PDF 1</th>
                        <th><i class="far fa-file-pdf"></i> PDF 2</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> Gastos Medicos
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemMedico of datosMedico">
                        <td colspan="3" class="text-center"><b>{{ itemMedico?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemMedico?.numero_documento}}</b></td>
                        <td colspan="1" class="text-center">
                            <a (click)="openPDF(visorMedico)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorMedico let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemMedico.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="1" class="text-center">
                            <a (click)="openPDF(visorMedicamento2)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorMedicamento2 let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemFallecimiento.archivo_2 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{itemMedico?.descripcion}}</b></td>
                        <td class="text-center">
                            <b>{{ itemMedico?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center"><b>{{ itemMedico?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemMedico?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!-- 10% CUOTA SOCIO -->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> 10% cuota sindical
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemSocioCuota of datosCuotaSocio">
                        <td colspan="3" class="text-center"><b>{{ itemSocioCuota?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemSocioCuota?.numero_documento}}</b></td>
                        <td colspan="2" class="text-center">
                            <a (click)="openPDF(visorCuotaSocio)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorCuotaSocio let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemSocioCuota.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{itemSocioCuota?.descripcion}}</b></td>
                        <td class="text-center">
                            <b>{{ itemSocioCuota?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemSocioCuota?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemSocioCuota?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!-- ELECCIONES -->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> inasistencia por Elecciones
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemElecciones of datosElecciones">
                        <td colspan="3" class="text-center">{{ itemElecciones?.fecha }}</td>
                        <td class="text-center">{{itemElecciones?.numero_documento}}</td>
                        <td colspan="2" class="text-center">
                            <a (click)="openPDF(visorElecciones)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorElecciones let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemElecciones.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{itemElecciones?.descripcion}}</b></td>
                        <td class="text-center">
                            <b>{{ itemElecciones?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemElecciones?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemElecciones?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!-- CONSORCIO -->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> Consorcio
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemConsorcio of datosConsorcio">
                        <td colspan="3" class="text-center"><b>{{ itemConsorcio?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemConsorcio?.numero_documento}}</b></td>
                        <td colspan="2" class="text-center">
                            <a (click)="openPDF(visorConsorcio)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorConsorcio let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemConsorcio.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{itemConsorcio?.descripcion}}</b></td>
                        <td class="text-center">
                            <b>{{ itemConsorcio?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemConsorcio?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemConsorcio?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!-- EXTRAORDINARIA -->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> Cuota Extraordinaria
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemExtraordinaria of datosExtraordinaria">
                        <td colspan="3" class="text-center"><b>{{ itemExtraordinaria?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemExtraordinaria?.numero_documento}}</b></td>
                        <td colspan="2" class="text-center">
                            <a (click)="openPDF(visorExtraordinaria)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorExtraordinaria let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemExtraordinaria.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{itemExtraordinaria?.descripcion}}</b></td>
                        <td class="text-center">
                            <b>{{ itemExtraordinaria?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemExtraordinaria?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemExtraordinaria?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!-- NO SINDICALIZADOS -->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> No Sindicalizados
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemNoSindicalizados of datosSindicalizados">
                        <td colspan="3" class="text-center"><b>{{ itemNoSindicalizados?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemNoSindicalizados?.numero_documento}}</b></td>
                        <td colspan="2" class="text-center">
                            <a (click)="openPDF(visorNoSindicalizado)" style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorNoSindicalizado let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemNoSindicalizados.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{itemNoSindicalizados?.descripcion}}</b></td>
                        <td class="text-center">
                            <b>{{ itemNoSindicalizados?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemNoSindicalizados?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemNoSindicalizados?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!--  Aporte -->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> Aporte económico de prestamos
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let itemInteres of datosInteres">
                        <td colspan="3" class="text-center"><b>{{ itemInteres?.fecha }}</b></td>
                        <td class="text-center"><b>{{itemInteres?.numero_documento}}</b></td>
                        <td colspan="2" class="text-center">
                            <a style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorInteres let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + itemInteres.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{itemInteres?.descripcion}}</b></td>
                        <td class="text-center">
                            <b>{{ itemInteres?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemInteres?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ itemInteres?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>

                    <!-- datosArregloFlorales -->
                    <tr class="text-center">
                        <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
                        <th>N° Doc</th>
                        <th colspan="2"><i class="far fa-file-pdf"></i> PDF</th>
                        <th colspan="4"><i class="fas fa-file-signature"></i> Arreglo floral
                        </th>
                        <th><i class="fas fa-plus-circle"></i> Ingresos</th>
                        <th><i class="fas fa-minus-circle"></i> Egresos</th>
                        <td class="text-center"><strong> </strong></td>
                    </tr>

                    <tr *ngFor="let item of datosArregloFlorales">
                        <td colspan="3" class="text-center"><b>{{ item?.fecha }}</b></td>
                        <td class="text-center"><b>{{item?.numero_documento}}</b></td>
                        <td colspan="2" class="text-center">
                            <a style="cursor: pointer" class="btn-primary-outline">
                                <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                            </a>&nbsp;
                        </td>

                        <!--MODAL VISOR PDF-->
                        <ng-template #visorInteres let-c="close" let-d="dismiss">
                            <div class="row">
                                <div class="col">
                                    <div class="modal-header text-center" id="demoFont">
                                        <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe width="100%" height="500px" [src]="  '../' + item.archivo_1 | safeUrl" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="modal-footer" [hidden]="true">
                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!--MODAL VISOR PDF-->

                        <td colspan="4"><b>{{item?.descripcion}}</b></td>
                        <td class="text-center">
                            <b>{{ item?.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ item?.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                        <td class="text-center">
                            <b>{{ item?.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
                        </td>
                    </tr>
                    <!--Cierre del mes-->
                    <tr>
                        <th colspan="12" class="text-right"><i class="fas fa-dollar-sign"></i> Total Cierre del Mes</th>
                        <td scope="col" class="text-center">
                            <strong><b>{{ montosTotales?.cierre_mes | currency:"CLP" : "symbol-narrow":'1.0'}}</b></strong>
                        </td>
                    </tr>

                    <!--total del cierre de mes--><br>
                    <tr>
                        <th colspan="10" class="text-right"><i class="fas fa-plus-circle"></i> INGRESOS
                        </th>
                        <td colspan="2" class="text-center">
                            <strong>{{ montosTotales?.total_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</strong>
                        </td>
                    </tr>

                    <tr>
                        <th colspan="10" class="text-right"><i class="fas fa-minus-circle"></i> EGRESOS
                        </th>
                        <td colspan="2" class="text-center">
                            <strong>{{ montosTotales?.total_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</strong>
                        </td>
                    </tr>

                    <tr>
                        <th colspan="10" class="text-right"><i class="fas fa-dollar-sign"></i> CIERRE MENSUAL ACTUAL (INGRESO - EGRESO)</th>
                        <td colspan="2" class="text-center">
                            <strong>{{ montosTotales?.total | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <!--Boton para salir del modal caja chica-->
        <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
                class="far fa-arrow-alt-circle-left"></i> Volver a Cuentas</button>
    </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn-primary btn-block btn-lg" type="button" (click)="openModalCajaChica(bienestarSocio)"><b>Bienestar</b>
</button>