<ng-template #modalUsuarioNacimiento let-modal>
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><i class="fas fa-calendar-alt"></i> <strong> Validar accion</strong></h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input #rut class="form-control form-control-sm" type="" name="" [value]="user.rut">
    <br>
    <input #password autocomplete="false" class="form-control form-control-sm" type="password"
      placeholder="Ingrese su contraseña" name="">
    <br>
    <button class="btn btn-success btn-block btn-sm" (click)="btn_validar_usuario(rut,password,validar);">
      Validar <img *ngIf="load" padding="15px" height="15px"
        src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
    </button>
  </div>
</ng-template>

<div class="card">
  <div class="container-fluid">

    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row justify-content-between">

        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
          <div class="form-group">
            <br><label><strong>Ingrese Fecha</strong></label> <br>
            <input type="date" class="form-control form-control-sm" name="fecha" [(ngModel)]="InsertarNacimiento.fecha" required>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
          <div class="form-group">
            <br><label><strong>N° del Comprobante</strong></label>
            <input type="text" class="form-control form-control-sm" name="nDocumento" [(ngModel)]="InsertarNacimiento.numero_documento_1" required>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
          <div class="form-group">
            <br><label><strong>Subir Comprobante Bancario</strong></label>
            <input class="form-control-file" type="file" [(ngModel)]="InsertarNacimiento.archivo_documento_1" required>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row justify-content-between">

        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
          <div class="form-group">
            <br><label><strong>Seleccione Tipo</strong></label>
            <select name="tipo" id="tipo" class="form-control form-control-sm" [(ngModel)]="InsertarNacimiento.definicion" required>
              <option value="">--Seleccione--</option>
              <option value="2">Egreso</option>
            </select>
          </div>
        </div><br>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
          <div class="form-group">
            <br><label><strong>Ingrese Monto</strong></label>
            <input type="number" class="form-control form-control-sm" name="monto" [(ngModel)]="InsertarNacimiento.monto" required>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
          <div class="form-group">
            <br><label><strong>Ingrese Descripcion</strong></label>
            <input type="text" class="form-control form-control-sm" minlength="5" maxlength="160" name="descripcion" [(ngModel)]="InsertarNacimiento.descripcion" required>
          </div>
        </div>


      </div>
    </div>

    <div class="col-12 col-md-11 col-lg-12 col-xl-12">
      <div class="row justify-content-between">

        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
          <div class="form-group">
            <br><label><strong>Rut Carga Legal</strong></label>
            <input type="text" class="form-control form-control-sm" name="rutNac" [(ngModel)]="InsertarNacimiento.rut_carga" required>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
          <div class="form-group">
            <br><label><strong>Guardar Nacimiento</strong></label><br>
            <button class="btn btn-success btn-block btn-sm" (click)="validar_usuario(modalUsuarioNacimiento)"
            [disabled]="getIdSocio == ''
                     || getIdSocio == null
                     || InsertarNacimiento.fecha == ''
                     || InsertarNacimiento.numero_documento_1 == '' 
                     || InsertarNacimiento.archivo_documento_1 == null
                     || InsertarNacimiento.monto == ''
                     || InsertarNacimiento.monto == null
                     || InsertarNacimiento.definicion == ''
                     || InsertarNacimiento.descripcion == ''
                     || InsertarNacimiento.rut_carga == ''">
                     Guardar
              <img *ngIf="blockIngreso == true" padding-left="20px" height="15px"
                src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>