<br>


<div class="card-header" id="demoFont2">
  <h6 class="card-title">Detalles Cuentas Sindical</h6>
</div>

<div class="card">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="anio">Seleccione Año</label>
          <select name="anio" class="form-control" name="anio" #anio="ngModel" [(ngModel)]="idAnioActual" (change)="changeAnio($event)">
            <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead class="theadazul">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">N° Reunión</th>
            <th scope="col">Titulo</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemAcuerdos of acuerdos">
            <td class="firsttd">{{itemAcuerdos.nuevo}}</td>
            <td>{{itemAcuerdos.fecha | date:'shortTime'}}</td>
            <td>{{itemAcuerdos.id}}</td>
            <td>{{itemAcuerdos.titulo}}</td>
            <td>
              <span *ngIf="itemAcuerdos.id_estado_acuerdo == 0" class="text-primary">Pendiente</span>
              <span *ngIf="itemAcuerdos.id_estado_acuerdo == 1" class="text-success">Aprobado</span>
              <span *ngIf="itemAcuerdos.id_estado_acuerdo == 2" class="text-danger">Rechazado</span>
            </td>
            <td><button class="btn btn-primary"
                (click)="abrirModalTest(hojaAcuerdo, itemAcuerdos.id)">Visualizar</button></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div *ngIf="acuerdos.length == 0" class="alert alert-dark" role="alert">
      Aún no existen reuniones anteriores
    </div>

  </div>
</div>

<ng-template #hojaAcuerdo let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-briefcase"></i> Detalle del Acuerdo</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">

    <div *ngIf="!acuerdo.id" class="loader"></div>

    <div *ngIf="acuerdo.id">

      <div class="d-flex justify-content-start">
        <img src="/assets/logo-sindicato-transparente.png" width="90px" height="70px">
      </div>

      <h3 style="text-align: center;">
        <b>{{acuerdo.titulo | titlecase}}</b>
      </h3>

      <p><b>Creado Por:</b></p>
      <p>{{acuerdo.nombre}}</p>

      <p><b>Fecha:</b></p>
      <p>{{acuerdo.nuevo}}</p>

      <div>
        <p><b>Tipo de Acta:</b></p>
        <p>
          <span *ngIf="acuerdo.id_tipo_acuerdo == 1">Ordinaria</span>
          <span *ngIf="acuerdo.id_tipo_acuerdo == 2">Extraordinaria</span>
        </p>
      </div>

      <div>
        <p><b>Estado del Acta:</b></p>
        <p>
          <span *ngIf="acuerdo.id_estado_acuerdo == 0">Pendiente</span>
          <span *ngIf="acuerdo.id_estado_acuerdo == 1">Aprobado</span>
          <span *ngIf="acuerdo.id_estado_acuerdo == 2">Rechazado</span>
        </p>
      </div>

      <p><b>Temas a tratar:</b></p>
      <p>{{acuerdo.contenido}}</p>

      <p><b>Motivo de <span *ngIf="acuerdo.id_estado_acuerdo == 1">Aprobado</span>
          <span *ngIf="acuerdo.id_estado_acuerdo == 2">Rechazado</span></b></p>
      <p>{{acuerdo.descripcion_cambio_estado}}</p>
      <br>
    </div>
  </div>
  <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" id="botonCerrarModal" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>