<ng-template #tablaBeneficiosSocio let-modal>
    <div class="modal-header sticky-top" id="demoFont">
      <h6 class="modal-title"><strong><i class="fas fa-table"></i>  Datos del Socio: {{getNombreSocio}}</strong></h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
     <!--Cuerpo del body inicio y cierre mensual-->
    <div class="modal-body" id="printJS-table">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm text-center">
          <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row justify-content-center">

              <div class="col-12 col-md-5 col-lg-5 col-xl-5">
                  <tr>
                    <th style="background: #138D75">N° Cta.</th>
                    <td><input type="text" class="sinbordefondo" value="{{traerDatosSocio.numero_cuenta}}"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75">banco</th>
                    <td><input type="text" class="sinbordefondo" value="{{ traerDatosSocio.banco }}"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Cuenta</th>
                    <!-- <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td> -->
                    <td>
                      <select name="Cta" id="cta" class="form-control form-control-sm" 
                        [(ngModel)]="traerDatosSocio.tipo_cuenta_banco_id"
                       required>
                        <option value="">--Seleccione--</option>
                        <option value="1">Cuenta Rut</option>
                        <option value="2">Cuenta Vista</option>
                        <option value="3">Cuenta Corriente</option>
                      </select>
                    </td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Isapre o Fonasa</th>
                    <td><input type="text" class="sinbordefondo" value="{{traerDatosSocio.isapre_fonasa}}"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Grupo Sangre</th>
                    <td><input type="text" class="sinbordefondo" value="{{traerDatosSocio.grupo_sangre}}"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75">Direccion</th>
                    <td><input type="text" class="sinbordefondo" value="{{traerDatosSocio.direccion}}"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <!-- <tr>
                    <th style="background: #138D75">Region</th>
                    <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75">Provincia</th>
                    <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Comuna</th>
                    <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr> -->
                  <tr>
                    <th style="background: #138D75;">Telefono</th>
                    <td><input type="text" class="sinbordefondo" value="{{traerDatosSocio.telefono}}"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr> 
                  <tr>
                    <th style="background: #138D75;">Celular</th>
                    <td><input type="text" class="sinbordefondo" value="{{traerDatosSocio.celular}}"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Anexo</th>
                    <td><input type="text" class="sinbordefondo" value="{{traerDatosSocio.anexo}}"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr><br>
              </div>

              <div class="col-12 col-md-5 col-lg-5 col-xl-5">
     
                  <tr>
                    <th style="background: #138D75;">Email Personal</th>
                    <td><input type="text" class="sinbordefondo" value="{{traerDatosSocio.email_1}}"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Email Corporativo</th>
                    <td><input type="text" class="sinbordefondo" value="{{traerDatosSocio.email_2}}"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Cargo Planta</th>
                    <td><input type="text" class="sinbordefondo" value="{{traerDatosSocio.cargo_planta}}"></td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Cargo o Comision</th>
                    <!-- <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td> -->
                    <td>
                        <select name="Rol" id="rol" class="form-control form-control-sm"  [(ngModel)]="traerDatosSocio.cargo_comision_sindicato" required>
                        <option value="">--Seleccione--</option>
                        <option value="1">Socio</option>
                        <option value="2">Directiva</option>
                      </select>
                    </td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Casa Propia</th>
                    <!-- <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td> -->
                    <td>
                       <select name="Rol" id="rol" class="form-control form-control-sm" 
                       [(ngModel)]="traerDatosSocio.casa_propia" required>
                        <option value="">--Seleccione--</option>
                        <option value="S">Si</option>
                        <option value="N">No</option>
                      </select>
                    </td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Rol Turno</th>
                    <!-- <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td> -->
                    <td>
                      <select name="Rol" id="rol" class="form-control form-control-sm" 
                      [(ngModel)]="traerDatosSocio.rol_turno" required>
                      <option value="">--Seleccione--</option>
                      <option value="S">Si</option>
                      <option value="N">No</option>
                    </select>
                    </td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Estado Civil</th>
                    <!-- <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td> -->
                    <td>
                      <select name="Civil" id="civil" class="form-control form-control-sm" 
                      [(ngModel)]="traerDatosSocio.estado_civil_id" required>
                        <option value="">--Seleccione--</option>
                        <option value="1">Soltero/a</option>
                        <option value="2">Casado/a</option>
                        <option value="3">Viudo/a</option>
                        <option value="4">Divorciado/a</option>
                        <option value="5">Conviviente civil</option>
                      </select>
                    </td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <th style="background: #138D75;">Conyuge</th>
                    <!-- <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td> -->
                    <td>
                      <select name="Rol" id="rol" class="form-control form-control-sm"
                       [(ngModel)]="traerDatosSocio.conyuge" required>
                    <option value="">--Seleccione--</option>
                    <option value="S">Si</option>
                    <option value="N">No</option>
                  </select>
                    </td>
                    <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                  </tr> <br>
              </div>
              
            </div>
          </div>
        </table>
      </div>
    </div>

    <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
    <div class="modal-footer">
        <button type="button" class="btn btn-success" 
    onclick="printJS({
      printable: 'printJS-table',
      type:'html',
      style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
    })">
    <i class="fas fa-print"></i>  Imprimir Datos
    </button>

    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i class="far fa-arrow-alt-circle-left"></i>  Volver Beneficios Socio
    </button>
    </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn btn-success btn-block btn-sm" type="button" (click)="verTablaBeneficios(tablaBeneficiosSocio)">Ver Datos</button>

    