<div class="card mt-4">
    <div class="card-header" id="demoFont">
        <strong class="text-center">
            <h6><i class="fas fa-file-invoice"></i> Generar Liquidaciones</h6>
        </strong>
    </div>

    <div class="card-body">
        <p>
            <ngb-alert [dismissible]="false">
                <strong>Advertencia!</strong> Verifique que los datos de "Haberes" y "Descuentos" sean totalmente
                correctos antes de generar la liquidación.
            </ngb-alert>
        </p>

        <label for="">Empleado: </label><br>
        <select [(ngModel)]="empleado" (change)="traerDatosLiquidacion()" class="form-control">
            <option value="">Seleccione..</option>
            <option *ngFor="let e of empleados" value="{{e.id}}">{{ e.nombre_trabajador }}</option>
        </select>

        <!-- <div class="row mt-2">
            <div class="col-md-6">
                <label>Ingrese Dias Trabajados</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label>Ingrese Horas Extras</label>
                <input type="text" class="form-control">
            </div>
        </div> -->

        <button class="btn btn-success btn-block mt-4">Generar Liquidacion</button>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header" id="demoFont">
        <strong class="text-center">
            <h6><i class="fas fa-file-invoice"></i> Liquidación de Sueldo</h6>
        </strong>
    </div>

    <div class="card-body">
        <!-- HOJA DE IMPRESIÓN -->
        <div class="row">
            <div class="col-md-12">
                <div id="printJS-table">
                    <div class="table-responsive">
                        <table class="tg">
                            <tr>
                                <th class="tg-vm9s" colspan="3">Liquidación de Sueldo</th>
                            </tr>
                            <tr>
                                <td class="tg-73oq"><span style="font-weight:bold">Trabajador: Bryan Vidal Diaz</span>
                                </td>
                                <td class="tg-73oq" colspan="2"><span style="font-weight:bold; text-align: center;">Rut:
                                        18.522.783-9</span></td>
                            </tr>
                            <tr>
                                <td class="tg-73oq"><span style="font-weight:bold">Empleador: Sindicado de empresas CMPC
                                        celulosa S.A.F</span></td>
                                <td class="tg-73oq" colspan="2"><span style="font-weight:bold; text-align: center;">Rut:
                                        75.315.800-6</span></td>
                            </tr>
                            <tr>
                                <td class="tg-73oq">N° Dias Trabajados: 31</td>
                                <td class="tg-73oq">Sueldo base del mes marzo del 2020</td>
                                <td class="tg-73oq">$330.037</td>
                            </tr>
                            <tr>
                                <td class="tg-73oq">N° Horas 50%: </td>
                                <td class="tg-73oq">Horas extraordinarias: 0.007778</td>
                                <td class="tg-73oq">$0</td>
                            </tr>
                            <tr>
                                <td class="tg-73oq">N° Horas 100%: 16</td>
                                <td class="tg-73oq">Dia domingo: 0.008333</td>
                                <td class="tg-73oq">$44.005</td>
                            </tr>
                            <tr>
                                <td class="tg-73oq" colspan="2">Bono Trimestral:</td>
                                <td class="tg-73oq">$342.000</td>
                            </tr>
                            <tr>
                                <td class="tg-73oq" colspan="2"><span style="font-weight:bold">Total Remuneración
                                        Imponible</span></td>
                                <td class="tg-73oq"><span style="font-weight:bold">$716.042</span></td>
                            </tr>
                            <tr>
                                <td class="tg-73oq">N° de Cargas: 1</td>
                                <td class="tg-73oq">Cargas asignación familiar</td>
                                <td class="tg-73oq">$2.551</td>
                            </tr>
                            <tr>
                                <td class="tg-73oq" colspan="2">Tarjeta Celular:</td>
                                <td class="tg-73oq">$10.000</td>
                            </tr>
                            <tr>
                                <td class="tg-73oq" colspan="2">Movilización Camping:</td>
                                <td class="tg-73oq">$0</td>
                            </tr>
                            <tr>
                                <td class="tg-73oq" colspan="2">Colación:</td>
                                <td class="tg-73oq">$25.000</td>
                            </tr>
                            <tr>
                                <td class="tg-73oq" colspan="2">Movilización:</td>
                                <td class="tg-73oq">$25.000</td>
                            </tr>
                            <tr>
                                <td class="tg-73oq" colspan="2"><span style="font-weight:bold">Total Haber:</span></td>
                                <td class="tg-mcqj">$778.593</td>
                            </tr>
                            <!-- <tr>
                                <td class="tg-73oq">Descuento Salud INP:</td>
                                <td class="tg-73oq">7.00%</td>
                                <td class="tg-73oq">$50.123</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax">Descuento AFP Provida:</td>
                                <td class="tg-0lax">11,45%</td>
                                <td class="tg-0lax">$81.987</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax">Seguro de Cesantia:</td>
                                <td class="tg-0lax">0.6%</td>
                                <td class="tg-0lax">$4.296</td>
                            </tr>
                            <tr>
                                <td class="tg-1wig" colspan="2">Total Descuentos Previsionales:</td>
                                <td class="tg-0lax">$136.406</td>
                            </tr> -->
                            <tr>
                                <td class="tg-0lax" colspan="2">Anticipo:</td>
                                <td class="tg-0lax">$0</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax" colspan="2">Descuentos Previsionales:</td>
                                <td class="tg-0lax">$136.406</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax" colspan="2">Descuento Trimestral:</td>
                                <td class="tg-0lax">$276.849</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax" colspan="2">Descuento: </td>
                                <td class="tg-0lax">$0</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax" colspan="2">Total Descuentos: </td>
                                <td class="tg-0lax">$413.255</td>
                            </tr>
                            <tr>
                                <td class="tg-1wig" colspan="2">Saldo Liquido:</td>
                                <td class="tg-1wig">$365.338</td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <p><b>Saldo Liquido en letras: </b> <input type="text" class="form-control"></p>
                    <p><b>CERTIFICO QUE HE RECIBIDO DE:</b> DON JAIME FLORES CASTILLO REPRESENTANTE LEGAL DEL SINDICATO
                        DE EMPRESAS CMPC CELULOSA S.A. PLANTA SANTA FE.</p>
                    <p>A MI ENTERA SATISFACCION EL SALDO LIQUIDO EN LA PRESENTE LIQUIDACION Y NO TENGO CARGO NI COBRO
                        ALGUNO POSTERIOR QUE HACER, POR NINGUNO DE LOS CONCEPTOS COMPRENDIDOS EN ELLA.</p>
                    <br><br><br><br><br><br>
                    <div class="test">
                        <span style="margin-right: auto; border-top: 1px solid black;">FIRMA DEL EMPLEADOR</span> <span
                            style="margin-left: 20rem; border-top: 1px solid black;">FIRMA DEL TRABAJADOR</span>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-success btn-block mt-4" onclick="printJS({
            printable: 'printJS-table',
            type:'html',
            style: '.tg  {border-collapse:collapse;border-spacing:0;}.tg td{font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-width:1px;overflow:hidden;word-break:normal;}.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:5px 5px;border-width:1px;overflow:hidden;word-break:normal;}.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}.tg .tg-vm9s{background-color:#268108;text-align:center;vertical-align:top}.tg .tg-73oq{text-align:left;vertical-align:top}.tg .tg-mcqj{font-weight:bold;text-align:left;vertical-align:top}.tg .tg-0lax{text-align:left;vertical-align:top} input{width: 100%;background: transparent; border: none;}'
          })">
            <i class="fas fa-print"></i> Imprimir Datos
        </button>
    </div>

</div>