<div class="animate__animated animate__fadeIn">
  <div class="row">
      <br><br>
      <div class="col-md-12 mt-4">
          <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="myTab" role="tablist">

              <li class="nav-item active">
                  <a class="nav-link" id="formReuniones-tab" data-toggle="tab" href="#formReuniones" role="tab" aria-controls="formReuniones" aria-selected="true">Reuniones</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" id="formTemas-tab" data-toggle="tab" href="#formTemas" role="tab" aria-controls="formTemas" aria-selected="true">Asamblea Online</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="actas-tab" data-toggle="tab" href="#actas" role="tab" aria-controls="actas" aria-selected="false">Desarrollo de Asamblea</a>
                  <!-- href="#actas" -->
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="acuerdos-tab" data-toggle="tab" href="#acuerdos" role="tab" aria-controls="acuerdos" aria-selected="false">Acuerdos de Asamblea</a>
                  <!-- href="#acuerdos" -->
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="directorio-tab" data-toggle="tab" href="#directorio" role="tab" aria-controls="directorio" aria-selected="false">Reunion de Directorio</a>
                  <!-- href="#directorio" -->
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" id="leyes-tab" data-toggle="tab" href="#leyes" role="tab" aria-controls="leyes" aria-selected="false">Leyes Laborales</a>
                  href="#leyes"href="#leyes"
              </li> -->

              <li class="nav-item">
                  <a class="nav-link" id="actividades-tab" data-toggle="tab" href="#actividades" role="tab" aria-controls="actividades" aria-selected="false">Actividades Del Directorio</a>
                  <!-- href="#leyes"href="#leyes" -->
              </li>

          </ul>
      </div>
  </div>

  <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade" id="formReuniones" role="tabpanel" aria-labelledby="formReuniones-tab">
          <div class="card mt-4">
              <div class="card-header" id="demoFont">
                  <strong class="text-center">
            <h6><i class="fas fa-file-invoice-dollar"></i> Modulo Secretaria</h6>
          </strong>
              </div>
              <div class="card-body">
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-6 mt-4">
                              <app-nueva-reunion></app-nueva-reunion>
                          </div>
                          <div class="col-md-6 mt-4">
                              <app-editar-reunion></app-editar-reunion>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 mt-4">
                              <app-asistencia-reunion></app-asistencia-reunion>
                          </div>
                          <div class="col-md-6 mt-4">
                              <app-historial-reunion></app-historial-reunion>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Aquí Sumbitox -->
      <div class="tab-pane fade" id="formTemas" role="tabpanel" aria-labelledby="temas-tab">
          <div class="card mt-4">
              <div class="card-header" id="demoFont">
                  <strong class="text-center">
            <h6><i class="fas fa-handshake"></i> Asamblea Online </h6>
          </strong>
              </div>
              <div class="card-body">
                  <div class="col-12 col-md-12">
                      <div class="row">
                          <div class="col-12 col-md-12">
                              <app-temas></app-temas>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>

      <!-- Aquí Empanades -->
      <div class="tab-pane fade" id="acuerdos" role="tabpanel" aria-labelledby="acuerdos-tab">
          <div class="card mt-4">
              <div class="card-header" id="demoFont">
                  <strong class="text-center">
            <h6><i class="fas fa-file-invoice-dollar"></i> Acuerdos de Asamblea </h6>
          </strong>
              </div>
              <div class="card-body">
                  <div class="col-12 col-md-12">
                      <div class="row">
                          <div class="col-12 col-md-12 mt-4">
                              <app-acuerdo-asamblea></app-acuerdo-asamblea>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>

      <div class="tab-pane fade" id="actas" role="tabpanel" aria-labelledby="actas-tab">
          <div class="card mt-4">
              <div class="card-header" id="demoFont">
                  <strong class="text-center">
            <h6><i class="fas fa-file-invoice-dollar"></i> Desarrollo de Asamblea </h6>
          </strong>
              </div>
              <div class="card-body">
                  <div class="col-12 col-md-12">
                      <div class="row">
                          <div class="col-12 col-md-12 mt-4">
                              <app-actas></app-actas>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>

      <div class="tab-pane fade" id="directorio" role="tabpanel" aria-labelledby="directorio-tab">
          <div class="card mt-4">
              <div class="card-header" id="demoFont">
                  <strong class="text-center">
            <h6><i class="fas fa-file-invoice-dollar"></i> Reunion de Directorio </h6>
          </strong>
              </div>
              <div class="card-body fondo">
                  <div class="col-12 col-md-12">
                      <div class="row">
                          <div class="col-12 col-md-12 mt-4">
                              <app-directorio></app-directorio>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>

      <!-- <div class="tab-pane fade" id="leyes" role="tabpanel" aria-labelledby="leyes-tab">
          <div class="card mt-4">
              <div class="card-header" id="demoFont">
                  <strong class="text-center">
            <h6><i class="fas fa-file-invoice-dollar"></i> Leyes Laborales </h6>
          </strong>
              </div>
              <div class="card-body">
                  <div class="col-12 col-md-12">
                      <div class="row">
                          <div class="col-12 col-md-12 mt-4">
                              <app-leyes-laborales></app-leyes-laborales>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div> -->
      <div class="tab-pane fade" id="actividades" role="tabpanel" aria-labelledby="actividades-tab">
          <div class="card mt-4">
              <div class="card-header" id="demoFont">
                  <strong class="text-center">
            <h6><i class="fas fa-file-invoice-dollar"></i> Estado Actividades Del Directorio </h6>
          </strong>
              </div>
              <div class="card-body">
                  <div class="col-12 col-md-12">
                      <div class="row">
                          <div class="col-12 col-md-12">
                              <app-actividades-directorio></app-actividades-directorio>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
