<div class="row">
  <br><br>
  <div class="col-md-12 mt-4">
    <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="myTab" role="tablist">

      <li class="nav-item active">
        <a class="nav-link" id="formReuniones-tab" data-toggle="tab" href="#formReuniones" role="tab"
          aria-controls="formReuniones" aria-selected="true">Reuniones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tablaAcuerdos-tab" data-toggle="tab" href="#tablaAcuerdos" role="tab"
          aria-controls="tablaAcuerdos" aria-selected="false">Acuerdos de Asamblea</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="TablaConsorcio-tab" data-toggle="tab" href="#TablaConsorcio" role="tab"
          aria-controls="TablaConsorcio" aria-selected="false">Actas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="TablaConsorcio-tab" data-toggle="tab" href="#TablaConsorcio" role="tab"
          aria-controls="TablaConsorcio" aria-selected="false">Directorio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="TablaConsorcio-tab" data-toggle="tab" href="#TablaConsorcio" role="tab"
          aria-controls="TablaConsorcio" aria-selected="false">Leyes Laborales</a>
      </li>

    </ul>
  </div>
</div>

<div class="tab-content" id="myTabContent">

<div class="tab-pane fade" id="formReuniones" role="tabpanel" aria-labelledby="formReuniones-tab">
<div class="card mt-4">
  <div class="card-header" id="demoFont">
      <strong class="text-center">
          <h6><i class="fas fa-file-invoice-dollar"></i> Modulo Secretaria</h6>
        </strong>
  </div>
  <div class="card-body">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 mt-4">
        <app-nueva-reunion></app-nueva-reunion>
      </div>
      <div class="col-md-6 mt-4">
        <app-editar-reunion></app-editar-reunion>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
        <app-asistencia-reunion></app-asistencia-reunion>
      </div>
      <div class="col-md-6 mt-4">
        <app-historial-reunion></app-historial-reunion>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- Aquí Empanades -->
<div class="tab-pane fade" id="tablaAcuerdos" role="tabpanel" aria-labelledby="tablaAcuerdos-tab">
  <p>Coloca la etiqueta del componente general aquí</p>
</div>
</div>