<div class="row">
  <br><br>
  <div class="col-md-12 mt-4">
    <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="myTab" role="tablist">

      <li class="nav-item active">
        <a class="nav-link" id="formConsorcio-tab" data-toggle="tab" href="#formConsorcio" role="tab"
          aria-controls="formConsorcio" aria-selected="true">Reuniones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="TablaConsorcio-tab" data-toggle="tab" href="#TablaConsorcio" role="tab"
          aria-controls="TablaConsorcio" aria-selected="false">Acuerdos</a>
      </li>

    </ul>
  </div>
</div>
<div class="card mt-4">
  <div class="card-header" id="demoFont">
      <strong class="text-center">
          <h6><i class="fas fa-file-invoice-dollar"></i> Modulo Secretaria</h6>
        </strong>
  </div>
  <div class="card-body">
  <div class="col-md-12 mt-4">
    <div class="row">
      <div class="col-md-6 mt-4">
        <app-nueva-reunion></app-nueva-reunion>
      </div>
      <div class="col-md-6 mt-4">
        <app-editar-reunion></app-editar-reunion>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
        <app-asistencia-reunion></app-asistencia-reunion>
      </div>
      <div class="col-md-6 mt-4">
        <app-historial-reunion></app-historial-reunion>
      </div>
    </div>
  </div>
</div>
</div>