<div>
    <div class="row justify-content-center">
    <div class="col-md-3"><h3 style="color:darkgray">Redactar nueva acta</h3></div>
    </div>
<hr>

  <div class="row justify-content-center">
      <div class="col-md-10">
        <p>
          En <input [(ngModel)]="ubicacion" type="text" class="innputt"> a <input [(ngModel)]="fecha" type="text" class="innputt"> siendo las <input [(ngModel)]="hora" type="text" class="innputt"> hrs.
          Se da inicio a la asamblea general 
        <!-- <select class="innputt">
          <option value="">Seleccione..</option>
          <option value="1">Ordinaria</option>
          <option value="2">Extraordinaria</option>
        </select>.  -->
          de socios siendo dirigida por el <input [(ngModel)]="dirigente" type="text" class="innputt">, se hace lectura al Acta anterior la que es aprobada sin observaciones.
        </p>

      </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-11">
      <p>Miembros:</p>
      <textarea [(ngModel)]="miembros" class="ta2 form-control" placeholder="Miembros...."></textarea>
  
  
    </div>
  </div>
 <hr>
  <div class="row justify-content-center">
    <div class="col-md-11">
      <p>Orden del día:</p>
      <textarea [(ngModel)]="orden_dia" class="ta form-control" placeholder="Ordenes del día......"></textarea>
      
    
    </div>
  </div>

  <hr>
  <div class="row justify-content-center">
    <div class="col-md-11">
      <p>Puntos a tratar (Ordenes del día):</p>
      <textarea [(ngModel)]="detalle_orden_dia" class="ta form-control" placeholder="Puntos a tratar (Ordenes del día)......"></textarea>
  
  
    </div>
  </div>
<hr>
<div class="row justify-content-center">
  <div class="col-md-2">
    <button (click)="enviar()" _ngcontent-fcl-c4="" class="btn btn btn-success btn-block btn-sm" value="ingresar"><i
        _ngcontent-fcl-c4="" class="fas fa-save" aria-hidden="true"
        
        ></i> Guardar
      <!--bindings={
      "ng-reflect-ng-if": "false"
    }--></button>
  </div>

  <div class="col-md-2">
    <button (click)="modaltabla(modalt)" _ngcontent-uni-c20="" class="btn btn btn-primary btn-block btn-sm" type="button"><i _ngcontent-uni-c20=""
        class="fas fa-table" aria-hidden="true"></i> Ver Actas</button>
  </div>
</div>







  <!--Modal validar user-->
  <ng-template #modalt let-modal>
    <div class="modal-header sticky-top" id="demoFont">
      <h6 class="modal-title"><strong><i class="fas fa-table"></i> Lista de actas</strong></h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Cuerpo del body inicio y cierre mensual-->
    <div class="modal-body" id="printJS-table">

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="th_sec" scope="col">Fecha</th>
            <th class="th_sec" scope="col">Hora</th>
            <th class="th_sec" scope="col">Nª Acta</th>
            <th class="th_sec" scope="col">Encabezado</th>
            <th class="th_sec" scope="col">Opción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acta of actas; let i = index" [attr.data-index]="i">
            <th class="color-right" scope="row">{{ acta.fecha }}</th>
            <td>{{ acta.hora }}</td>
            <td>Nº{{i + 1 }}</td>
            <td>{{ acta.encabezado }}</td>
            <td> <button (click)="modal_detalle(detallem)" class="btn btn-success btn-sm">Ver</button> </td>
            <!-- <td>{{ acta.dirigente }}</td> --><!--Modal validar user-->
            <ng-template #detallem let-modal>
              <div class="modal-header sticky-top" id="demoFont">
                <h6 class="modal-title"><strong><i class="fas fa-table"></i> Detalle Acta Nº{{i+1}}</strong></h6>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!--Cuerpo del body inicio y cierre mensual-->
              <div class="modal-body" id="printJS-table">
                <div class="container" id="printJS-form">
                  <div class="d-flex justify-content-start">
                    <img src="/assets/logo-sindicato-transparente.png" width="90px" height="70px">
                  </div>
                 
                  
                    <h4 align="center">Acta de reunión Nº{{ i+1 }}</h4>
                  
                  <br>
                  <div class="">
                    <pre>{{acta.encabezado}}</pre>
                  </div>
                  <br>
                  <div class="">
                    <pre>Miembros:<br>{{acta.miembros}}</pre>
                  </div>
                  <br>
                  <div class="">
                    <pre>Orden del día:<br>{{acta.orden_dia}}</pre>
                  </div>
                  <br>
                  <div class="">
                    <pre>Detalle Orden del día:<br>{{acta.detalle_orden_dia}}</pre>
                  </div>
                  <br>
                  <div class="">
                    <pre>Redactor:<br>{{acta.dirigente}}</pre>
                  </div>
                </div>
            
              </div>
              <!-- <button type="button" onclick="printJS('printJS-form', 'html')">
                 Imprimir PDF
              </button> -->

              <button type="button" class="btn btn-success" onclick="printJS({
                printable: 'printJS-form',
                type:'html',
                style: 'pre{font-family: Arial;font-size: 15px;width: 100%;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;}'})">
                <i class="fas fa-print"></i> Imprimir Datos
              </button>
            </ng-template>
          </tr>
       
        </tbody>
      </table>



      <!-- <div class="datagrid">
        <table>
          <thead>
            <tr>
              <th>header</th>
              <th>header</th>
              <th>header</th>
              <th>header</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td colspan="4">
                <div id="paging">
                  <ul>
                    <li><a href="#"><span>Previous</span></a></li>
                    <li><a href="#" class="active"><span>1</span></a></li>
                    <li><a href="#"><span>2</span></a></li>
                    <li><a href="#"><span>3</span></a></li>
                    <li><a href="#"><span>4</span></a></li>
                    <li><a href="#"><span>5</span></a></li>
                    <li><a href="#"><span>Next</span></a></li>
                  </ul>
                </div>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>data</td>
              <td>data</td>
              <td>data</td>
              <td>data</td>
            </tr>
            <tr class="alt">
              <td>data</td>
              <td>data</td>
              <td>data</td>
              <td>data</td>
            </tr>
            <tr>
              <td>data</td>
              <td>data</td>
              <td>data</td>
              <td>data</td>
            </tr>
            <tr class="alt">
              <td>data</td>
              <td>data</td>
              <td>data</td>
              <td>data</td>
            </tr>
            <tr>
              <td>data</td>
              <td>data</td>
              <td>data</td>
              <td>data</td>
            </tr>
          </tbody>
        </table>
      </div> -->

    </div>
  </ng-template>

</div> 


<style>
  .innputt{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 200px;
  }

  .ta{
    border: 0;
    outline: 0;
    width:100%;
    height: 250px;
    margin:5px 0;
    padding:3px;
  }
  .ta2{
    border: 0;
    outline: 0;
    width:100%;
    height: 150px;
    margin:5px 0;
    padding:3px;
  }

 .th_sec{
      background: #27AE60;
      color:white;
  }
  .color-right{
    font-size: 14px;
    color:  #27AE60;
    border-right: 1px solid #27AE60;
  }

  pre {
    font-family: "arial";
    font-size: 15px;

    width: 100%;
     white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

</style>