
    .dark-modal .modal-content {
        background-color: #292b2c;
        color: white;
      }
      .dark-modal .close {
        color: white;
      }
      .light-blue-backdrop {
        background-color: #5cb3fd;
      }
  
      label,input, button{
        font-size: 14px;
      }
  
      tr,th{
        font-size: 14px;
      }
      th{
        color: white;
        background: #138D75;
      }
      
      #demoFont {
        color: #fff;
        background: #2C3E50;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .margen{
          display: flex;
          justify-content: center;
          width: 100%;
        }
  
  