 <!--Modal para el inicio y cierre mensual-->
 <ng-template #TablaSindical let-modal>
    <form>
      <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong><i class="fas fa-table"></i>  Tabla Sindical</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <!--Cuerpo del body inicio y cierre mensual-->
       <div class="modal-body">

        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3"><br><label>
            <strong>Filtro por Año  </strong>
            <i class="fas fa-calendar-check"></i>
          </label>
            <select (change)="changeAnio($event)" name="anio" #anio="ngModel" [(ngModel)]="valorAnio.descripcion" class="form-control form-control-sm">
              <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
            </select>
          </div>
        
          <div class="col-sm-6 col-md-3 col-lg-3"><br><label>
            <strong>Filtro por Mes  </strong>
            <i class="fas fa-calendar-check"></i>
          </label>
            <select (change)="changeMes($event)" name="mes" #mes="ngModel" [(ngModel)]="valorMes.descripcion" class="form-control form-control-sm">
              <option *ngFor="let mes of selectMes" [value]="mes.id">{{mes.descripcion}}</option>
            </select>
          </div>
        </div><br>

        <div class="table-responsive">
          <table class="table table-striped table-bordered table-sm">
              <thead text-sm>
                  
                <tr>
                  <th colspan="14" class=" text-center"  id="demoFont"><h6>Movimiento mensual</h6></th>
                </tr>
                <tr class="text-center">
                    <th colspan="11" style="background: #138D75">Cuenta Sindical</th>
                    <th style="background: #229954; color:#FDFEFE">Cierre Mensual Mes Junio</th>
                </tr>
                <tr class="text-center">  
                  <th colspan="3" style="background: #138D75"><i class="far fa-calendar-alt"></i> Fecha</th>
                  <th style="background: #138D75">N° Doc</th>
                  <th style="background: #138D75"><i class="far fa-file-pdf"></i> PDF</th>
                  <!--fijos-->
                  <th colspan="4" style="background: #138D75;color:#FDFEFE">Ingresos y Egresos Fijos</th>
                  <th style="background: #138D75"><i class="fas fa-plus-circle"></i> Ingresos</th>
                  <th style="background: #138D75"><i class="fas fa-minus-circle"></i> Egresos</th>
                  <!--cuenta del cierre del mes actual-->
                  <td class="text-center"><strong>{{ 2000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemFijo of fijos">
                  <td colspan="3" class="text-center">{{itemFijo.fecha}}</td>
                  <td class="text-center">{{itemFijo.numero_documento}}</td>
                  <td class="text-center">
                    <a href="{{  '../storage/' + itemFijo.archivo_documento}}" target="_blank"><i class="far fa-file-alt"></i></a>
                  </td>
                  <td colspan="4">{{itemFijo.descripcion}}</td>
                  <td class="text-center">{{ itemFijo.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                  <td class="text-center">{{ itemFijo.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                  <!--acumulado cierre del mes actual-->
                  <td class="text-center">{{ itemFijo.saldo_actual_raw | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                </tr>

                <!--variables-->
                <tr class="text-center">
                  <th colspan="3" style="background: #138D75"><i class="far fa-calendar-alt"></i> Fecha</th>
                  <th style="background: #138D75">N° Doc</th>
                  <th style="background: #138D75"><i class="far fa-file-pdf"></i> PDF</th>
                  <th colspan="4" style="background: #138D75;color:#FDFEFE">Ingresos y Egresos Variables</th>
                  <th style="background: #138D75"><i class="fas fa-plus-circle"></i> Ingresos</th>
                  <th style="background: #138D75"><i class="fas fa-minus-circle"></i> Egresos</th>
                  <td></td>
                </tr>

                <tr *ngFor="let itemVariable of variable"> 
                    <td colspan="3" class="text-center">{{itemVariable.fecha}}</td>
                    <td scope="col" class="text-center">{{itemVariable.numero_documento}}</td>
                    <td scope="col" class="text-center">
                      <a href="{{  '../storage' + itemVariable.archivo_documento}}" target="_blank"><i class="far fa-file-alt"></i></a>
                    </td>
                    <td scope="col" colspan="4">{{itemVariable.descripcion}}</td>
                    <td scope="col" class="text-center">{{ itemVariable.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                    <td scope="col" class="text-center">{{ itemVariable.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                    <!--acumulado cierre del mes actual-->
                    <td scope="col" class="text-center">{{ itemVariable.saldo_actual_raw | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                  </tr>

                  <!--caja chica-->
                <tr class="text-center">
                    <th colspan="3" style="background: #138D75"><i class="far fa-calendar-alt"></i> Fecha</th>
                    <th style="background: #138D75">N° Doc</th>
                    <th style="background: #138D75"><i class="far fa-file-pdf"></i> PDF</th>
                    <th colspan="4" style="background: #138D75;color:#FDFEFE">Detalle Caja Chica</th>
                    <th style="background: #138D75"><i class="fas fa-plus-circle"></i> Ingresos</th>
                    <th style="background: #138D75"><i class="fas fa-minus-circle"></i> Egresos</th>
                    <td></td>
                  </tr>
  
                  <tr *ngFor="let itemCajaChica of cajaChica">
                      <td colspan="3" class="text-center">{{itemCajaChica.fecha}}</td>
                      <td scope="col" class="text-center">{{itemCajaChica.numero_documento}}</td>
                      <td scope="col" class="text-center">
                          <a href="{{  '../storage' + itemCajaChica.archivo_documento}}" target="_blank"><i class="far fa-file-alt"></i></a>
                      </td>
                      <td scope="col" colspan="4">{{itemCajaChica.descripcion}}</td>
                      <td scope="col" class="text-center">{{ itemCajaChica.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                      <td scope="col" class="text-center">{{ itemCajaChica.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                      <!--acumulado cierre del mes actual-->
                      <td scope="col" class="text-center">{{ itemCajaChica.saldo_actual_raw | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                    </tr>

                     <!--Prestamos-->
                <tr class="text-center">
                    <th colspan="3" style="background: #138D75"><i class="far fa-calendar-alt"></i> Fecha</th>
                    <th style="background: #138D75">N° Doc</th>
                    <th style="background: #138D75"><i class="far fa-file-pdf"></i> PDF</th>
                    <th colspan="4" style="background: #138D75;color:#FDFEFE">Prestamos Ingresos y Egresos</th>
                    <th style="background: #138D75"><i class="fas fa-plus-circle"></i> Ingresos</th>
                    <th style="background: #138D75"><i class="fas fa-minus-circle"></i> Egresos</th>
                    <td></td>
                  </tr>
  
                  <tr *ngFor="let itemPrestamo of prestamo">
                      <td colspan="3" class="text-center">{{itemPrestamo.fecha}}</td>
                      <td scope="col" class="text-center">{{itemPrestamo.numero_documento}}</td>
                      <td scope="col" class="text-center">
                          <a href="{{  '../storage' + itemPrestamo.archivo_documento}}" target="_blank"><i class="far fa-file-alt"></i></a>
                      </td>
                      <td scope="col" colspan="4">{{itemPrestamo.descripcion}}</td>
                      <td scope="col" class="text-center">{{ itemPrestamo.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                      <td scope="col" class="text-center">{{ itemPrestamo.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                      <!--acumulado cierre del mes actual-->
                      <td scope="col" class="text-center">{{ itemPrestamo.saldo_actual_raw | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                    </tr>

                     <!--comite camping-->
                <tr class="text-center">
                    <th colspan="3" style="background: #138D75"><i class="far fa-calendar-alt"></i> Fecha</th>
                    <th style="background: #138D75">N° Doc</th>
                    <th style="background: #138D75"><i class="far fa-file-pdf"></i> PDF</th>
                    <th colspan="4" style="background: #138D75;color:#FDFEFE">Comite Camping</th>
                    <th style="background: #138D75"><i class="fas fa-plus-circle"></i> Ingresos</th>
                    <th style="background: #138D75"><i class="fas fa-minus-circle"></i> Egresos</th>
                    <td></td>
                  </tr>
  
                  <tr *ngFor="let itemCamping of camping">
                      <td colspan="3" class="text-center">{{itemCamping.fecha}}</td>
                      <td scope="col" class="text-center">{{itemCamping.numero_documento}}</td>
                      <td scope="col" class="text-center">
                          <a href="{{  '../storage' + itemCamping.archivo_documento}}" target="_blank"><i class="far fa-file-alt"></i></a>
                      </td>
                      <td scope="col" colspan="4">{{itemCamping.descripcion}}</td>
                      <td scope="col" class="text-center">{{ itemCamping.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                      <td scope="col" class="text-center">{{ itemCamping.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                      <!--acumulado cierre del mes actual-->
                      <td scope="col" class="text-center">{{ itemCamping.saldo_actual_raw | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                    </tr>
    
  

                      <tr>
                        <th colspan="11" class="text-right">Total Cierre del Mes</th>
                        <td scope="col" class="text-center"><strong>{{ 750000 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
                      </tr>
              </tbody>
            </table>
        </div> 
        <!--total del cierre de mes-->
        <div class="table-responsive">
            <table class="table table-bordered table-sm">
              <thead text-sm class="text-center">
                <tr>
                  <th col>INGRESOS</th>
                  <td col><strong>{{ 11000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
                </tr>
        
                <tr>
                  <th col>EGRESOS</th>
                  <td col><strong>{{ 2443202 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
                </tr>
                <tr>
                  <th col>CIERRE MENSUAL MES MAYO</th>
                  <td col><strong>{{ 8556798 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
                </tr>
              </thead>
            </table>
          </div>
          
       </div>

       <div *ngIf="loading" class="loader">Loading...</div>

     <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
     <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="modal.close('Close click')">Volver a Cuenta Sindical
        </button>
      </div>
    </form>
  </ng-template>
  
  <!--Boton Para llamar al Modal inicio y cierre mensual-->
  
          
            <button class="btn btn btn-success btn-block btn-sm" (click)="openTablaSindical(TablaSindical)"><i class="fas fa-table"></i> Ver Tabla</button>



