<ng-template #formularioBeneficiosSocio let-modal>
    <div class="modal-header sticky-top" id="demoFont2">
      <h6 class="modal-title"><i class="fas fa-table"></i>  Datos del Socio</h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
     <!--Cuerpo del body inicio y cierre mensual-->
    <div class="modal-body" id="printJS-table"> 
    <!--Datos del socio-->
      <div class="card">
        <form #BeneficiosForm="ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

          <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
            <div class="row justify-content-between">
              
              <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
                <div class="form-group">
                  <label><strong>N° de Cta</strong></label>
                  <input type="text" class="form-control form-control-sm" required>
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
                <div class="form-group">
                  <label><strong>Banco</strong></label>
                  <input type="text" class="form-control form-control-sm" required>
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
                <div class="form-group">
                  <label><strong>Tipo de Cta</strong></label>
                  <select name="Cta" id="cta" class="form-control form-control-sm" required>
                    <option value="">--Seleccione--</option>
                    <option value="">Cuenta Rut</option>
                    <option value="">Cuenta Vista</option>
                    <option value="">Cuenta Corriente</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
            <div class="row justify-content-between">

              <div class="col-12 col-md-5 col-lg-5 col-xl-5"> 
                <div class="form-group">
                  <label><strong>Isapre o Fonasa</strong></label>
                  <input type="text" class="form-control form-control-sm" required>
                </div>
              </div>

              <div class="col-12 col-md-5 col-lg-5 col-xl-5"> 
                <div class="form-group">
                  <label><strong>Grupo Sangre</strong></label>
                  <input type="text" class="form-control form-control-sm" required>
                </div>
              </div>

            </div>
          </div>  

          <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
            <div class="row justify-content-between">

              <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
                <div class="form-group">
                  <label><strong>Direccion*</strong></label>
                  <input type="text" class="form-control form-control-sm" required>
                </div>
              </div>

              <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
                <div class="form-group">
                  <label><strong>Region</strong></label>
                  <input type="text" class="form-control form-control-sm" required>
                </div>
              </div>

              <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
                <div class="form-group">
                  <label><strong>Provincia</strong></label>
                  <input type="text" class="form-control form-control-sm" required>
                </div>
              </div>

                <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
                  <div class="form-group">
                    <label><strong>Comuna</strong></label>
                    <input type="text" class="form-control form-control-sm" required>
                  </div>
                </div>

            </div>
          </div>  

          <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
            <div class="row justify-content-between">

              <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
                <div class="form-group">
                  <label><strong>Telefono</strong></label>
                  <input type="number" class="form-control form-control-sm" required>
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
                <div class="form-group">
                  <label><strong>Celular</strong></label>
                  <input type="number" class="form-control form-control-sm" required>
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-4 col-xl-4"> 
                <div class="form-group">
                  <label><strong>Anexo</strong></label>
                  <input type="text" class="form-control form-control-sm" required>
                </div>
              </div>

            </div>
          </div>  

          <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
            <div class="row justify-content-between">

              <div class="col-12 col-md-5 col-lg-5 col-xl-5"> 
                <div class="form-group">
                  <label><strong>Email Personal*</strong></label>
                  <input type="email" class="form-control form-control-sm" required>
                </div>
              </div>

              <div class="col-12 col-md-5 col-lg-5 col-xl-5"> 
                <div class="form-group">
                  <label><strong>Email Corporativo</strong></label>
                  <input type="email" class="form-control form-control-sm" required>
                </div>
              </div>

            </div>
          </div> 
          
          <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
            <div class="row justify-content-between">

              <div class="col-12 col-md-5 col-lg-5 col-xl-5"> 
                <div class="form-group">
                  <label><strong>Cargo Planta</strong></label>
                  <input type="text" class="form-control form-control-sm" required>
                </div>
              </div>

              <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
                <div class="form-group">
                  <label><strong>Cargo o Comision Sindicato</strong></label>
                  <select name="Rol" id="rol" class="form-control form-control-sm" required>
                      <option value="">--Seleccione--</option>
                      <option value="">Socio</option>
                      <option value="">Directiva</option>
                    </select>
                </div>
              </div>

              <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
                <div class="form-group">
                  <label><strong>Casa Propia</strong></label>
                  <select name="Rol" id="rol" class="form-control form-control-sm" required>
                    <option value="">--Seleccione--</option>
                    <option value="">Si</option>
                    <option value="">No</option>
                  </select>
                </div>
              </div>

            </div>
          </div> 
          
          <div class="col-12 col-md-12 col-lg-12 col-xl-12"><br>
            <div class="row justify-content-between">

              <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
                <div class="form-group">
                  <label><strong>Rol Turno</strong></label>
                <select name="Rol" id="rol" class="form-control form-control-sm" required>
                  <option value="">--Seleccione--</option>
                  <option value="">Si</option>
                  <option value="">No</option>
                </select>
                </div>
              </div>

              <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
                <div class="form-group">
                  <label><strong>Estado Civil</strong></label>
                  <select name="Civil" id="civil" class="form-control form-control-sm" required>
                    <option value="">--Seleccione--</option>
                    <option value="">Soltero/a</option>
                    <option value="">Casado/a</option>
                    <option value="">Viudo/a</option>
                    <option value="">Divorciado/a</option>
                    <option value="">Conviviente civil</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-md-3 col-lg-3 col-xl-3"> 
                <div class="form-group">
                  <label><strong>Conyuge / Pareja</strong></label>
                  <select name="Rol" id="rol" class="form-control form-control-sm" required>
                    <option value="">--Seleccione--</option>
                    <option value="">Si</option>
                    <option value="">No</option>
                  </select>
                </div>
              </div>

            </div>
          </div>  

          <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row justify-content-end">

              <div class="col-12 col-md-3 col-lg-3 col-xl-3"> <br>
                <label><strong>Guardar Datos del Socio</strong></label>
                <div class="form-group">
                    <button class="btn btn-block btn-outline-success" type="submit" value="ingresar">Guardar</button>
                </div>
              </div>

            </div>
          </div>

        </form>
      </div> <br>
    </div>

    <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-success" 
    onclick="printJS({
      printable: 'printJS-table',
      type:'html',
      style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
    })">
    <i class="fas fa-print"></i>  Imprimir Datos
    </button>-->

    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i class="far fa-arrow-alt-circle-left"></i>  Volver Beneficios Socio
    </button>
    </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn btn-success btn-block btn-sm" type="button" (click)="verFormularioBeneficios(formularioBeneficiosSocio)">Insertar Datos</button>