<div class="container">
  <form #leyes="ngForm" (ngSubmit)="ingresarLeyes(leyes)" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-12 text-center">
        <label>
          <b>Ingrese el Titulo</b>
        </label>
        <div class="form-group">
          <input class="form-control" type="text" name="titulo" [(ngModel)]="datosNoticia.titulo" required>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <label>
          <b>Ingrese el Cuerpo</b>
        </label>
        <div class="form-group">
          <textarea class="form-control blockArea" type="text" name="cuerpo" [(ngModel)]="datosNoticia.cuerpo"
            required></textarea>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <label>
          <b>Seleccione una Foto </b>
          <i class="fas fa-info-circle" placement="right" ngbTooltip="La foto es opcional."></i>
        </label>
        <div class="form-group">
          <input class="form-control-file" type="file" (change)="onSelectImage($event)">
        </div>
      </div>
      <div class="col-md-6 text-center">
        <label>
          <b>Seleccione la privacidad</b>
        </label>
        <div class="form-group">
          <select class="form-control" name="estado" #tipoReunion="ngModel" [(ngModel)]="datosNoticia.estado" required>
            <option value="1">Publica</option>
            <option value="2">Privada</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <button type="submit" [disabled]="!leyes.valid || ingresandoDatos" class="btn btn-success btn-block"> <b
            [hidden]="ingresandoDatos">Crear Noticia</b> <b [hidden]="!ingresandoDatos">Creando Nueva Noticia </b>
          <img *ngIf="ingresandoDatos" height="20"
            src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">&nbsp;</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-secondary btn-block"
          (click)="abrirModalNoticias(menuAdministrarNoticias)">Ver
          Noticias</button>
      </div>
    </div>
  </form>

  <ng-template #menuAdministrarNoticias let-modal>
    <!-- Header Del Modal -->
    <div class="modal-header" id="demoFont">
      <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Adminsitracion de Noticias</strong>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Cuerpo del modal -->
    <div class="modal-body">
      <div class="container">
        <div class="row">

        </div>
      </div>
    </div>
    <!-- Patitas del Modal -->
    <div class="modal-footer">
      <button type="button" id="cerrarMenu" class="btn btn-info" (click)="modal.close('Close click')"><i
          class="far fa-arrow-alt-circle-left"></i> Volver</button>
    </div>
  </ng-template>
</div>