<ng-template #CajaChica let-modal>

    <div class="modal-header" id="demoFont">
        <h6 class="modal-title"><i class="fas fa-notes-medical"></i> <strong> Cuenta Bienestar / Caja Chica</strong>
        </h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!--Cuerpo del body CajaChica-->
    <div class="modal-body">

        <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="form-CajaChica-tab" data-toggle="tab" href="#form-CajaChica" role="tab"
                    aria-controls="form-CajaChica" aria-selected="true">Formulario Caja Chica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="table-CajaChica-tab" data-toggle="tab" href="#table-CajaChica" role="tab"
                    aria-controls="table-CajaChica" aria-selected="false">Tabla Caja Chica</a>
            </li>
        </ul> <br>

        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="form-CajaChica" role="tabpanel" aria-labelledby="form-CajaChica-tab">
                <div class="card-header" id="demoFont2">
                    <h6 class="card-title">Formulario</h6>
                </div>

                <div class="card">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row justify-content-center">
                            <app-formulario-caja-chica-bienestar></app-formulario-caja-chica-bienestar>
                        </div>
                    </div>
                </div> <br>
            </div>

            <div class="tab-pane fade" id="table-CajaChica" role="tabpanel" aria-labelledby="table-CajaChica-tab">
                <div class="card-header" id="demoFont2">
                    <h6 class="card-title">Tabla</h6>
                </div>
                <div class="card">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row justify-content-center">
                            <app-tabla-caja-chica-bienestar></app-tabla-caja-chica-bienestar>
                        </div>
                    </div>
                </div> <br>
            </div>

        </div>
    </div>

    <!--boton para volver a cuenta bienestar-->
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i class="fas fa-undo-alt"></i>
            Volver a Cuenta
            Bienestar
        </button>
    </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<label><strong>Detalle Caja Chica</strong></label><br>
<button class="btn btn btn-success btn-block btn-sm" (click)="openModal(CajaChica)">Ingresar</button>