<div class="row">
    <div class="col-md-12 mt-4">
        <div (click)="abrirModalActivos(activos)" class="card card-body text-white text-center bg-success" style="cursor: pointer">
            <h3><i class="fas fa-hourglass-end"></i> Votaciones Activas</h3>
            <p>Votar y ver los temas a tratar que esten activos.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mt-4">
        <div class="row centrar text-center">
            <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Año <i
                        class="fas fa-calendar-check"></i></strong></label>
                <select (change)="changeAnio($event)" name="anio" #anio="ngModel" [(ngModel)]="idAnioActual" class="form-control form-control-sm">
                    <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
                  </select>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Mes <i
                        class="fas fa-calendar-check"></i></strong></label>
                <select (change)="changeMes($event)" name="mes" #mes="ngModel" [(ngModel)]="idMesActual" class="form-control form-control-sm">
                    <option *ngFor="let mes of selectMes" [value]="mes.id">{{mes.descripcion}}</option>
                  </select>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Tipo <i
                    class="fas fa-calendar-check"></i></strong></label>
                <select (change)="changeTipo($event)" name="tipo" #tipo="ngModel" [(ngModel)]="idTipoActual" class="form-control form-control-sm">
                        <option value="0">Todos</option>
                        <option *ngFor="let tipo of selectTipo" [value]="tipo.id">{{tipo.tipo}}</option>
                    </select>
            </div>
            <div class="col-md-3"><br><label>
                  <strong>Recargar tabla </strong>
                </label><br>
                <button class="btn btn-info" (click)="traerHistorial()">Actualizar</button>
            </div>
        </div>
        <div class="row centrar">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm shadow p-3 mb-5 bg-white rounded">
                    <thead text-sm class="text-center">
                        <tr>
                            <th colspan="14" class="ColorThCS">Historial</th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <!-- <i class="far fa-calendar-alt"></i> -->Fecha Inicio</th>
                            <th colspan="2">
                                <!-- <i class="fas fa-sticky-note"></i> -->Fecha Termino</th>
                            <th colspan="2">
                                <!-- <i class="fas fa-user-circle"></i> -->Titulo</th>
                            <th colspan="2">
                                <!-- <i class="fas fa-user-circle"></i> -->Estado</th>
                            <th colspan="2">
                                <!-- <i class="fas fa-user-circle"></i> -->Aprobado</th>
                            <th colspan="2">
                                <!-- <i class="fas fa-user-circle"></i> -->Remitente</th>
                            <th colspan="2">
                                <!-- <i class="fas fa-user-circle"></i> -->Ver</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of temasHistorial" class="text-center">
                            <td colspan="2">{{item?.fecha_inicio}}</td>
                            <td colspan="2">{{item?.fecha_termino}}</td>
                            <td colspan="2">{{item?.titulo}}</td>
                            <td colspan="2">{{item?.estado}}</td>
                            <td colspan="2">{{item?.aprobado}}</td>
                            <td colspan="2">{{item?.nombre}}</td>
                            <td colspan="2"><button (click)="abrirModalDetalle(detalle, item)" type="button" class="btn btn-info">Ver</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #activos let-c="close" let-d="dismiss">
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong><!-- <i class="fas fa-archive"></i> --> Asamblea Online / Temas Activos</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="row centrar">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm shadow p-3 mb-5 bg-white rounded">
                        <thead text-sm class="text-center">
                            <tr>
                                <th colspan="8" class="ColorThCS">Temas Activos</th>
                                <th colspan="2"><button class="btn btn-info" (click)="traerTemasActivos()">Actualizar</button></th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <!-- <i class="far fa-calendar-alt"></i> -->Fech Inicio</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Titulo</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Estado</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Remitente</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of temasActivos" class="text-center">
                                <td colspan="2">{{item?.fecha_inicio}}</td>
                                <td colspan="2">{{item?.titulo}}</td>
                                <td colspan="2">{{item?.estado}}</td>
                                <td colspan="2">{{item?.nombre}}</td>
                                <td colspan="2"><button (click)="abrirModalTema(editar,item)" type="button" class="btn btn-info">Ver</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="cerrarActivos" class="btn btn-info" (click)="d('Cross click')"><i
            class="far fa-arrow-alt-circle-left"></i> Volver a Asamblea Online</button>
    </div>
</ng-template>

<ng-template #grafico let-c="close" let-d="dismiss">
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong><!-- <i class="fas fa-archive"></i> --> Asamblea Online / Votos</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row justify-center mt-2">
            <div class="col-md-12">
                <h3 class="text-center">
                    {{motivo}}
                </h3>
            </div>
        </div>
        <div class="row mt-2">
            <canvas id="votosTema" width="400" height="400">
                {{chart}}
            </canvas>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="d('Cross click')"><i
            class="far fa-arrow-alt-circle-left"></i> Volvere</button>
    </div>
</ng-template>

<ng-template #editar let-c="close" let-d="dismiss">
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong>
                <!-- <i class="fas fa-archive"></i> --> Asamblea Online / Votar</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-header" id="demoFont2">
            <h6 class="modal-title"><strong>Detalle del Tema Tratado</strong></h6>
        </div>
        <div class="card">
            <div class="row centrar text-center">
                <div class="col-12 col-md-12">
                    <h3>
                        <span><b>{{datosVotarTemas.titulo}}</b></span>
                        <hr>
                    </h3>
                </div>
                <div class="col-12 col-md-12 text-left">
                    <hr>
                    <label class="mt-2">
                        <h5>
                            <b>Tema tratado: </b>
                        </h5>
                    </label>
                    <h6>
                        <span>{{datosVotarTemas.descripcion}}</span>
                    </h6>
                </div>
                <div class="col-12 col-md-12 text-right">
                    <hr>
                    <label>
                        <h5>
                            <h5>
                                <b>Creada por: </b>
                            </h5>
                        </h5>
                    </label>
                    <h6>
                        <span>{{datosVotarTemas.nombre}}</span>
                    </h6>
                </div>
                <div class="col-12 col-md-12">
                    <hr>
                    <label>
                        <h5>
                            <b [hidden]="datosVotarTemas.voto">Votar</b>
                            <b [hidden]="!datosVotarTemas.voto">Voto: {{datosVotarTemas.voto}}</b>
                        </h5>
                    </label>
                    <div class="row mb-4">
                        <div class="col-md-6 mt-3">
                            <select (change)="changeVoto($event)" name="voto" #tipo="ngModel" [(ngModel)]="idVotoActual" class="form-control form-control-sm">
                                <option value="0">Seleccione</option>
                                <option *ngFor="let item of selectVoto" [value]="item.id">{{item.voto}}</option>
                            </select>
                        </div>
                        <div class="col-md-6 mt-3">
                            <button type="button" (click)="ingresarVoto()" [disabled]="ingresandoVoto || mostrarVotos" class="btn btn-block btn-success">Votar <img *ngIf="ingresandoVoto"
                            height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-md-12 mt-2">
                    <button (click)="traerVotosTema(datosVotarTemas.id, grafico, false)" type="button" [disabled]="mostrarVotos || ingresandoVoto" class="btn btn-block btn-info">Ver Votos <img *ngIf="mostrarVotos"
                            height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="d('Cross click')"><i
                class="far fa-arrow-alt-circle-left"></i> Volver</button>
    </div>
</ng-template>

<ng-template #detalle let-c="close" let-d="dismiss">
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong>
                <!-- <i class="fas fa-archive"></i> --> Asamblea Online / Detalle Historial</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-header" id="demoFont2">
            <h6 class="modal-title"><strong>Detalle del Tema Tratado</strong></h6>
        </div>
        <div class="card">
            <div class="row centrar text-center">
                <div class="col-12 col-md-12">
                    <h3>
                        <span><b>{{datosDetTemas.titulo}}</b></span>
                        <hr>
                    </h3>
                </div>
                <div class="col-12 col-md-3">
                    <label>
                        <h5>
                            <b>Inicio Votación: </b>
                        </h5>
                    </label>
                    <h6>
                        <span>{{datosDetTemas.inicio}}</span>
                    </h6>
                </div>
                <div class="col-12 col-md-3">
                    <label>
                        <h5>
                            <b>Termino Votación: </b>
                        </h5>
                    </label>
                    <h5>
                        <h6>
                            <span>{{datosDetTemas.termino}}</span>
                        </h6>
                    </h5>
                </div>
                <div class="col-12 col-md-3">
                    <label>
                        <h5>
                            <b>Estado: </b>
                        </h5>
                    </label>
                    <h6>
                        <span [ngClass]="{'cancelada' : datosDetTemas?.estado != 'Publicado' , 'cancelada' : datosDetTemas?.estado != 'Publicado' , 'aprobado' : datosDetTemas?.estado == 'Publicado'}">
                            {{datosDetTemas.estado}}</span>
                    </h6>
                </div>
                <div class="col-12 col-md-3">
                    <label>
                        <h5>
                            <b>Aprobación: </b>
                        </h5>
                    </label>
                    <h6>
                        <span [ngClass]="{'cancelada' : datosDetTemas?.aprobado != 'Aprobado' , 'cancelada' : datosDetTemas?.aprobado != 'Aprobado' , 'aprobado' : datosDetTemas?.aprobado == 'Aprobado'}">
                            {{datosDetTemas.aprobado}}
                        </span>
                    </h6>
                </div>
                <div class="col-12 col-md-12 text-left">
                    <hr>
                    <label class="mt-2">
                        <h5>
                            <b>Tema tratado: </b>
                        </h5>
                    </label>
                    <h6>
                        <span>{{datosDetTemas.descripcion}}</span>
                    </h6>
                </div>
                <div class="col-12 col-md-12 text-right">
                    <hr>
                    <label>
                        <h5>
                            <h5>
                                <b>Creada por: </b>
                            </h5>
                        </h5>
                    </label>
                    <h6>
                        <span>{{datosDetTemas.nombre}}</span>
                    </h6>
                </div>
                <div class="col-12 col-md-12">
                    <hr>
                    <label>
                        <h5>
                            <b [hidden]="datosDetTemas.voto">Voto no ingresado.</b>
                            <b [hidden]="!datosDetTemas.voto">Voto: {{datosDetTemas.voto}}</b>
                        </h5>
                    </label>

                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="d('Cross click')"><i
                class="far fa-arrow-alt-circle-left"></i> Volver</button>
    </div>
</ng-template>