<br>
<div class="animate__animated animate__fadeIn">
  <div class="card" style=" height: auto;">
    <div class="card-header">
      <h3 class="text-center"><i class="fas fa-home"></i> Inicio</h3>
    </div>
    <div class="card-body" style="margin-top: 10px;">

      <div class="row">
        <div class="col-md-4">
            <div class="box" [routerLink]="['/AuthMaster/CuentaSindical']">
            <div class="text-center">
              <i class="fas fa-calculator fa-5x"></i>

                  <p> Cuenta sindical</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box" [routerLink]="['/AuthMaster/CuentaBienestar']">

              <div class="text-center">
                <i class="fas fa-money-check-alt fa-5x"></i>

                  <p> Cuenta bienestar</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box" [routerLink]="['/AuthMaster/CuentaConsorcio']">

              <div class="text-center">
                <i class="fas fa-piggy-bank fa-5x"></i>

                  <p> Cuenta consorcio</p>
              </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="box" [routerLink]="['/AuthMaster/Cumpleanios']">

            <div class="text-center">
              <i class="fas fa-birthday-cake fa-5x"></i>

                <p> Cumpleaños <span class="badge badge-pill badge-danger">{{count_cumpleanios}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
  </div>
</div>
