    <!--Datos del socio-->
    <br>
    <div class="card-header" id="demoFont2">
      <h6 class="card-title">Detalles Cuentas</h6>
    </div>

    <div class="card">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row justify-content-center">

          <div class="col-12 col-md-12 col-lg-12 col-xl-12"> <br>
            <!-- <h3 class="text-center">Cuenta Sindical</h3> -->
            <div class="form-group">
                <app-sindical></app-sindical> 
            </div>
          </div>
                        
          <div class="col-12 col-md-12 col-lg-12 col-xl-12"> <br>
            <!-- <h3 class="text-center">Caja Chica</h3> -->
            <div class="form-group">
              <app-caja-chica></app-caja-chica> 
            </div>
          </div>

          <div class="col-12 col-md-12 col-lg-12 col-xl-12"> <br>
            <!-- <h3 class="text-center">Cuenta Camping</h3> -->
            <div class="form-group">
              <app-camping></app-camping>
            </div>
          </div>
          
        </div>
      </div>
    </div> <br>