<ng-template #consorcio let-modal>

  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Cuenta Consorcio General</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del Modal Caja Chica -->
  <div class="modal-body">
    <div class="card">
      <div class="container">
        <div class="col-12">
          <div class="row text-center">
            <div class="col-sm-12 col-md-6 col-lg-6"><br><label><strong>Filtro por Año <i
                    class="fas fa-calendar-check"></i></strong></label>
              <select (change)="changeAnio($event)" name="anio" #anio="ngModel" [(ngModel)]="idAnioActual"
                class="form-control form-control-sm">
                <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
              </select>
            </div>
    
            <div class="col-md-6"><br><label>
                <strong>Recargar tabla </strong>
    
              </label><br>
              <button [disabled]="cargandoTabla" class="btn btn-info" (click)="recargarTabla()">Actualizar</button>
              <div *ngIf="cargandoTabla">
                <img height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">&nbsp;
                <label>Cargando tabla de Prestamos</label>
              </div>
            </div>
          </div><br>
          <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr class="bg-primary text-white">
                <th scope="col">Mes</th>
                <th class="text-center" scope="col">Día Sueldo</th>
                <th class="text-center" scope="col">Cuota Extraordinaria</th>
                <th class="text-center" scope="col">Total Mes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Enero</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_1 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_1 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_1 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr>
                <th scope="row">Febrero</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_2 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_2 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_2 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr>
                <th scope="row">Marzo</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_3 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_3 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_3 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr>
                <th scope="row">Abril</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_4 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_4 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_4 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr>
                <th scope="row">Mayo</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_5 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_5 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_5 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr>
                <th scope="row">Junio</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_6 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_6 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_6 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr>
                <th scope="row">Julio</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_7 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_7 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_7 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr>
                <th scope="row">Agosto</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_8 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_8 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_8 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr>
                <th scope="row">Septiembre</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_9 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_9 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_9 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr>
                <th scope="row">Octubre</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_10 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_10 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_10 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr>
                <th scope="row">Noviembre</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_11 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_11 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_11 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr>
                <th scope="row">Diciembre</th>
                <td class="text-center">{{ datosConsorcio?.mes_ds_12 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ datosConsorcio?.mes_cex_12 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
                <td class="text-center">{{ totalMensual?.mes_12 | currency:"CLP" : "symbol-narrow":'1.0' }}</td>
              </tr>
              <tr class="bg-primary text-white">
                <th scope="row" class="text-center">Total Acumulado en el año: </th>
                <td colspan="3" class="text-center"><b>{{ totalConsorcio | currency:"CLP" : "symbol-narrow":'1.0' }}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">

    <!--Boton para salir del modal caja chica-->
    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver a Cuentas</button>
  </div>

</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn-primary btn-block btn-lg" type="button" (click)="openModalConsorcio(consorcio)"><b>Cuenta
    General</b>
</button>