<!-- MENU DE REUNION FINALIZADA -->
<ng-template #menuAdministrarReunion let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Administrador de Asistencia</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">
    <div class="container">
      <div *ngIf="cargandoReunion" class="loader"></div>
      <div *ngIf="!cargandoReunion">
        <div class="row">
          <div class="col-md-12 mt-2">
            <h3 class="text-center">Administrador de Reunión Activa</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-4">
            <button class="btn btn-primary btn-lg btn-block" (click)="abrirModalMenu(formularioAsistencia)">Formulario
              de
              Asistencia</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-4">
            <button class="btn btn-success btn-lg btn-block" (click)="abrirModalAsistencia(listaAsistencia)">Lista de
              Asistentes</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-4">
            <p *ngIf="datosReunion?.estado != 4" class="text-center text-muted">Solo podra archivar la reunión cuando termine el periodo de justificación para los socios</p>
            <button [disabled]="datosReunion?.estado != 4" class="btn btn-danger btn-lg btn-block" (click)="abrirConfirmacion(confirmacionArchivar)">Archivar
              Reunión</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" id="cerrarMenu" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>

<div (click)="abrirModal(menuAdministrarReunion)" class="card card-body text-white text-center bg-danger"
  style="cursor: pointer">
  <h3><i class="far fa-thumbs-up"></i> Reunión Finalizada</h3>
  <p>Ingresar la asistencia de la ultima reunión realizada para generar informes</p>
</div>

<!-- FORMULARIO DE JUSTIFICACIONES -->
<ng-template #formularioAsistencia let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Administrador de Asistencia / Formulario Asistencia
        Reunión</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">
    <div class="container">
      <div *ngIf="cargandoReunion" class="loader"></div>
      <div *ngIf="!cargandoReunion">
        <div class="row">
          <div class="col-md-12">
              <h4 class="text-center">{{datosReunion?.titulo}}</h4>
              <p class="text-muted text-center">{{datosReunion?.fecha_inicio}}<br>Organizada por {{datosReunion?.creada_por}}<br><p *ngIf="datosReunion?.mod_user_id != null">
                Última modificación realizada por {{datosReunion?.modificada_por}}
              </p></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="mt-2">
              <ngb-alert [dismissible]="false">
                <strong>¡Advertencia!</strong> Ingrese a todos los socios que asistieron a la reunión, los socios que no
                se ingresen quedarán como inasistentes a excepción de los justificados.
              </ngb-alert>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="rut"><b>Ingrese el rut del socio que asistio a la reunión</b></label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Rut del Socio" aria-label="Recipient's username"
                aria-describedby="basic-addon2" [(ngModel)]="rutSocio">
              <div class="input-group-append">
                <button [disabled]=cargandoSocio (click)="getUsuario()" class="btn btn-outline-secondary"
                  type="button">Buscar <img *ngIf="cargandoSocio" height="20"
                    src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">&nbsp;</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-4">
            <div class="form-group">
              <label for="nombre"><b>Nombre del Socio</b></label>
              <input class="form-control" type="text" name="nombre" [(ngModel)]="datosSocio.nombre" disabled>
            </div>
          </div>
          <div class="col-md-3 mt-4">
            <div class="form-group">
              <label for="estado"><b>Estado Actual</b></label>
              <input class="form-control" type="text" name="estado" [(ngModel)]="datosSocio.estado" disabled>
            </div>
          </div>
          <div class="col-md-3 mt-4">
            <div class="form-group">
              <label for="boton"><b>Cambiar Estado</b></label>
              <button [disabled]="cargandoCambioEstadoSocio" (click)="marcarAsistenciaUsuario()" class="btn btn-primary"
                name="boton">Marcar como asistido <img *ngIf="cargandoCambioEstadoSocio" height="20"
                  src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">&nbsp;</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <h3>Lista de Asistentes</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="text-center">
                    <th>Nombre</th>
                    <th>Rut</th>
                    <th>Asistencia</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemAsistencia of listaDeAsistentes" class="text-center">
                    <td>{{itemAsistencia?.nombre}}</td>
                    <td>{{itemAsistencia?.rut}}</td>
                    <td>{{itemAsistencia?.estado}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modal.close('Close click'); limpiarCampos()"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>

<!-- LISTA DE ASISTENCIA -->
<ng-template #listaAsistencia let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Administrador de Asistencia / Lista de
        Asistencia</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">{{datosReunion?.titulo}}</h4>
            <p class="text-muted text-center">{{datosReunion?.fecha_inicio}}<br>Organizada por {{datosReunion?.creada_por}}<br><p *ngIf="datosReunion?.mod_user_id != null">
              Última modificación realizada por {{datosReunion?.modificada_por}}
            </p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="mt-2">
            <ngb-alert [dismissible]="false">
              <strong>¡Advertencia!</strong> En la siguiente lista se mostraran tanto a los socios que asistieron como
              los justificados y los inasistentes, basado en estos datos se le otorgara un monto recomendado de ganacias
              por inasistencias de reunión. (El simulador de cobro solo se habilitara si el periodo de justificación de socios se encuentre finalizado)
            </ngb-alert>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <h3>Lista de Asistencia</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="monto"><b>Monto a cobrar por inasistencia</b></label>
            <input [disabled]="datosReunion?.estado != 4" class="form-control" type="text" placeholder="Ingrese monto a cobrar"
              (input)="calcularInasistencias($event)" autofocus>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group text-center">
            <label for="monto"><b>Total generado en inasistencias</b></label>
            <p>{{totalGanancias | currency:"CLP" : "symbol-narrow":'1.0'}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mt-2">
          <p><b>Total Asistentes:</b> {{cantidadAsistentes}}</p>
        </div>
        <div class="col-md-4">
          <p><b>Total Justificados:</b> {{cantidadJustificados}}</p>
        </div>
        <div class="col-md-4">
          <p><b>Total Inasistentes:</b> {{cantidadInasistentes}}</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12 mt-4">
            <label for="rut"><b>Buscador</b></label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nombre del Socio" aria-label="Recipient's username"
                aria-describedby="basic-addon2" [(ngModel)]="textoBuscador">
              <div class="input-group-append">
                <button [disabled]=cargandoSocio (click)="searchSocios()" class="btn btn-outline-secondary"
                  type="button">Buscar <img *ngIf="cargandoSocio" height="20"
                    src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">&nbsp;</button>
                    <button [disabled]=cargandoSocio (click)="getListaAsistentesCompleta()" class="btn btn-outline-secondary"
                  type="button"><i *ngIf="!cargandoSocio" class="fas fa-sync-alt"></i><img *ngIf="cargandoSocio" height="20"
                    src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">&nbsp;</button>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-md-12 mt-4">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="thead-dark">
                <tr class="text-center">
                  <th>Nombre Socio</th>
                  <th>Rut</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemAsistenciaCompleta of listaAsistenciaCompleta" class="text-center table-success"
                  [ngClass]="{'table-warning': itemAsistenciaCompleta?.estado == 'Justificado', 'table-danger': itemAsistenciaCompleta?.estado == 'Ausente'}">
                  <td>{{itemAsistenciaCompleta?.nombre}}</td>
                  <td>{{itemAsistenciaCompleta?.rut}}</td>
                  <td>
                    <button *ngIf="itemAsistenciaCompleta?.estado == 'Justificado'"
                      (click)="getJustificacionSocios(datosReunion.id, itemAsistenciaCompleta?.id); abrirModalAsistencia(detalleJustificacion)"
                      class="btn btn-outline-primary">{{itemAsistenciaCompleta?.estado}}</button>
                    <p *ngIf="itemAsistenciaCompleta?.estado != 'Justificado'">{{itemAsistenciaCompleta?.estado}}</p>
                  </td>
                  <!-- DETALLE DE LA JUSTIFICACION -->
                  <ng-template #detalleJustificacion let-modal>
                    <!-- Header Del Modal -->
                    <div class="modal-header" id="demoFont">
                      <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Detalle
                          Justificación</strong>
                      </h6>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!-- Cuerpo del modal -->
                    <div class="modal-body">
                      <div class="container">
                        <h4 class="text-muted">Motivo de Inasistencia: </h4>
                        <p>{{justificacionUsuario?.tipo}}</p>
                        <br>
                        <h4 class="text-muted">Mensaje enviado por el socio: </h4>
                        <p>{{justificacionUsuario?.descripcion}}</p>
                      </div>
                    </div>
                    <!-- Patitas del Modal -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
                          class="far fa-arrow-alt-circle-left"></i> Volver</button>
                    </div>
                  </ng-template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>

<!-- CONFIRMACIÓN ARCHIVAR -->
<ng-template #confirmacionArchivar let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Administrador de Asistencia / Archivar
        Reunión</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p><b>¿Esta seguro que desea archivar la reunión <span class="text-danger">{{datosReunion?.titulo}}</span> con
              fecha <span class="text-danger">{{datosReunion?.fecha_inicio}}</span>? Esta reunión fue creada por <span
                class="text-danger">{{datosReunion?.creada_por}}</span>. <br> Esta operación no puede ser revertida</b></p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-6">
          <button [disabled]="cargandoConfirmacion" (click)="archivarReunion()"
            class="btn btn-danger btn-lg btn-block">Sí <img *ngIf="cargandoConfirmacion" height="20"
              src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
        </div>
        <div class="col-md-6">
          <button (click)="modal.dismiss('Cross click')" id="cerrarArchivar"
            class="btn btn-success btn-lg btn-block">No</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>