.box {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #373b44,
    #4286f4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #373b44,
    #4286f4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 8px;
  padding: 9px 0px 9px 0px;
  width: 100%;
  border-radius: 3px;
  color: white;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 5px 2px 2px #145A32; */

  border: 1px solid #117864;
}
.box:hover {
  transform: scale(1.01);
  border: 2px solid #16a085;
  cursor: pointer;
}

h3 {
  color: #2471A3;
}
