
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">
              <img src="/assets/logo-sindicato-transparente.png"  width="80px" height="50px">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="javascript:window.history.go(-1);"><i class="fas fa-piggy-bank" style="color:lightcoral"></i>  Volver</a>
              </li>
          </ul>
        </div>
      </div>
  </nav>

  <br> <br> <br> <br>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xl-12">

    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-header" id="demoFont">
            <strong class="text-center">
              <h4><i class="fas fa-exclamation-triangle" style="color: rgb(255, 217, 4)"></i> <strong>  No Encontrado  </strong><i class="fas fa-exclamation-triangle" style="color: rgb(255, 217, 4)"></i></h4>
            </strong>
          </div>

          <div class="card-body text-center">
            <br><h3><strong>404, Ruta no Encontrada</strong></h3>
            <div class="loader"></div>
          </div>

          <div class="modal-footer">
            <a class="btn btn-outline-success" href="javascript:window.history.go(-1);"><i class="fas fa-undo-alt"></i> Volver </a>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>

</div>
