<ng-template #tablaBeneficiosSocio let-modal>
  <div class="modal-header sticky-top" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-table"></i> Datos del Socio:
        {{getNombreSocio | uppercase}}<!-- <div *ngIf="actualizarLoad" class="loader2"></div> --></strong>
      </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--Cuerpo del body inicio y cierre mensual-->
  <div class="modal-body" id="printJS-table">
    <div class="card-header" id="demoFont2">
      <h6 class="card-title">SOCIO
        <img *ngIf="actualizarLoad" padding-left="20px" height="15px"
          src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
          <!-- <div *ngIf="actualizarLoad" class="loader2"></div> -->
      </h6>
    </div>
    <div class="card"> <br>
      <div class="table-responsive">
        <div *ngIf="cargandoTabla" class="loader"></div>
        <table *ngIf="!cargandoTabla" class="table table-striped table-bordered table-sm">
          <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row justify-content-between">

              <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                <tr>
                  <th class="text-right" style="background: #138D75">N° CTA:</th>
                  <td><input type="text" class="sinbordefondo centrado" value="{{traerDatosSocio.numero_cuenta}}"
                      disabled></td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_numero_cuenta',ctaUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75">BANCO:</th>
                  <td><input type="text" class="sinbordefondo centrado" value="{{ traerDatosSocio.banco | uppercase}}"
                    disabled></td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_banco',bancoUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">CUENTA:</th>
                  <td>
                    <select name="Cta" id="cta" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.tipo_cuenta_banco_id" disabled>
                      <option value="1">CUENTA RUT</option>
                      <option value="2">CUENTA VISTA</option>
                      <option value="3">CUENTA CORRIENTE</option>
                    </select>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_tipo_cuenta_banco_id',tipoCtaUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">ISAPRE O FONASA:</th>
                  <td><input type="text" class="sinbordefondo centrado"
                      value="{{traerDatosSocio.isapre_fonasa | uppercase}}" disabled>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_isapre_fonasa',isapreFonasaUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">GRUPO DE SANGRE:</th>
                  <td><input type="text" class="sinbordefondo centrado"
                      value="{{traerDatosSocio.grupo_sangre | uppercase}}" disabled>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_grupo_sangre',grupoSangreUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75">DIRECCION:</th>
                  <td><input type="text" class="sinbordefondo centrado"
                      value="{{traerDatosSocio.direccion | uppercase}}" disabled>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_direccion',direccionUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">TELEFONO:</th>
                  <td><input type="text" class="sinbordefondo centrado"
                     value="{{traerDatosSocio.telefono}}" disabled>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_telefono',telefonoUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">CELULAR:</th>
                  <td><input type="text" class="sinbordefondo centrado"
                     value="{{traerDatosSocio.celular}}" disabled>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_celular',celularUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">ANEXO:</th>
                  <td><input type="text" class="sinbordefondo centrado" 
                    value="{{traerDatosSocio.anexo | uppercase}}" disabled>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_anexo',anexoUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr><br>
              </div>

              <div class="col-12 col-md-6 col-lg-6 col-xl-6">

                <tr>
                  <th class="text-right" style="background: #138D75;">EMAIL PERSONAL:</th>
                  <td><input type="text" class="sinbordefondo centrado"
                     value="{{traerDatosSocio.email_personal | uppercase}}" disabled>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_email_1',email1Update,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">EMAIL CORPORATIVO:</th>
                  <td><input type="text" class="sinbordefondo centrado"
                     value="{{traerDatosSocio.email_corporativo | uppercase}}" disabled>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_email_2',email2Update,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">CARGO PLANTA:</th>
                  <td><input type="text" class="sinbordefondo centrado"
                      value="{{traerDatosSocio.cargo_planta | uppercase}}" disabled>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_cargo_planta',cargoPlantaUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">CARGO O COMISION:</th>
                  <td>
                    <select name="Rol" id="rol" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.cargo_comision_sindicato" disabled>
                      <option value="1">SOCIO</option>
                      <option value="2">DIRECTIVA</option>
                    </select>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_cargo_comision_sindicato',cargoComisionUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">CASA PROPIA:</th>
                  <td>
                    <select name="Rol" id="rol" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.casa_propia" disabled>
                      <option value="S">SI</option>
                      <option value="N">NO</option>
                    </select>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_casa_propia',casaPropiaUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">ROL TURNO:</th>
                  <td>
                    <select name="Rol" id="rol" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.rol_turno" disabled>
                      <option value="S">SI</option>
                      <option value="N">NO</option>
                    </select>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_rol_turno',rolTurnoUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">ESTADO CIVIL:</th>
                  <!-- <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td> -->
                  <td>
                    <select name="Civil" id="civil" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.estado_civil_id" disabled>
                      <option value="1">SOLTERO/A</option>
                      <option value="2">CASADO/A</option>
                      <option value="3">VIUDO/A</option>
                      <option value="4">DIVORCIADO/A</option>
                      <option value="5">CONVIVIENTE CIVIL</option>
                    </select>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_estado_civil_id',estadoCivilUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr>
                <tr>
                  <th class="text-right" style="background: #138D75;">CONYUGE:</th>
                  <!-- <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td> -->
                  <td>
                    <select name="Rol" id="rol" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.conyuge" disabled>
                      <option value="S">SI</option>
                      <option value="N">NO</option>
                    </select>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm"
                    (click)="actualizar('socio_conyuge',conyugeUpdate,modalUsuario)"><i class="far fa-edit"></i></button>
                  </td> -->
                </tr> <br>
              </div>

            </div>
          </div>
        </table>
      </div>
    </div>
  </div>

  <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-success" 
    onclick="printJS({
      printable: 'printJS-table',
      type:'html',
      style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
    })">
    <i class="fas fa-print"></i>  Imprimir Datos
    </button> -->

    <button type="button" class="btn btn-info" (click)="modal.close('Close click'); limpiar_tabla()"><i
        class="far fa-arrow-alt-circle-left"></i> Volver Beneficios Socio
    </button>
  </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn-primary btn-block btn-sm" type="button" (click)="verTablaBeneficios(tablaBeneficiosSocio)">Ver Datos</button>