<ng-template #tablaBeneficiosSocio let-modal>
  <div class="modal-header sticky-top" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-table"></i> Datos del Socio:
        {{getNombreSocio | uppercase}}<!-- <div *ngIf="actualizarLoad" class="loader2"></div> --></strong>
      </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--Cuerpo del body inicio y cierre mensual-->
  <div class="modal-body" id="printJS-table">
    <div class="card-header" id="demoFont2">
      <h6 class="card-title">SOCIO
        <img *ngIf="actualizarLoad" padding-left="20px" height="15px"
          src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
          <!-- <div *ngIf="actualizarLoad" class="loader2"></div> -->
      </h6>
    </div>
    <div class="card"> <br>
      <div class="table-responsive">
        <div *ngIf="cargandoTabla" class="loader"></div>
        <table *ngIf="!cargandoTabla" class="table table-striped table-bordered table-sm">
          <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <br>
            <div class="row justify-content-between ml-4">

              <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                <tr>
                  <th class="text-right" style="background: #195fcf">N° CTA:</th>
                  <td><input type="text" class="sinbordefondo centrado" [(ngModel)]="traerDatosSocio.numero_cuenta"></td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(2,'numero_cuenta',traerDatosSocio.numero_cuenta)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf">BANCO:</th>
                  <td><input type="text" class="sinbordefondo centrado" [(ngModel)]="traerDatosSocio.banco"></td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(2,'banco',traerDatosSocio.banco)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">CUENTA:</th>
                  <td>
                    <select name="Cta" id="cta" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.tipo_cuenta_banco_id">
                      <option value="1">CUENTA RUT</option>
                      <option value="2">CUENTA VISTA</option>
                      <option value="3">CUENTA CORRIENTE</option>
                    </select>
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(2,'tipo_cuenta_banco_id',traerDatosSocio.tipo_cuenta_banco_id)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">ISAPRE O FONASA:</th>
                  <td><input type="text" class="sinbordefondo centrado" [(ngModel)]="traerDatosSocio.isapre_fonasa">
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(2,'isapre_fonasa',traerDatosSocio.isapre_fonasa)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">GRUPO DE SANGRE:</th>
                  <td><input type="text" class="sinbordefondo centrado" [(ngModel)]="traerDatosSocio.grupo_sangre">
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(2,'grupo_sangre',traerDatosSocio.grupo_sangre)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf">DIRECCION:</th>
                  <td><input type="text" class="sinbordefondo centrado" [(ngModel)]="traerDatosSocio.direccion">
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'direccion',traerDatosSocio.direccion)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">TELEFONO:</th>
                  <td><input type="text" class="sinbordefondo centrado" [(ngModel)]="traerDatosSocio.telefono">
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'telefono',traerDatosSocio.telefono)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">CELULAR:</th>
                  <td><input type="text" class="sinbordefondo centrado" [(ngModel)]="traerDatosSocio.celular">
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'celular',traerDatosSocio.celular)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">ANEXO:</th>
                  <td><input type="text" class="sinbordefondo centrado" [(ngModel)]="traerDatosSocio.anexo">
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'anexo',traerDatosSocio.anexo)"><i class="far fa-edit"></i></button>
                  </td>
                </tr><br>
              </div>

              <div class="col-12 col-md-6 col-lg-6 col-xl-6">

                <tr>
                  <th class="text-right" style="background: #195fcf;">EMAIL PERSONAL:</th>
                  <td><input type="text" class="sinbordefondo centrado" [(ngModel)]="traerDatosSocio.email_personal">                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'email_1',traerDatosSocio.email_personal)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">EMAIL CORPORATIVO:</th>
                  <td><input type="text" class="sinbordefondo centrado" [(ngModel)]="traerDatosSocio.email_corporativo">
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'email_2',traerDatosSocio.email_corporativo)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">CARGO PLANTA:</th>
                  <td><input type="text" class="sinbordefondo centrado" [(ngModel)]="traerDatosSocio.cargo_planta">
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'cargo_planta',traerDatosSocio.cargo_planta)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">CARGO O COMISION:</th>
                  <td>
                    <select name="Rol" id="rol" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.cargo_comision_sindicato">
                      <option value="1">SOCIO</option>
                      <option value="2">DIRECTIVA</option>
                    </select>
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'cargo_comision_sindicato',traerDatosSocio.cargo_comision_sindicato)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">CASA PROPIA:</th>
                  <td>
                    <select name="Rol" id="rol" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.casa_propia">
                      <option value="S">SI</option>
                      <option value="N">NO</option>
                    </select>
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'casa_propia',traerDatosSocio.casa_propia)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">ROL TURNO:</th>
                  <td>
                    <select name="Rol" id="rol" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.rol_turno">
                      <option value="1">A</option>
                      <option value="2">B</option>
                      <option value="3">C</option>
                      <option value="4">D</option>
                      <option value="5">ADMINISTRACION</option>
                    </select>
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'rol_turno',traerDatosSocio.rol_turno)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">ESTADO CIVIL:</th>
                  <!-- <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td> -->
                  <td>
                    <select name="Civil" id="civil" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.estado_civil_id">
                      <option value="1">SOLTERO/A</option>
                      <option value="2">CASADO/A</option>
                      <option value="3">VIUDO/A</option>
                      <option value="4">DIVORCIADO/A</option>
                      <option value="5">CONVIVIENTE CIVIL</option>
                    </select>
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'estado_civil_id',traerDatosSocio.estado_civil_id)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <th class="text-right" style="background: #195fcf;">CONYUGE:</th>
                  <!-- <td><input type="text" class="sinbordefondo" value="Dato de Prueba"></td> -->
                  <td>
                    <select name="Rol" id="rol" class="form-control form-control-sm sinbordefondo centrado"
                      [(ngModel)]="traerDatosSocio.conyuge">
                      <option value="S">SI</option>
                      <option value="N">NO</option>
                    </select>
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"
                    (click)="updateDatosSocios(1,'conyuge',traerDatosSocio.conyuge)"><i class="far fa-edit"></i></button>
                  </td>
                </tr> <br>
              </div>

            </div>
          </div>
        </table>
      </div>
    </div>
  </div>

  <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-success" 
    onclick="printJS({
      printable: 'printJS-table',
      type:'html',
      style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
    })">
    <i class="fas fa-print"></i>  Imprimir Datos
    </button> -->

    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver Beneficios Socio
    </button>
  </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn-primary btn-block btn-sm" type="button" (click)="verTablaBeneficios(tablaBeneficiosSocio)"><b>Ver Datos</b></button>