<button class="btn btn-primary btn-block" (click)="openMensual(Mensual)" >Cambiar contraseña</button>


<!--Modal para el inicio y cierre mensual-->
 <ng-template #Mensual let-modal>
  <div>
  	<div class="modal-header" id="demoFont">
      <h6 class="modal-title"><strong>Cambiar contraseña<a href=""></a></strong></h6>
      <button type="button" class="close" aria-label="Close" (click)="close();modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  	<div class="modal-body">
  		<form>
  			<input #password   class="form-control form-control-sm"  placeholder="Contraseña actual" type="password" name=""><br>
  			<input #confirm_password   class="form-control form-control-sm" placeholder="Confirmar contraseña actual" type="password" name=""><br>
  			<input #new_password   class="form-control form-control-sm"  placeholder="nueva contraseña" type="password" name=""><br>
  			<button class="btn btn-success" (click)="send(password,confirm_password,new_password)" >Actualizar contraseña</button>
  			<img *ngIf="load" height="30" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
  		</form>
		<div *ngIf="success_visible"  class="alert alert-primary" role="alert">
		  {{ success_texto }}
		</div>

		<div *ngIf="fail_visible"  class="alert alert-danger" role="alert">
		  {{ success_texto | json }}
		</div>
  	</div>
  </div>
</ng-template>