<ng-template #editarReunion let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Editando Reunión</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Se encuentra editando la reunión {{datosReunion.titulo}} con fecha {{datosReunion.fecha}}</h3>
          <p class="text-muted">Reunión creada por {{creadaPor}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-2">
          <p class="mt-2">
            <ngb-alert [dismissible]="false">
              <strong>¡Advertencia!</strong> Esta tabla cuenta con los datos de la reunión actualmente activa, solo
              cambie los valores que desea editar y guartdelos con el boton verde, si esea cancelar la reunión presione
              el botón de color rojo.
            </ngb-alert>
          </p>
        </div>
      </div>
      <form #formulario="ngForm" (ngSubmit)="editarReunionForm(formulario)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fecha"><b>Ingrese una fecha para la reunión</b></label>
              <input class="form-control" type="datetime-local" name="fecha" #fecha="ngModel"
                [(ngModel)]="datosReunion.fecha" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="tipo"><b>Seleccione el Tipo de Reunión</b></label>
              <select class="form-control" name="tipoReunion" #tipoReunion="ngModel"
                [(ngModel)]="datosReunion.tipoReunion" required>
                <option value="1">General</option>
                <option value="2">Eleccion</option>
                <option value="3">Votación</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="titulo"><b>Titulo de la reunión</b></label>
              <input class="form-control" type="text"
                placeholder="Ingrese un Nombre para la reunión (Máximo 90 caracteres)" maxlength="90" name="titulo"
                #titulo="ngModel" [(ngModel)]="datosReunion.titulo" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><b>Ingrese una descripción para la reunión a realizar</b></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                placeholder="(Minimo 4 caracteres, máximo 500 cacacteres)" minlength="4" maxlength="500"
                name="descripcion" #descripcion="ngModel" [(ngModel)]="datosReunion.descripcion" required></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mt-2">
            <button type="submit" [disabled]="!formulario.valid || ingresandoDatos" class="btn btn-success btn-block"><b [hidden]="ingresandoDatos">Actualizar</b> <b [hidden]="!ingresandoDatos">Modificando Datos </b> <img *ngIf="ingresandoDatos" height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
          </div>
          <div class="col-md-4 mt-2">
            <button type="button" (click)="modalConfirmacion(confirmacionTerminar)" class="btn btn-secondary btn-block"><b>Terminar Reunión</b></button>
          </div>
          <div class="col-md-4 mt-2">
            <button type="button" (click)="modalConfirmacion(confirmacion)" class="btn btn-danger btn-block"><b>Cancelar
              Reunión</b></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" id="cerrarEditar" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>

<div (click)="abrirModal(editarReunion)" class="card card-body text-white text-center bg-success"
  style="cursor: pointer">
  <h3><i class="fas fa-hourglass-end"></i> Reunión Activa</h3>
  <p>Realizar cambios de fecha o cancelar la reunión a realizar</p>
</div>

<ng-template #confirmacion let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title text-center"><strong><i class="fas fa-cash-register"></i> ¿Esta Seguro?</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p><b>¿Esta seguro que desea cancelar la reunión <span class="text-danger">Votaciones de Sindicato</span> con
              fecha <span class="text-danger">10-10-10</span>? Esta reunión fue creada por <span
                class="text-danger">Usuario de Pruebas</span>. <br> Esta operación no puede ser revertida</b></p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-6">
          <button (click)="cancelarReunion()" class="btn btn-danger btn-lg">Sí</button>
        </div>
        <div class="col-md-6">
          <button (click)="modal.dismiss('Cross click')" id="cerrarConfirmacionCancelar" class="btn btn-success btn-lg">No</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>

<ng-template #confirmacionTerminar let-modal>
    <!-- Header Del Modal -->
    <div class="modal-header" id="demoFont">
      <h6 class="modal-title text-center"><strong><i class="fas fa-cash-register"></i> ¿Esta Seguro?</strong>
      </h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Cuerpo del modal -->
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p><b>¿Esta seguro que desea terminar la reunión <span class="text-danger">Votaciones de Sindicato</span> con
                fecha <span class="text-danger">10-10-10</span>? Esta reunión fue creada por <span
                  class="text-danger">Usuario de Pruebas</span>. <br> Esto quiere decir que los socios no podran seguir justificandose, si esta seguro presione sí</b></p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6">
            <button (click)="terminarReunion()" class="btn btn-danger btn-lg">Sí</button>
          </div>
          <div class="col-md-6">
            <button (click)="modal.dismiss('Cross click')" id="cerrarConfirmacionTerminar" class="btn btn-success btn-lg">No</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Patitas del Modal -->
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
          class="far fa-arrow-alt-circle-left"></i> Volver</button>
    </div>
</ng-template>