<div class="row mt-4">
    <div class="col-12">

        <div class="card card-socio">
            <div class="card-header card-header-socio" id="demoFont">
                <strong class="text-center">
                    <h6><i class="fas fa-file-invoice"></i> Tutoriales</h6>
                </strong>
            </div>

            <div class="card-body">
                <div class="container-fluid">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Justificarme de una Reunion
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse text-center" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <iframe width="100%" height="450" src="https://www.youtube.com/embed/h1Z5ee76OnM"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        Como votar
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse text-center" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <iframe width="100%" height="450" src="https://www.youtube.com/embed/8cNGkZrZbg4"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Cambiar informacion personal y contraseña
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse text-center" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <iframe width="100%" height="450" src="https://www.youtube.com/embed/KvnRZ_ceNXM"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        Visualizar las cuentas del Sindicato
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse text-center" aria-labelledby="headingFour"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <iframe width="100%" height="450" src="https://www.youtube.com/embed/GfOxTTvrg1M"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        Visualizar las actividades del Directorio
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse text-center" aria-labelledby="headingFive"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <iframe width="100%" height="450" src="https://www.youtube.com/embed/U9S1r6rmJCQ" 
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="card">
                            <div class="card-header" id="headingSix">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">
                                        Crear Actividad del Directorio
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseSix" class="collapse text-center" aria-labelledby="headingSix"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <iframe width="100%" height="450"
                                        src="https://www.youtube.com/embed/9X1jxW90834?list=PL6LiRhXetP0J7X467USbcMQ330-eNWKrw"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>