<br>
  <ng-template #validar let-modal>
    <div class="modal-header" id="demoFont">
      <h6 class="modal-title"><i class="fas fa-calendar-alt"></i> <strong> Validar accion</strong></h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input #rut class="form-control form-control-sm" type="" name="" [value]="user.rut">
      <br>
      <input #password class="form-control form-control-sm" type="password" placeholder="Ingrese su contraseña" name="">
      <br>
      <button class="btn btn-success btn-block btn-sm" (click)="btn_validar_usuario(rut,password,validar,'ingresar_socio');">
        Validar
      </button>
      <img *ngIf="load" height="30" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
    </div>
  </ng-template>


  <!--Formulario para ingresar una cuenta sindical-->
  <div class="card">
    <div class="card-header" id="demoFont">
      <strong><h5><i class="fas fa-user-plus"></i> Registro de Socios</h5></strong>
    </div>
    <form>
      <div class="card-body">

        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row justify-content-between">


            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
              <br><label><strong>Rut</strong></label>
              <input type="string" class="form-control form-control-sm" name="rut" placeholder="123456789"
                [(ngModel)]="rut" required>
            </div>

            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
              <br><label><strong>Fecha de Nacimiento</strong></label>
              <input type="date" class="form-control form-control-sm" name="fNacimiento" [(ngModel)]="fecha_nacimiento"
                required>
            </div>

            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
              <br><label><strong>Nombre</strong></label>
              <input type="string" class="form-control form-control-sm" name="nombre" placeholder="ingrese nombre"
                [(ngModel)]="nombres" required>
            </div>

            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
              <br><label><strong>Apellido Paterno</strong></label>
              <input type="string" class="form-control form-control-sm" name="aPaterno"
                placeholder="ingrese apellido paterno" [(ngModel)]="a_paterno" required>
            </div>

            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
              <br><label><strong>Apellido Materno</strong></label>
              <input type="string" class="form-control form-control-sm" name="aPaterno"
                placeholder="ingrese apellido paterno" [(ngModel)]="a_materno" required>
            </div>


            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
              <br><label><strong>Fecha de ingreso</strong></label>
              <input type="date" class="form-control form-control-sm" name="fNacimiento" [(ngModel)]="fecha_ingreso"
                required>
            </div>

          </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row justify-content-end">


            <div class="col-12 col-md-3 col-lg-3 col-xl-3">
              <br><label><strong>Guardar Socio</strong></label><br>
              <button class="btn btn btn-success btn-block btn-sm" type="submit" value="ingresar"
                (click)="validar_inputs(validar)">Guardar
              </button>
            </div>

          </div>
        </div>

      </div>
    </form>
  </div> <br>

