<div class="container">
  <!--Formulario de otras cuentas-->
  <div class="card">
    <div class="card-header" id="demoFont"><strong class="text-center"><h6>Otras Cuentas</h6></strong></div>
    <form action="">
      <div class="card-body">
        <div class="row">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
              <!--Boton Para llamar modals-->
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3"> <app-modal-inicio-mes></app-modal-inicio-mes> </div>
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3"> <app-modal-caja-chica></app-modal-caja-chica> </div>
            </div>
        </div>
      </div>
    </form>
  </div><br>

  <!--Formulario para ingresar una cuenta sindical-->
  <div class="card">
    <div class="card-header" id="demoFont"><strong class="text-center">
        <h6>Cuenta Sindical</h6>
      </strong>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="card-body">
          <div class="row">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">

              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <br><label><strong>Ingrese Fecha</strong></label> <br>
                <div class="input-group">
                  <input
                  type="date" 
                  class="form-control form-control-sm"  
                  name="fecha" 
                  #fecha="ngModel"
                  [(ngModel)]="datosSindicales.fecha">
                </div>
              </div>

              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <br><label><strong>N° de Documento</strong></label>
                <input 
                type="text" 
                class="form-control form-control-sm"
                name="nDocumento" 
                #nDocumento="ngModel"
                [(ngModel)]="datosSindicales.nDocumento" 
                required>
                <small *ngIf="!nDocumento.valid && nDocumento.touched" class="invalid-feedback d-block">
                  Compruebe que el N° Documento no este vacio
                </small>
              </div>

              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <br><label><strong>Subir Documento</strong></label>
                <input class="form-control-file" type="file">
              </div>

              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3"><br><label><strong>Seleccione Tipo</strong></label>
                <select (change)="changeDefinicion($event)" class="form-control form-control-sm">
                  <option *ngFor="let tipo of selectDefinicion" [value]="tipo.id">{{tipo.descripcion}}</option>
                </select>
              </div><br>

              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3"><br><label><strong>Detalle Tipo</strong></label>
                <select (change)="changeDetalle($event)" class="form-control form-control-sm">
                  <option *ngFor="let detalle of selectDetalle" [value]="detalle.id">{{detalle.descripcion}}</option>
                </select>
              </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <br><label><strong>Ingrese Monto</strong></label>
                    <input 
                    type="number"
                    class="form-control form-control-sm"
                    name="monto" 
                    #monto="ngModel"
                    [(ngModel)]="datosSindicales.monto" 
                    required>
                  <small *ngIf="!monto.valid && monto.touched" class="invalid-feedback d-block">
                    Compruebe que el monto ingresado solo contenga numeros
                  </small>
                </div>


                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                      <br><label><strong>Ingrese Descripcion del Tipo</strong></label>
                      <input 
                        class="form-control" 
                        minlength="5"
                        maxlength="80"
                        name="descripcion" 
                        #descripcion="ngModel"
                        [(ngModel)]="datosSindicales.descripcion" 
                        required>
                      <small *ngIf="!descripcion.valid && descripcion.touched" class="invalid-feedback d-block">
                        Compruebe que la descripcion ingresada no se encuentre vacia y cumpla un minimo de 5 caracteres
                      </small>
                    </div>

              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <br><label><strong>Guardar Cuenta Sindical</strong></label><br>
                <button class="btn btn btn-success btn-block btn-sm" type="submit" value="ingresar"
                  [disabled]="loginForm.invalid">Guardar</button>
              </div>

              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <br><label><strong>Visualizar Tabla Sindical</strong></label><br>
                <app-tabla-sindical></app-tabla-sindical>
              </div>

            </div>
          </div>
      </div>
    </form>
  </div> <br>

</div>