<form #f="ngForm" (submit)="setAcuerdoAsamblea()">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group text-center">
        <label for="titulo"><b>Ingrese titulo del acuerdo</b></label>
        <input type="text" name="titulo" class="form-control" [(ngModel)]="datosActa.tituloActa" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="fecha"><b>Seleccione Fecha</b></label>
        <input type="datetime-local" name="fecha" class="form-control" [(ngModel)]="datosActa.fechaActa" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="tipo"><b>Seleccione el tipo de Acuerdo</b></label>
        <select class="form-control" name="tipo" [(ngModel)]="datosActa.tipoActa" required>
          <option value="1">Ordinaria</option>
          <option value="2">Extraordinaria</option>
        </select>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="estado"><b>Seleccione el estado del Acuerdo</b></label>
        <select class="form-control" name="tipo" [(ngModel)]="datosActa.estadoActa">
          <option value="1">Aprobada</option>
          <option value="2">Rechazada</option>
        </select>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group text-center">
        <label for="cuerpo"><b>Contenido del Acuerdo</b></label>
        <textarea class="form-control" name="cuerpo" id="" rows="10" [(ngModel)]="datosActa.contenidoActa"
          required></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="f.invalid || loading">
        Ingresar <img height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif" [hidden]="!loading">
      </button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-secondary btn-block" (click)="abrirModalAcuerdos(menuAdministrarReunion)">Ver
        Acuerdos de
        Asamblea</button>
    </div>
  </div>
</form>

<!-- LISTA ACUERDOS ASAMBKLEA -->
<ng-template #menuAdministrarReunion let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Lista de Acuerdos de Asamblea</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="anio">Seleccione Año</label>
            <select name="anio" class="form-control" name="anio" #anio="ngModel" [(ngModel)]="idAnioActual"
              (change)="changeAnio($event)">
              <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover text-center">
          <thead id="demoFont2">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
              <th scope="col">N° Reunión</th>
              <th scope="col">Titulo</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemAcuerdos of tablaAcuerdos">
              <th class="firsttdg">{{itemAcuerdos.nuevo}}</th>
              <td>{{itemAcuerdos.fecha | date:'shortTime'}}</td>
              <td>{{itemAcuerdos.id}}</td>
              <td>{{itemAcuerdos.titulo}}</td>
              <td>
                <span *ngIf="itemAcuerdos.id_estado_acuerdo == 0" class="text-primary">Pendiente</span>
                <span *ngIf="itemAcuerdos.id_estado_acuerdo == 1" class="text-success">Aprobado</span>
                <span *ngIf="itemAcuerdos.id_estado_acuerdo == 2" class="text-danger">Rechazado</span>
              </td>
              <td>
                <button *ngIf="itemAcuerdos.id_estado_acuerdo != 0" class="btn btn-primary m-1"
                  (click)="abrirModalTest(imprimirAcuerdo, itemAcuerdos.id)">Visualizar</button>
                <button *ngIf="itemAcuerdos.id_estado_acuerdo == 0" class="btn btn-primary m-1"
                  (click)="abrirModalTest(visualizarAcuerdo, itemAcuerdos.id)">Aprobar/Rechazar</button>
                <button (click)="abrirModalTest(editarAcuerdo, itemAcuerdos.id)"
                  *ngIf="itemAcuerdos.id_estado_acuerdo == 0" class="btn btn-danger m-1">Editar</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" id="cerrarMenu" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>

<!-- VISUALIZAR ACUERDO -->
<ng-template #visualizarAcuerdo let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Lista de Acuerdos de Asamblea</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">

    <div *ngIf="!acuerdo.id" class="loader"></div>

    <div *ngIf="acuerdo.id">
      <h3 style="text-align: center;">
        <b>{{acuerdo.titulo}}</b>
      </h3>

      <p><b>Creado Por:</b></p>
      <pre>{{acuerdo.nombre}}</pre>

      <p><b>Fecha:</b></p>
      <pre>{{acuerdo.nuevo}}</pre>

      <div>
        <p><b>Tipo de Acta:</b></p>
        <p>
          <span *ngIf="acuerdo.id_tipo_acuerdo == 1">Ordinaria</span>
          <span *ngIf="acuerdo.id_tipo_acuerdo == 2">Extraordinaria</span>
        </p>
      </div>

      <div>
        <p><b>Estado del Acta:</b></p>
        <p>
          <span *ngIf="acuerdo.id_estado_acuerdo == 0">Pendiente</span>
          <span *ngIf="acuerdo.id_estado_acuerdo == 1">Aprobado</span>
          <span *ngIf="acuerdo.id_estado_acuerdo == 2">Rechazado</span>
        </p>
      </div>

      <p><b>Temas a tratar:</b></p>
      <pre>{{acuerdo.contenido}}</pre>

      <form #f="ngForm" (submit)="actualizarAcuerdo()">
        <div class="row">
          <div class="col-12">
            <label><b>Motivo de apruebo o rechazo:</b></label>
            <textarea [(ngModel)]="acuerdo.descripcion_cambio_estado" name="descrice" class="form-control" cols="30"
              rows="5" required></textarea>
            <label><b>Estado:</b></label>
            <select [(ngModel)]="acuerdo.id_estado_acuerdo" name="estadoApRe" class="form-control" required>
              <option value="0" selected disabled hidden>--Seleccione--</option>
              <option value="1">Aprobada</option>
              <option value="2">Rechazada</option>
            </select>
          </div>
        </div>
        <br>
        <button [disabled]="f.invalid || acuerdo.id_estado_acuerdo == 0 || loading" type="submit" class="btn btn-primary btn-block">
          Guardar <img height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif" [hidden]="!loading">
        </button>
      </form>
    </div>
  </div>

  <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" id="botonCerrarModal" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>

<!-- EDITAR ACUERDO -->
<ng-template #editarAcuerdo let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Editar Acuerdo</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <form #f="ngForm" (submit)="actualizarAcuerdo()">
  <div class="modal-body">
    <div *ngIf="!acuerdo.id" class="loader"></div>
    <div *ngIf="acuerdo.id" class="container">
        <div class="row">
          <label>Titulo:</label>
          <input [(ngModel)]="acuerdo.titulo" name="titulo" class="form-control" type="text" required>
          <label>Fecha:</label>
          <input [(ngModel)]="acuerdo.fecha" name="fecha2" class="form-control" type="datetime-local" required>
          <label>Tipo de Acta:</label>
          <select [(ngModel)]="acuerdo.id_tipo_acuerdo" name="tipo" class="form-control" name="tipo"
            [(ngModel)]="datosActa.tipoActa" required>
            <option value="1">Ordinaria</option>
            <option value="2">Extraordinaria</option>
          </select>
          <label>Temas a tratar:</label>
          <textarea [(ngModel)]="acuerdo.contenido" name="tema" class="form-control" rows="10" required></textarea>
        </div>
      </div>
    </div>
    <!-- Patitas del Modal -->
    <div class="modal-footer">
      <button [disabled]="f.invalid || loading" type="submit" class="btn btn-primary">
        Actualizar <img height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif" [hidden]="!loading">
      </button>
      <button type="button" id="botonCerrarModal" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
      </div>
    </form>
    </ng-template>
    
<!-- IMPRIMIR ACUERDO -->
<ng-template #imprimirAcuerdo let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Lista de Acuerdos de Asamblea</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body" id="printJS-table">
    <div *ngIf="!acuerdo.id" class="loader"></div>

    <div *ngIf="acuerdo.id">

      <div class="d-flex justify-content-start">
        <img src="/assets/logo-sindicato-transparente.png" width="90px" height="70px">
      </div>

      <h3 style="text-align: center;">
        <b>{{acuerdo.titulo}}</b>
      </h3>

      <p><b>Creado Por:</b></p>
      <pre>{{acuerdo.nombre}}</pre>

      <p><b>Fecha:</b></p>
      <pre>{{acuerdo.nuevo}}</pre>

      <div>
        <p><b>Tipo de Acta:</b></p>
        <p>
          <span *ngIf="acuerdo.id_tipo_acuerdo == 1">Ordinaria</span>
          <span *ngIf="acuerdo.id_tipo_acuerdo == 2">Extraordinaria</span>
        </p>
      </div>

      <div>
        <p><b>Estado del Acta:</b></p>
        <p>
          <span *ngIf="acuerdo.id_estado_acuerdo == 0">Pendiente</span>
          <span *ngIf="acuerdo.id_estado_acuerdo == 1">Aprobado</span>
          <span *ngIf="acuerdo.id_estado_acuerdo == 2">Rechazado</span>
        </p>
      </div>

      <p><b>Temas a tratar:</b></p>
      <pre>{{acuerdo.contenido}}</pre>

      <p><b>Motivo de <span *ngIf="acuerdo.id_estado_acuerdo == 1">Aprobado</span>
          <span *ngIf="acuerdo.id_estado_acuerdo == 2">Rechazado</span></b></p>
      <pre>{{acuerdo.descripcion_cambio_estado}}</pre>
      <br>
    </div>
  </div>

  <!-- Patitas del Modal -->
  <div class="modal-footer">

    <button type="button" class="btn btn-success" onclick="printJS({
      printable: 'printJS-table',
      type:'html',
      style: 'pre{font-family: Arial;font-size: 15px;width: 100%;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;}'
    })">
      <i class="fas fa-print"></i> Imprimir Datos
    </button>

    <button type="button" id="botonCerrarModal" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>