<div class="row">
    <div class="col-md-6 mt-4">
        <div (click)="abrirModalIngreso(ingreso)" class="card card-body text-white text-center bg-primary"
            style="cursor: pointer">
            <h3><i class="fas fa-vote-yea"></i> Crear Nuevo Tema</h3>
            <p>Aqui se crearan nuevos temas a votar.</p>
        </div>
    </div>

    <div class="col-md-6 mt-4">
        <div (click)="abrirModalActivos(activos)" class="card card-body text-white text-center bg-success"
            style="cursor: pointer">
            <h3><i class="fas fa-hourglass-end"></i> Temas Activos</h3>
            <p>Modificar, dar por cerrado o cancelar temas activos.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mt-4 mb-4">
        <div (click)="abrirModalHistorial(historial)" class="card card-body text-white text-center bg-danger"
            style="cursor: pointer">
            <h3><i class="fas fa-list"></i> Historial de Temas Tratados</h3>
            <p>Ver los temas tratados anteriormente.</p>
        </div>
    </div>
</div>

<ng-template #ingreso let-c="close" let-d="dismiss">
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong>
                <!-- <i class="fas fa-archive"></i> --> Asamblea Online / Crear Tema</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-header" id="demoFont2">
            <h6 class="modal-title"><strong>Formulario de Ingreso</strong></h6>
        </div>
        <div class="card">
            <form #temasForm="ngForm" (ngSubmit)="ingresarTema()">
                <div class="row centrar">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Fecha</label>
                            <input class="form-control" type="date" name="fecha" [(ngModel)]="datosTema.fecha" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Remitente</label>
                            <input class="form-control" disabled type="text" name="remitente" [(ngModel)]="remitente">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Titulo</label>
                            <input class="form-control" type="text" name="titulo" [(ngModel)]="datosTema.titulo"
                                required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Descripcion</label>
                            <textarea class="form-control resize-none" name="descripcion"
                                [(ngModel)]="datosTema.descripcion" required></textarea>
                        </div>
                    </div>

                    <button type="submit" [disabled]="temasForm.invalid || ingresandoTema"
                        class="btn btn-block btn-success">Ingresar Tema <img *ngIf="ingresandoTema" height="20"
                            src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="d('Cross click')"><i
                class="far fa-arrow-alt-circle-left"></i> Volver a Asamblea Online</button>
    </div>
</ng-template>

<ng-template #activos let-c="close" let-d="dismiss">
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong>
                <!-- <i class="fas fa-archive"></i> --> Asamblea Online / Temas Activos</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="row centrar">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm shadow p-3 mb-5 bg-white rounded">
                        <thead text-sm class="text-center">
                            <tr>
                                <th colspan="8" class="ColorThCS">Temas Activos</th>
                                <th colspan="2"><button class="btn btn-info"
                                        (click)="traerTemasActivos()">Actualizar</button></th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <!-- <i class="far fa-calendar-alt"></i> -->Fecha Inicio</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Titulo</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Estado</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Remitente</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of temasActivos" class="text-center">
                                <td colspan="2">{{item?.fecha_inicio}}</td>
                                <td colspan="2">{{item?.titulo}}</td>
                                <td colspan="2">{{item?.estado}}</td>
                                <td colspan="2">{{item?.nombre}}</td>
                                <td colspan="2"><button (click)="abrirModalActualizar(editar,item)" type="button"
                                        class="btn btn-info">Ver</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="cerrarActivos" class="btn btn-info" (click)="d('Cross click')"><i
                class="far fa-arrow-alt-circle-left"></i> Volver a Asamblea Online</button>
    </div>
</ng-template>

<ng-template #editar let-c="close" let-d="dismiss">
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong>
                <!-- <i class="fas fa-archive"></i> --> Asamblea Online / Editar Tema</strong></h6>
        <button type="button" id="cerrarModalEditar" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-header" id="demoFont2">
            <h6 class="modal-title"><strong>Formulario de Edicion</strong></h6>
        </div>
        <div class="card">
            <form #temasActForm="ngForm" (ngSubmit)="actualizarTema()">
                <div class="row centrar">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Fecha</label>
                            <input class="form-control" type="date" name="fecha" [(ngModel)]="datosActTemas.fecha"
                                required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Remitente</label>
                            <input class="form-control" disabled type="text" name="remitente" [(ngModel)]="remitente">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Titulo</label>
                            <input class="form-control" type="text" name="titulo" [(ngModel)]="datosActTemas.titulo"
                                required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Descripcion</label>
                            <textarea class="form-control resize-none" name="descripcion"
                                [(ngModel)]="datosActTemas.descripcion" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <button type="submit"
                            [disabled]="temasActForm.invalid || actualizandoTema || terminarTema || cancelarTema || mostrarVotos || cerrada"
                            class="btn btn-block btn-success">Actualizar Tema <img *ngIf="actualizandoTema" height="20"
                                src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
                    </div>
                    <div class="col-md-4 mt-2">
                        <button (click)="cerrarTema(grafico)" type="button"
                            [disabled]="terminarTema || actualizandoTema || cancelarTema || mostrarVotos || cerrada"
                            class="btn btn-block btn-primary">Terminar Tema <img *ngIf="terminarTema" height="20"
                                src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
                    </div>
                    <div class="col-md-4 mt-2">
                        <button (click)="cancelarTemas()" type="button"
                            [disabled]="cancelarTema || actualizandoTema || terminarTema || mostrarVotos || cerrada"
                            class="btn btn-block btn-danger">Cancelar Tema <img *ngIf="cancelarTema" height="20"
                                src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
                    </div>
                    <div class="col-md-12 mt-2">
                        <button (click)="traerVotosTema(datosActTemas.id, grafico, false)" type="button"
                            [disabled]="mostrarVotos || cancelarTema || actualizandoTema || terminarTema || cerrada"
                            class="btn btn-block btn-info">Ver Votos <img *ngIf="mostrarVotos" height="20"
                                src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button [hidden]="cerrada" type="button" class="btn btn-info" (click)="d('Cross click')"><i
                class="far fa-arrow-alt-circle-left"></i> Volver</button>
        <button [hidden]="!cerrada" type="button" class="btn btn-info"
            (click)="traerTemasActivos(); d('Cross click')"><i class="far fa-arrow-alt-circle-left"></i> Volver</button>
    </div>
</ng-template>

<ng-template #historial let-c="close" let-d="dismiss">
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong>
                <!-- <i class="fas fa-archive"></i> --> Asamblea Online / Historial</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="row centrar text-center">
                <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Año <i
                                class="fas fa-calendar-check"></i></strong></label>
                    <select (change)="changeAnio($event)" name="anio" #anio="ngModel" [(ngModel)]="idAnioActual"
                        class="form-control form-control-sm">
                        <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Mes <i
                                class="fas fa-calendar-check"></i></strong></label>
                    <select (change)="changeMes($event)" name="mes" #mes="ngModel" [(ngModel)]="idMesActual"
                        class="form-control form-control-sm">
                        <option *ngFor="let mes of selectMes" [value]="mes.id">{{mes.descripcion}}</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Tipo <i
                                class="fas fa-calendar-check"></i></strong></label>
                    <select (change)="changeTipo($event)" name="tipo" #tipo="ngModel" [(ngModel)]="idTipoActual"
                        class="form-control form-control-sm">
                        <option value="0">Todos</option>
                        <option *ngFor="let tipo of selectTipo" [value]="tipo.id">{{tipo.tipo}}</option>
                    </select>
                </div>
                <div class="col-md-3"><br><label>
                        <strong>Recargar tabla </strong>
                    </label><br>
                    <button class="btn btn-info" (click)="traerHistorial()">Actualizar</button>
                </div>
            </div>
            <div class="row centrar">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm shadow p-3 mb-5 bg-white rounded">
                        <thead text-sm class="text-center">
                            <tr>
                                <th colspan="14" class="ColorThCS">Historial</th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <!-- <i class="far fa-calendar-alt"></i> -->Fech Inicio</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-sticky-note"></i> -->Fecha Termino</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Titulo</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Estado</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Aprobado</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Remitente</th>
                                <th colspan="2">
                                    <!-- <i class="fas fa-user-circle"></i> -->Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of temasHistorial" class="text-center">
                                <td colspan="2">{{item?.fecha_inicio}}</td>
                                <td colspan="2">{{item?.fecha_termino}}</td>
                                <td colspan="2">{{item?.titulo}}</td>
                                <td colspan="2">{{item?.estado}}</td>
                                <td colspan="2">{{item?.aprobado}}</td>
                                <td colspan="2">{{item?.nombre}}</td>
                                <td colspan="2"><button (click)="abrirModalDetalle(detalle, item)" type="button"
                                        class="btn btn-info">Ver</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="d('Cross click')"><i
                class="far fa-arrow-alt-circle-left"></i> Volver a Asamblea Online</button>
    </div>
</ng-template>


<ng-template #grafico let-c="close" let-d="dismiss">
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong>
                <!-- <i class="fas fa-archive"></i> --> Asamblea Online / Votos</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row justify-center mt-2">
            <div class="col-md-12">
                <h3 class="text-center">
                    {{motivo}}
                </h3>
            </div>
        </div>
        <div class="row mt-2">
            <canvas id="votosTema" width="400" height="400">
                {{chart}}
            </canvas>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="d('Cross click')"><i
                class="far fa-arrow-alt-circle-left"></i> Volvere</button>
    </div>
</ng-template>

<ng-template #detalle let-c="close" let-d="dismiss">
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong>
                <!-- <i class="fas fa-archive"></i> --> Asamblea Online / Detalle Historial</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-header" id="demoFont2">
            <h6 class="modal-title"><strong>Detalle del Tema Tratado</strong></h6>
        </div>
        <div class="card">
            <div class="row centrar text-center">
                <div class="col-12 col-md-12">
                    <h3>
                        <span><b>{{datosDetTemas.titulo}}</b></span>
                        <hr>
                    </h3>
                </div>
                <div class="col-12 col-md-3">
                    <label>
                        <h5>
                            <b>Inicio Votación: </b>
                        </h5>
                    </label>
                    <h6>
                        <span>{{datosDetTemas.inicio}}</span>
                    </h6>
                </div>
                <div class="col-12 col-md-3">
                    <label>
                        <h5>
                            <b>Termino Votación: </b>
                        </h5>
                    </label>
                    <h5>
                        <h6>
                            <span>{{datosDetTemas.termino}}</span>
                        </h6>
                    </h5>
                </div>
                <div class="col-12 col-md-3">
                    <label>
                        <h5>
                            <b>Estado: </b>
                        </h5>
                    </label>
                    <h6>
                        <span
                            [ngClass]="{'cancelada' : datosDetTemas?.estado != 'Publicado' , 'cancelada' : datosDetTemas?.estado != 'Publicado' , 'aprobado' : datosDetTemas?.estado == 'Publicado'}">
                            {{datosDetTemas.estado}}</span>
                    </h6>
                </div>
                <div class="col-12 col-md-3">
                    <label>
                        <h5>
                            <b>Aprobación: </b>
                        </h5>
                    </label>
                    <h6>
                        <span
                            [ngClass]="{'cancelada' : datosDetTemas?.aprobado != 'Aprobado' , 'cancelada' : datosDetTemas?.aprobado != 'Aprobado' , 'aprobado' : datosDetTemas?.aprobado == 'Aprobado'}">
                            {{datosDetTemas.aprobado}}
                        </span>
                    </h6>
                </div>
                <div class="col-12 col-md-12 text-left"> <hr>
                    <label class="mt-2">
                        <h5>
                            <b>Tema tratado: </b>
                        </h5>
                    </label>
                    <h6>
                        <span>{{datosDetTemas.descripcion}}</span>
                    </h6>
                </div>
                <div class="col-12 col-md-12 text-right"> <hr>
                    <label>
                        <h5>
                            <h5>
                                <b>Creada por: </b>
                            </h5>
                        </h5>
                    </label>
                    <h6>
                        <span>{{datosDetTemas.nombre}}</span>
                    </h6>
                </div>
                <div class="col-md-12 mt-2">
                    <button (click)="traerVotosTema(datosDetTemas.id, grafico, true)" type="button"
                        [disabled]="mostrarVotos" class="btn btn-block btn-info">Ver Votos <img *ngIf="mostrarVotos"
                            height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="d('Cross click')"><i
                class="far fa-arrow-alt-circle-left"></i> Volver</button>
    </div>
</ng-template>