<div class="card">

    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row justify-content-center">
  
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
          <div class="form-group">
            <br><label><strong>Ingrese Fecha</strong></label> <br>
            <input type="date" class="form-control form-control-sm" name="fecha">
          </div>
        </div>
  
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
          <div class="form-group">
            <br><label><strong>N° de Folio</strong></label>
            <input type="text" class="form-control form-control-sm" name="nDocumento" required>
          </div>
        </div>
  
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
          <div class="form-group">
            <br><label><strong>Subir Certificado de Defunción</strong></label>
            <input class="form-control-file" type="file">
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row justify-content-center">
  
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
          <div class="form-group">
            <br><label><strong>Seleccione Tipo</strong></label>
            <select name="tipo" id="tipo" class="form-control form-control-sm">
              <option value="">--Seleccione--</option>
              <option value="2">Egreso</option>
            </select>
          </div>
        </div><br>
  
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
          <div class="form-group">
            <br><label><strong>Ingrese Monto</strong></label>
            <input type="number" class="form-control form-control-sm" name="monto" required>
          </div>
        </div>
  
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
          <div class="form-group">
            <br><label><strong>Guardar Fallecimiento</strong></label><br>
            <button class="btn btn btn-success btn-block btn-sm" type="submit" value="ingresar">Guardar</button>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>