<ng-template #Fallecimiento let-modal>

  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><i class="fas fa-cross"></i> <strong> Cuenta Bienestar / Fallecimiento</strong></h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--Cuerpo del body fallecimiento-->
  <div class="modal-body">

    <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="form-fallecimiento-tab" data-toggle="tab" href="#form-fallecimiento" role="tab"
          aria-controls="form-fallecimiento" aria-selected="true">Formulario Fallecimiento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="table-fallecimiento-tab" data-toggle="tab" href="#table-fallecimiento" role="tab"
          aria-controls="table-fallecimiento" aria-selected="false">Tabla Fallecimiento</a>
      </li>
    </ul> <br>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="form-fallecimiento" role="tabpanel" aria-labelledby="form-fallecimiento-tab">
            <!--Datos del socio-->
            <div class="card-header" id="demoFont2">
                <h6 class="card-title">Formulario</h6>
            </div>

            <div class="card">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row justify-content-center">
                      <app-formulario-fallecimiento-bienestar></app-formulario-fallecimiento-bienestar>
                    </div>
                </div>
            </div> <br>

        </div>

        <div class="tab-pane fade" id="table-fallecimiento" role="tabpanel" aria-labelledby="table-fallecimiento-tab">
            <!--Datos del socio-->
            <div class="card-header" id="demoFont2">
                <h6 class="card-title">Tabla</h6>
            </div>

            <div class="card">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row justify-content-center">
                      <app-tabla-fallecimiento-bienestar></app-tabla-fallecimiento-bienestar>
                    </div>
                </div>
            </div> <br>

        </div>

    </div>



  </div>

  <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i class="fas fa-undo-alt"></i> Volver a Cuenta
      Bienestar
    </button>
  </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<label><strong>Detalle Fallecimiento</strong></label><br>
<button class="btn btn btn-success btn-block btn-sm" (click)="openMensual(Fallecimiento)">Ingresar</button>