<div class="container">
  <!--Formulario de otras cuentas-->
  <div class="card">
    <div class="card-header" id="demoFont"><strong class="text-center">
        <h6>Otras Cuentas</h6>
      </strong></div>
    <form action="">
      <div class="card-body">
        <div class="row">
          <div class="row col-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
            <!--Boton Para llamar modals-->
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-xl-2"><app-inicio-cierre-mensual></app-inicio-cierre-mensual></div>
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-xl-2">Caja Chica</div>
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-xl-2">Fallecimiento</div>
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-xl-2">Nacimiento</div>
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-xl-2">Gastos Medicos</div>
          </div>
        </div>
      </div>
    </form>
  </div><br>

  <!--Formulario para ingresar una cuenta sindical-->
  <div class="card">
    <div class="card-header" id="demoFont"><strong class="text-center">
        <h6>Cuenta Bienestar</h6>
      </strong>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="card-body">
        <div class="row">
          <div class="row col-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">

            <div class="col-12 col-md-3 col-lg-3 col-xl-3">
              <br><label><strong>Ingrese Fecha</strong></label> <br>
              <div class="input-group">
                <input type="date" class="form-control form-control-sm" name="fecha">
              </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3 col-xl-3">
              <br><label><strong>N° de Documento</strong></label>
              <input type="number" class="form-control form-control-sm" name="nDocumento" required>
            </div>

            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
              <br><label><strong>Subir Documento</strong></label>
              <input class="form-control-file" type="file">
            </div>

            <div class="col-12 col-md-3 col-lg-3 col-xl-3"><br><label><strong>Seleccione Tipo</strong></label>
              <select name="tipo" id="tipo" class="form-control form-control-sm">
                <option value="0">--Seleccione--</option>
                <option value="1">Ingreso</option>
                <option value="2">Egreso</option>
              </select>
            </div><br>

            <div class="col-12 col-md-3 col-lg-3 col-xl-3"><br><label><strong>Detalle Tipo</strong></label>
              <select name="detalleTipo" id="detalleTipo" class="form-control form-control-sm">
                <option value="0">--Seleccione--</option>
                <option value="1">Cuenta del Gas</option>
                <option value="2">Inasistencia por Reunión</option>
                <option value="3">Inasistencia por Votación</option>
                <option value="4">Fallecimiento</option>
                <option value="5">Nacimiento</option>
                <option value="6">Detalle Caja Chica</option>
                <option value="7">Gastos Medicos</option>
              </select>
            </div>

            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
              <br><label><strong>Ingrese Monto</strong></label>
              <input type="number" class="form-control form-control-sm" name="monto" required>
            </div>


            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
              <br><label><strong>Ingrese Descripcion del Tipo</strong></label>
              <input class="form-control" minlength="5" maxlength="160" name="descripcion" required>
            </div>

            <div class="col-12 col-md-3 col-lg-3 col-xl-3">
              <br><label><strong>Guardar Cuenta Bienestar</strong></label><br>
              <button class="btn btn btn-success btn-block btn-sm" type="submit" value="ingresar"
                [disabled]="loginForm.invalid">Guardar</button>
            </div>

            <div class="col-12 col-md-3 col-lg-3 col-xl-3">
              <br><label><strong>Visualizar Tabla Bienestar</strong></label><br>
              <app-tabla-bienestar></app-tabla-bienestar>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div> <br>

</div>