<div class="container">
  <!-- tabla del formulario -->
  <div class="card-header mt-4" id="demoFont">
    <h6 class="card-title text-center"><strong>Historial feriados</strong></h6>
  </div>

  <div class="card">

    <div class="container mt-3 mb-3">
      <!-- <pre>{{ solicitudes | json }}</pre> -->
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm">

          <thead>
            <tr>
              <th style="background: #138D75">Rut </th>
              <td colspan="6">{{vh.rut_trabajador}}</td>
            </tr>
            <tr>
              <th style="background: #138D75">Nombre </th>
              <td colspan="6">{{vh.nombre_trabajador}}</td>
            </tr>
            <tr>
              <th style="background: #138D75">Fecha de ingreso </th>
              <td colspan="2">{{vh.created_at}}</td>

              <th style="background: #138D75">Fecha base progresiva ?? </th>
              <td colspan="3">02/05/2012 ??</td>
            </tr>
            <tr>
              <th style="background: #138D75">D. Básicos devengados </th>
              <td colspan="2">{{vh.d_basicos_devengados}}</td>

              <th style="background: #138D75">D. progresivos devengados </th>
              <td colspan="3">{{vh.d_progresivos_devengados}}</td>
            </tr>
          </thead>
          <thead>
            <tr>
              <td colspan="7"></td>
            </tr>
          </thead>
          <thead>
            <!--Fijos-->
            <tr class="text-center">
              <th style="background: #138D75">
                Solicitud
              </th>
              <th style="background: #138D75">
                Inicio
              </th>
              <th style="background: #138D75">
                Termino
              </th>
              <th style="background: #138D75">
                Días legales
              </th>
              <th style="background: #138D75">
                Días progresivos
              </th>
              <th style="background: #138D75">
                Documento
              </th>
              <th style="background: #138D75">
                OPC.
              </th>

            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let i of solicitudes;">
              <td>{{ i.fecha_solicitud }}</td>
              <td>{{ i.fecha_inicio }}</td>
              <td>{{ i.fecha_termino }}</td>
              <td>{{ i.dias_legales }}</td>
              <td>{{ i.dias_progresivos }}</td>
              <td>
                <a *ngIf="i.documento" (click)="open_modal(visor);vdoc=i.documento;" style="cursor: pointer" class="btn-primary-outline">
                  <i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
                </a>&nbsp;
              </td>
              <td>
                <button (click)="open_modal(visor);vdoc=i.documento;" class="btn btn-sm btn-success">Ver
                  detalle</button>
              </td>
            </tr>
          </tbody>
        </table>

        <!--MODAL VISOR PDF-->
        <ng-template #visor let-c="close" let-d="dismiss">
          <div class="row">
            <div class="col">
              <div class="modal-header text-center" id="demoFont">
                <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <iframe width="100%" height="500px" [src]="  '../' + vdoc | safeUrl" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <div class="modal-footer" [hidden]="true">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
              </div>
            </div>
          </div>
        </ng-template>
        <!--MODAL VISOR PDF-->
      </div>
    </div>
  </div>
</div>
