
    <div class="row">
      <div class="col-6 col-md-12 mt-4">
        <label>
          <b>Ingrese una fecha para la agendar reunion de direcotrio (Formato 24 horas) </b>
          <i class="fas fa-info-circle" placement="right" ngbTooltip="El formato de hora es 24 horas"></i>
        </label>
        <div class="input-group">
          <input type="datetime-local" name="fecha" required>
        </div>
      </div>
  
      <div class="col-6 col-md-12 mt-4">
        <label>
          <b>Temas a tratar en la Reunion </b>
        </label>
        <div class="input-group">
          <input type="text" name="temas" required>
        </div>
      </div>
    </div>

