<form #directorio="ngForm" (ngSubmit)="ingresarDirectorio(directorio)">
  <div class="row">
    <div class="col-md-3">
      <label>
        <b>Agendar reunion de directorio </b>
        <i class="fas fa-info-circle" placement="right" ngbTooltip="Formato 24 horas."></i>
      </label>
      <div class="form-group">
        <input class="form-control" type="datetime-local" name="fecha" [(ngModel)]="datosDirectorio.fecha" required>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="tipo"><b>Tipo de Reunión</b></label>
        <select class="form-control" name="tipoReunion" [(ngModel)]="datosDirectorio.sec_tipo_reunion_id" required>
          <option value="">--Seleccione--</option>
          <option value="4">Directorio</option>
          <option value="5">Sub-Gerencia</option>
          <option value="6">Gerencia</option>
          <option value="7">Externos</option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <label>
        <b>Titulo de la reunion </b>
      </label>
      <div class="form-group">
        <input class="form-control" type="text" name="titulo" [(ngModel)]="datosDirectorio.titulo" required>
      </div>
    </div>

    <div class="col-md-3">
      <label>
        <b>Directiva Asistida </b>
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="checkbox1" name="presidente"
            [(ngModel)]="datosDirectorio.presidente">
          <label class="form-check-label" for="inlineCheckbox1">Presidente/a</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="checkbox2" name="tesorero"
            [(ngModel)]="datosDirectorio.tesorero">
          <label class="form-check-label" for="inlineCheckbox2">Tesorero/a</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="checkbox3" name="secretario"
            [(ngModel)]="datosDirectorio.secretario">
          <label class="form-check-label" for="inlineCheckbox3">Secretario/a</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="checkbox4" name="1erDirector"
            [(ngModel)]="datosDirectorio.primerDirector">
          <label class="form-check-label" for="inlineCheckbox4">1er Director</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="checkbox5" name="2doDirector"
            [(ngModel)]="datosDirectorio.segundoDirector">
          <label class="form-check-label" for="inlineCheckbox5">2do Director</label>
        </div>

      </div>
    </div>

  </div>

  <div class="row">

    <div *ngIf="datosDirectorio.sec_tipo_reunion_id == '5'" class="col-md-12">
      <label>
        <b>Sub-Gerentes</b>
      </label>
      <div class="form-group">
        <div class="form-group">
          <textarea class="form-control blockArea" type="text" name="subGerente"
            placeholder="Nombre y cargo del Sub-Gerente" [(ngModel)]="datosDirectorio.asistencia" required></textarea>
        </div>
      </div>
    </div>

    <div *ngIf="datosDirectorio.sec_tipo_reunion_id == '6'" class="col-md-12">
      <label>
        <b>Gerentes</b>
      </label>
      <div class="form-group">
        <div class="form-group">
          <textarea class="form-control blockArea" type="text" name="gerente" placeholder="Nombre y cargo del Gerente"
            [(ngModel)]="datosDirectorio.asistencia" required></textarea>
        </div>
      </div>
    </div>

    <div *ngIf="datosDirectorio.sec_tipo_reunion_id == '7'" class="col-md-12">
      <label>
        <b>Externos</b>
      </label>
      <div class="form-group">
        <div class="form-group">
          <textarea class="form-control blockArea" type="text" name="externo" placeholder="Nombre y cargo del externo"
            [(ngModel)]="datosDirectorio.asistencia" required></textarea>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <label>
        <b>Temas Tratados </b>
      </label>
      <div class="form-group">
        <textarea class="form-control blockArea" type="text" name="temas" [(ngModel)]="datosDirectorio.temas"
          required></textarea>
      </div>
    </div>

    <div class="col-md-12">
      <label>
        <b>Acuerdos </b>
      </label>
      <div class="form-group">
        <textarea class="form-control blockArea" type="text" name="acuerdos" [(ngModel)]="datosDirectorio.acuerdos"
          required></textarea>
      </div>
    </div>

  </div>

  <div class="row justify-content-end">
    <div class="col-md-2">
      <label>
        <b>Agendar Reunion</b>
      </label>
      <button class="btn btn-success btn-block btn-sm" type="submit" [disabled]="!directorio.valid ||
                    ingresandoDatos ||
                    (directorio.value.presidente == false && 
                    directorio.value.tesorero == false &&
                    directorio.value.secretario == false &&
                    directorio.value.primerDirector == false &&
                    directorio.value.segundoDirecto == false)">
        <b [hidden]="ingresandoDatos">Agendar</b>
        <b [hidden]="!ingresandoDatos">Agendando </b>
        <img *ngIf="ingresandoDatos" height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">&nbsp;
      </button>
    </div>

    <div class="col-md-2">
      <label>
        <b>Historial de Reuniones</b>
      </label>
      <button class="btn btn-primary btn-block btn-sm" type="button"
        (click)="abrirModal(modalDirectorio)">Historial</button>
    </div>
  </div>
</form>

<ng-template #modalDirectorio let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header theadverde">
    <h6 class="modal-title"><strong><i class="fas fa-briefcase"></i> Historial de Reuniones</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="anio">Seleccione Año</label>
          <select name="anio" class="form-control" name="anio" #anio="ngModel" [(ngModel)]="idAnioActual"
            (change)="changeAnio($event)">
            <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
          </select>
        </div>
      </div>
    </div>


    <div class="table-responsive-sm">

      <table class="table text-center">
        <thead class="theadverde">
          <tr style="color: #ffff;">
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">N° Reunion</th>
            <th scope="col">Tipo de Reunion</th>
            <th scope="col">Titulo</th>
            <th scope="col">Detalles</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let listar of listarDirectorio">
            <td class="firsttdg">{{listar.nuevo}}</td>
            <td>{{listar.fecha | date:'shortTime'}}</td>
            <th scope="row">{{listar.id}}</th>
            <td>{{listar.tipo}}</td>
            <td>{{listar.titulo | titlecase}}</td>
            <td><button class="btn btn-success" (click)="abrirModalDetalle(modalDetalle,listar.id)">Ver</button>
              <!-- detalle del modal -->
              <ng-template #modalDetalle let-modal>
                <!-- Header Del Modal -->
                <div class="modal-header" id="modalHeaderBlue">
                  <h6 class="modal-title"><strong><i class="fas fa-briefcase"></i> Detalle de la Reunion
                      {{listar.id}}</strong>
                  </h6>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- Cuerpo del modal -->
                <div class="modal-body" id="printJS-table">

                  <div class="d-flex justify-content-start">
                    <img src="/assets/logo-sindicato-transparente-2.png" width="90px" height="70px">
                  </div>

                  <h3 style="text-align: center;">
                    <pre><b><h2>{{listar.titulo | titlecase}}</h2></b></pre>
                  </h3>

                  <pre><b>Directiva asistida:</b></pre>
                  <pre *ngFor="let listar2 of listarDirectorioDetalle">{{listar2.descripcion}}</pre>

                  <div *ngIf="listar.asistencia != null">
                    <p><b>{{listar.tipo}} asistida:</b></p>
                    <pre>{{listar.asistencia}}</pre>
                  </div>

                  <pre><b>Temas tratados:</b></pre>
                  <pre>{{listar.temas}}</pre>

                  <pre><b>Acuerdos:</b></pre>
                  <pre>{{listar.acuerdos}}</pre>

                </div>
                <!-- Patitas del Modal -->
                <div class="modal-footer">

                  <button type="button" class="btn btn-success" onclick="printJS({
                    printable: 'printJS-table',
                    type:'html',
                    style: 'pre{font-family: Arial;font-size: 15px;width: 100%;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;}'
                  })">
                    <i class="fas fa-print"></i> Imprimir Datos
                  </button>

                  <button type="button" id="botonCerrarModal" class="btn btn-info"
                    (click)="modal.close('Close click')"><i class="far fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
              </ng-template>

            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" id="botonCerrarModal" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>