<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-success">
  <a class="navbar-brand" style="color: aliceblue">Sindicado CMPC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/AuthMaster/CuentaSindical']">Cuenta Sindical <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/AuthMaster/CuentaBienestar']">Cuenta Bienestar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/AuthMaster/CuentaFondoMutuo']">Cuenta Fondo Mutuo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/AuthMaster/CuentaSindical']">Grafico</a>
      </li>
      <li *ngIf="isLogged" ngbDropdown class="d-inline-block">
        <button class="btn nav-link" ngbDropdownToggle>Socios</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a ngbDropdownItem [routerLink]="['/AuthMaster/RegistroSocios']">Registro de Socio</a>
          <a ngbDropdownItem [routerLink]="['/AuthMaster/ListarSocios']">Listar Socio</a>
        </div>
      </li>
      <li *ngIf="isLogged" ngbDropdown class="d-inline-block">
        <button class="btn nav-link" ngbDropdownToggle>{{usuario}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem [routerLink]="['/AuthMaster/Configuracion']">Configuracion Cuenta</button>
          <button ngbDropdownItem (click)="logOut()">Cerrar Sesion</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>