nav.navbar {
    background: #093028;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    text-decoration:none;
    }