<hr>
<!--Tabla del Modal Caja Chica-->
<div class="row">
  <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Año</strong></label>
    <select class="form-control form-control-sm">
      <option *ngFor="let anio of selectAnio">{{anio.descripcion}}</option>
    </select>
  </div>

  <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Mes</strong></label>
    <select class="form-control form-control-sm">
      <option *ngFor="let mes of selectMes">{{mes.descripcion}}</option>
    </select>
  </div>
</div><br>

<div class="table-responsive">
  <table class="table table-bordered table-sm">
    <thead text-sm class="text-center">
      <tr>
        <th colspan="11" class="ColorThCS">Tabla caja chica</th>
        <th colspan="2" class="ColorThCS">Monto Inicial</th>
        <td colspan="2"><strong>{{ 100000 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
      </tr>
      <tr>
        <th colspan="2">Fecha</th>
        <th colspan="2">N° de Doc</th>
        <th colspan="2">PDF</th>
        <th colspan="3">Detalle</th>
        <th colspan="2">Ingresos</th>
        <th colspan="2">Egresos</th>
        <th colspan="2">Actual</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cajaChica" class="text-center">
        <td colspan="2">{{item.fecha}}</td>
        <td colspan="2">{{item.numero_documento}}</td>
        <td colspan="2">{{item.archivo_documento}}</td>
        <td colspan="3">{{item.descripcion}}</td>
        <td colspan="2">{{item.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td colspan="2">{{item.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td colspan="2">{{item.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
    </tbody>
  </table>
</div>
