<ng-template #tablaBeneficiosPS let-modal>
  <div class="modal-header sticky-top" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-table"></i> Datos del Socio:
        {{getNombreSocio | uppercase}}</strong></h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--Cuerpo del body inicio y cierre mensual-->
  <div class="modal-body" id="printJS-table">
    <div class="card-header" id="demoFont2">
      <h6 class="card-title">PADRES / SUEGROS</h6>
    </div>
    <div class="card"> <br>
      <div class="table-responsive">
        <div *ngIf="!vista_tabla" class="loader"></div>
        <table *ngIf="vista_tabla" class="table table-striped table-bordered table-sm">
          <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row justify-content-between">

              <div *ngFor="let item of traerDatosPS" class="col-12 col-md-6 col-lg-6 col-xl-6">
                <tr>
                  <th style="background: #138D75" class="text-right">RELACION:</th>
                  <td>
                      <select name="Carga" id="carga" class="form-control form-control-sm sinbordefondo"
                      [(ngModel)]="item.tipo_relacion_id" required>
                      <option value="">--SELECCIONE--</option>
                      <option value="1">PADRE</option>
                      <option value="2">MADRE</option>
                      <option value="3">SUEGRO</option>
                      <option value="4">SUEGRA</option>
                    </select>
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                </tr>
                <tr>
                  <th style="background: #138D75" class="text-right">RUT:</th>
                  <td><input type="text" class="sinbordefondo" value="{{item.rut}}"></td>
                  <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                </tr>
                <tr>
                  <th style="background: #138D75" class="text-right">FECHA DE NACIMIENTO:</th>
                  <td><input type="date" class="sinbordefondo" value="{{ item.fecha_nacimiento }}">
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                </tr>
                <tr>
                  <th style="background: #138D75;" class="text-right">NOMBRES:</th>
                  <td><input type="text" class="sinbordefondo" value="{{item.nombres | uppercase}}">
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                </tr>
                <tr>
                  <th style="background: #138D75;" class="text-right">APELLIDO PATERNO:</th>
                  <td><input type="text" class="sinbordefondo"
                      value="{{item.apellido_paterno | uppercase}}"></td>
                  <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                </tr>
                <tr>
                  <th style="background: #138D75" class="text-right">APELLIDO MATERNO:</th>
                  <td><input type="text" class="sinbordefondo"
                      value="{{item.apellido_materno | uppercase}}"></td>
                  <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                </tr>
                <tr>
                  <th style="background: #138D75;" class="text-right">DIRECCION:</th>
                  <td><input type="text" class="sinbordefondo" value="{{item.direccion | uppercase}}">
                  </td>
                  <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                </tr>
                <tr>
                  <th style="background: #138D75;" class="text-right">CELULAR:</th>
                  <td><input type="text" class="sinbordefondo" value="{{item.celular}}"></td>
                  <td><button class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></button></td>
                </tr> <br>
              </div>

            </div>
          </div>
        </table>
      </div>
    </div>
  </div>

  <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-success" 
    onclick="printJS({
      printable: 'printJS-table',
      type:'html',
      style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
    })">
    <i class="fas fa-print"></i>  Imprimir Datos
    </button> -->

    <button type="button" class="btn btn-info" 
      (click)="modal.close('Close click'); limpiar_tabla()">
      <i class="far fa-arrow-alt-circle-left"></i> Volver Beneficios Padres / Suegros
    </button>
  </div>
</ng-template>

<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn btn-success btn-block btn-sm" type="button" 
  [disabled] = "this.getIdSocio == '' || this.getIdSocio == null"
  (click)="verTablaBeneficios(tablaBeneficiosPS)">Ver Datos
</button>