<div class="table-responsive">
    <table class="table table-bordered table-sm">
      <thead text-sm class="text-center">
        <tr>
          <th col>INGRESOS</th>
          <td col><strong>{{ 11000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
        </tr>

        <tr>
          <th col>EGRESOS</th>
          <td col><strong>{{ 2443202 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
        </tr>
        <tr>
          <th col>CIERRE MENSUAL MES MAYO</th>
          <td col><strong>{{ 8556798 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
        </tr>
      </thead>
    </table>
  </div>