<br> <hr>
<div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Año</strong></label>
  <select class="form-control form-control-sm">
    <option *ngFor="let anio of selectAnio">{{anio.descripcion}}</option>
  </select>
</div><br>
<!--tabla del modal inicio y cierre mensual-->
<div class="table-responsive">
  <table class="table table-bordered table-sm">
    <thead text-sm class="text-center">

      <tr>
        <th colspan="14" class=" text-center" id="demoFont">
          <h6>Movimiento mensual Mayo 2019</h6>
        </th>
      </tr>

      <tr>
        <th scope="col" colspan="3">Año</th>
        <th scope="col" colspan="3">Mes</th>
        <th scope="col" colspan="3">Monto</th>
        <th scope="col" colspan="3">Inicial</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td scope="col" colspan="3">2019</td>
        <td scope="col" colspan="3">Enero</td>
        <td scope="col" colspan="3">50000</td>
        <td scope="col" colspan="3">120000</td>
      </tr>
    </tbody>
  </table>
</div><br>
