<!--Modal para el inicio y cierre mensual-->
<ng-template #tablaGeneral let-modal>
  <div class="modal-header sticky-top" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-table"></i> Tabla Sindical</strong></h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--Cuerpo del body inicio y cierre mensual-->
  <div class="modal-body" id="printJS-table">

    <div class="row">
      <div class="col-md-2"><br><label>
          <strong>Filtro por Año </strong>
          <i class="fas fa-calendar-check"></i>
        </label>
        <select (change)="changeAnio($event)" name="anio" class="form-control form-control-sm"
          [(ngModel)]="idAnioActual">
          <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
        </select>
      </div>

      <div class="col-md-2"><br><label>
          <strong>Filtro por Mes </strong>
          <i class="fas fa-calendar-check"></i>
        </label>
        <select (change)="changeMes($event)" name="mes" class="form-control form-control-sm" [(ngModel)]="idMesActual">
          <option *ngFor="let mes of selectMes" [value]="mes.id">{{mes.descripcion}}</option>
        </select>
      </div>
      <div class="col-md-4"><br><label>
          <strong>Recargar tabla </strong>

        </label><br>
        <button [disabled]="cargandoTabla" class="btn btn-info" (click)="recargarTablaSindical()">Actualizar</button>
        <div *ngIf="cargandoTabla">
          <img height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">&nbsp;
          <label>Actualizando</label>
        </div>
      </div>
    </div><br>

    <!--Tabla sindical-->
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm shadow p-3 mb-5 bg-white rounded">
        <thead text-sm>
          <!--Titulo Tabla-->
          <!--<tr>
                  <th colspan="14" class=" text-center"  id="demoFont"><h6>Movimiento mensual</h6></th>
                </tr>-->
          <!--Cuenta Sindical-->
          <tr class="text-center">
            <th colspan="11">Cuenta Sindical</th>
            <th>Cierre Mensual Acumulado</th>
          </tr>
        </thead>
        <thead>
          <!--Fijos-->
          <tr class="text-center">
            <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
            <th>N° Doc</th>
            <th><i class="far fa-file-pdf"></i> PDF</th>
            <!--fijos-->
            <th colspan="4"><i class="fas fa-file-signature"></i> Ingresos y Egresos Fijos
            </th>
            <th><i class="fas fa-plus-circle"></i> Ingresos</th>
            <th><i class="fas fa-minus-circle"></i> Egresos</th>
            <!--cuenta del cierre del mes actual-->
            <td class="text-center"><strong>{{ montoInicio | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemFijo of fijos">
            <td colspan="3" class="text-center">
              <b>{{itemFijo.fecha}}</b>
            </td>
            <td class="text-center">
              <b>{{itemFijo.numero_documento}}</b>
            </td>
            <!--MODAL VISOR PDF-->
            <ng-template #visorSindicalFijo let-c="close" let-d="dismiss">
              <div class="row">
                <div class="col">
                  <div class="modal-header text-center" id="demoFont">
                    <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                    <button id="closeModalButton" type="button" class="close" aria-label="Close"
                      (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <iframe width="100%" height="500px" [src]="  '../' + itemFijo.archivo_documento | safeUrl"
                      frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="modal-footer" [hidden]="true">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                  </div>
                </div>
              </div>
            </ng-template>
            <!--MODAL VISOR PDF-->

            <td class="text-center">
              <a (click)="open(visorSindicalFijo)" class="btn-primary-outline" style="cursor: pointer">
                <i class="far fa-file-alt" [ngClass]="{'fas fa-times-circle': itemFijo.archivo_documento == '--'}" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
              </a>&nbsp;
            </td>

            <td colspan="4">
              <b>{{itemFijo.descripcion}}</b>
            </td>

            <td class="text-center">
              <b>{{ itemFijo.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
            </td>


            <td class="text-center">
              <b>{{ itemFijo.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
            </td>
            <!--acumulado cierre del mes actual-->
            <td class="text-center">
              <b>{{ itemFijo.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
            </td>
          </tr>

          <!--variables-->
          <tr class="text-center">
            <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
            <th>N° Doc</th>
            <th><i class="far fa-file-pdf"></i> PDF</th>
            <th colspan="4"><i class="fas fa-file-signature"></i> Ingresos y Egresos
              Variables</th>
            <th><i class="fas fa-plus-circle"></i> Ingresos</th>
            <th><i class="fas fa-minus-circle"></i> Egresos</th>
            <td></td>
          </tr>

          <tr *ngFor="let itemVariable of variable">
            <td colspan="3" class="text-center">
              <b>{{itemVariable.fecha}}</b>
            </td>

            <td scope="col" class="text-center">
              <b>{{itemVariable.numero_documento}}</b>
            </td>

            <!--MODAL VISOR PDF-->
            <ng-template #visorSindicalVariable let-c="close" let-d="dismiss">
              <div class="row">
                <div class="col">
                  <div class="modal-header text-center" id="demoFont">
                    <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                    <button id="closeModalButton" type="button" class="close" aria-label="Close"
                      (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <iframe width="100%" height="500px" [src]="  '../' + itemVariable.archivo_documento | safeUrl"
                      frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="modal-footer" [hidden]="true">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                  </div>
                </div>
              </div>
            </ng-template>
            <!--MODAL VISOR PDF-->

            <td class="text-center">
              <a (click)="open(visorSindicalVariable)" class="btn-primary-outline" style="cursor: pointer">
                <i class="far fa-file-alt" [ngClass]="{'fas fa-times-circle': itemVariable.archivo_documento == '--'}" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
              </a>&nbsp;
            </td>

            <td scope="col" colspan="4">
              <b>{{itemVariable.descripcion}}</b>
            </td>

            <td scope="col" class="text-center">
              <b>{{ itemVariable.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
            </td>

            <td scope="col" class="text-center">
              <b>{{ itemVariable.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
            </td>
            <!--acumulado cierre del mes actual-->
            <td scope="col" class="text-center">
              <b>{{ itemVariable.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b></td>
          </tr>

          <!--caja chica-->
          <tr class="text-center">
            <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
            <th>N° Doc</th>
            <th><i class="far fa-file-pdf"></i> PDF</th>
            <th colspan="4"><i class="fas fa-file-signature"></i> Detalle Caja Chica</th>
            <th><i class="fas fa-plus-circle"></i> Ingresos</th>
            <th><i class="fas fa-minus-circle"></i> Egresos</th>
            <td></td>
          </tr>

          <tr *ngFor="let itemCajaChica of cajaChica">
            <td colspan="3" class="text-center">
              <b>{{itemCajaChica.fecha}}</b>
            </td>

            <td scope="col" class="text-center">
              <b>{{itemCajaChica.numero_documento}}</b>
            </td>

            <!--MODAL VISOR PDF-->
            <ng-template #visorSindical let-c="close" let-d="dismiss">
              <div class="row">
                <div class="col">
                  <div class="modal-header text-center" id="demoFont">
                    <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                    <button id="closeModalButton" type="button" class="close" aria-label="Close"
                      (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <iframe width="100%" height="500px" [src]="  '../' + itemCajaChica.archivo_documento | safeUrl"
                      frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="modal-footer" [hidden]="true">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                  </div>
                </div>
              </div>
            </ng-template>
            <!--MODAL VISOR PDF-->

            <td class="text-center">
              <a (click)="open(visorSindical)" class="btn-primary-outline" style="cursor: pointer">
                <i class="far fa-file-alt" [ngClass]="{'fas fa-times-circle': itemCajaChica.archivo_documento == '--'}" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
              </a>&nbsp;
            </td>

            <td scope="col" colspan="4">
              <b>{{itemCajaChica.descripcion}}</b>
            </td>

            <td scope="col" class="text-center">
              <b>{{ itemCajaChica.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
            </td>
            <td scope="col" class="text-center">
              <b>{{ itemCajaChica.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
            </td>
            <!--acumulado cierre del mes actual-->
            <td scope="col" class="text-center">
              <b>{{ itemCajaChica.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b></td>
          </tr>

          <!--Prestamos-->
          <tr class="text-center">
            <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
            <th>N° Doc</th>
            <th><i class="far fa-file-pdf"></i> PDF</th>
            <th colspan="4"><i class="fas fa-file-signature"></i> Prestamos Ingresos y
              Egresos</th>
            <th><i class="fas fa-plus-circle"></i> Ingresos</th>
            <th><i class="fas fa-minus-circle"></i> Egresos</th>
            <td></td>
          </tr>

          <tr *ngFor="let itemPrestamo of prestamo">
            <td colspan="3" class="text-center"><b>{{itemPrestamo.fecha}}</b></td>
            <td scope="col" class="text-center"><b>{{itemPrestamo.numero_documento}}</b></td>
            <td scope="col" class="text-center">
              <a class="btn-primary-outline" style="cursor: pointer">
                <i class="fas fa-times-circle" placement="top"></i>
              </a>
            </td>
            <td scope="col" colspan="4"><b>{{itemPrestamo.descripcion}}</b></td>
            <td scope="col" class="text-center"><b>{{ itemPrestamo.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
            </td>
            <td scope="col" class="text-center"><b>{{ itemPrestamo.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
            </td>
            <!--acumulado cierre del mes actual-->
            <td scope="col" class="text-center">
              <b>{{ itemPrestamo.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b></td>
          </tr>

          <!--comite camping-->
          <tr class="text-center">
            <th colspan="3"><i class="far fa-calendar-alt"></i> Fecha</th>
            <th>N° Doc</th>
            <th><i class="far fa-file-pdf"></i> PDF</th>
            <th colspan="4"><i class="fas fa-file-signature"></i> Comite Camping</th>
            <th><i class="fas fa-plus-circle"></i> Ingresos</th>
            <th><i class="fas fa-minus-circle"></i> Egresos</th>
            <td></td>
          </tr>

          <tr *ngFor="let itemCamping of camping">
            <td colspan="3" class="text-center">
              <b>{{itemCamping.fecha}}</b>
            </td>

            <td scope="col" class="text-center">
              <b>{{itemCamping.numero_documento}}</b>
            </td>

            <!--MODAL VISOR PDF-->
            <ng-template #visorSindicalCamping let-c="close" let-d="dismiss">
              <div class="row">
                <div class="col">
                  <div class="modal-header text-center" id="demoFont">
                    <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                    <button id="closeModalButton" type="button" class="close" aria-label="Close"
                      (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <iframe width="100%" height="500px" [src]="  '../' + itemCamping.archivo_documento | safeUrl"
                      frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="modal-footer" [hidden]="true">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                  </div>
                </div>
              </div>
            </ng-template>
            <!--MODAL VISOR PDF-->

            <td class="text-center">
              <a class="btn-primary-outline" style="cursor: pointer">
                <i class="far fa-file-alt" [ngClass]="{'fas fa-times-circle': itemCamping.archivo_documento == '--'}" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i>
              </a>
            </td>

            <td scope="col" colspan="4">
              <b>{{itemCamping.descripcion}}</b>
            </td>

            <td scope="col" class="text-center">
              <b>{{ itemCamping.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
            </td>

            <td scope="col" class="text-center">
              <b>{{ itemCamping.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</b>
            </td>
            <!--acumulado cierre del mes actual-->
            <td scope="col" class="text-center">
              <b>{{ itemCamping.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</b></td>
          </tr>

          <!--Cierre del mes-->
          <tr>
            <th colspan="11" class="text-right"><i class="fas fa-dollar-sign"></i> Total
              Cierre del Mes</th>
            <td scope="col" class="text-center">
              <strong>{{ resultado?.cierre_mes | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
          </tr>
          <br>
          <!--total del cierre de mes-->
          <tr>
            <th colspan="9" class="text-right"><i class="fas fa-plus-circle"></i> INGRESOS
            </th>
            <td colspan="2" class="text-center">
              <strong>{{ resultado?.total_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
          </tr>

          <tr>
            <th colspan="9" class="text-right"><i class="fas fa-minus-circle"></i> EGRESOS
            </th>
            <td colspan="2" class="text-center">
              <strong>{{ resultado?.total_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
          </tr>
          <tr>
            <th colspan="9" class="text-right"><i class="fas fa-dollar-sign"></i> CIERRE
              MENSUAL ACTUAL (INGRESO - EGRESO)</th>
            <td colspan="2" class="text-center">
              <strong>{{ resultado?.total | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div *ngIf="loading" class="loader">Loading...</div>

  <!--boton para volver a cuenta sindical del inicio y cierre mensual-->
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-success" onclick="printJS({
      printable: 'printJS-table',
      type:'html',
      style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
    })">
      <i class="fas fa-print"></i> Imprimir Datos
    </button> -->

    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver a Cuenta Sindical
    </button>
  </div>
</ng-template>
<!--Boton Para llamar al Modal inicio y cierre mensual-->
<button class="btn btn-primary btn-lg btn-block" type="button" (click)="openModalTablaSindical(tablaGeneral)"><b>Sindical</b></button>