<div class="card">
  <div class="col-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row justify-content-center">
      <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Fecha Prestamo</th>
            <th scope="col">ID Prestamo</th>
            <th scope="col">Tipo Prestamo</th>
            <th scope="col">Comprobante</th>
            <th scope="col">Cuotas</th>
            <th scope="col">Estado Abono</th>
            <th scope="col">Estado Prestamo</th>
            <th scope="col">Test</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-success">
            <th scope="row">2019-01-01</th>
            <td>$200,000</td>
            <td>$50,000</td>
            <td>$0</td>
            <td>$30000</td>
            <td>$0</td>
            <td>0</td>
            <td>Pagado</td>
          </tr>
          <tr class="table-success">
            <th scope="row">2019-03-02</th>
            <td>$100,000</td>
            <td>$50,000</td>
            <td>$10,000</td>
            <td>$50000</td>
            <td>$0</td>
            <td>0</td>
            <td>Pagado</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">2019-08-018</th>
            <td>$500,000</td>
            <td>$50,000</td>
            <td>$0</td>
            <td>$10,000</td>
            <td>$450,000</td>
            <td>3</td>
            <td>Pendiente</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div> <br>