<!--Modal Prestamo-->
<ng-template #Prestamo let-modal>
    <!--form del modal Prestamo-->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" enctype="multipart/form-data">
      <!--Cabezal del modal Prestamo-->
      <div class="modal-header" id="demoFont">
        <h6 class="modal-title"><strong>Detalle Prestamo Socios</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Cuerpo del body Prestamo-->
      <div class="modal-body">
        
        <div class="row">
          <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
          </div>
        </div>



      </div>
      <!--Boton para salir del modal Prestamo-->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="modal.close('Close click')">Volver a Cuenta Sindical
        </button>
      </div>
    </form>
  </ng-template>
  
  <!--Boton Para llamar al modal Prestamo-->
  <label><strong>Detalle Prestamo Socios </strong></label><br>
  <button class="btn btn btn-success btn-block btn-sm" (click)="openPrestamo(Prestamo)">Ingresar</button>
