<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header sticky-top" id="demoFont">
        <h6 class="modal-title"><strong><i class="fas fa-archive"></i> Cuenta Sindical / Archivador</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" id="notas-tab" data-toggle="tab" href="#notas" role="tab" aria-controls="notas" aria-selected="true">Notas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="archivos-tab" data-toggle="tab" href="#archivos" role="tab" aria-controls="archivos" aria-selected="false">Archivador</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">

            <ng-template #edicion let-modal>
                <div class="modal-header" id="demoFont">
                    <h4 class="modal-title" id="modal-basic-title">Modificar Campo</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data">
                        <div class="form-group">
                            <label><strong>Valor Anterior</strong></label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{datosEdicion.input}}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><strong>Nuevo Valor</strong></label>
                            <div class="input-group">
                                <input [hidden]="edicionDocumento || edicionSelect" type="{{varType}}" class="form-control" name="valorInput" [(ngModel)]="valorInput">
                                <select [hidden]="edicionDocumento || edicionTexto" name="nuevoValor" [(ngModel)]="selectEdicionTipo" class="form-control form-control-sm">
                                    <option value="0">Seleccione un tipo</option>
                                    <option *ngFor="let item of selectTipo" [value]="item.id">{{item.tipo}}</option>
                                  </select>
                                <input #nuevoDoc *ngIf="edicionDocumento" class="form-control-file" type="file" (change)="archivoEdicion($event)" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button id="closeModalButtonEdicion" type="button" class="btn btn-info" (click)="modal.close('Save click')">Salir</button>
                    <button type="button" [hidden]="!botonIngresar" class="btn btn-outline-success" (click)="actualizarArchivo()">Guardar</button>
                    <button type="button" [hidden]="botonIngresar" class="btn btn-outline-success" (click)="actualizarNota()">Guardar</button>
                </div>
            </ng-template>

            <button id="openEdicionArchivo" class="btn btn-lg btn-outline-primary" [hidden]=true (click)="openEdicionModal(edicion)">Launch demo modal</button>


            <div class="tab-pane fade show active" id="notas" role="tabpanel" aria-labelledby="notas-tab">

                <div class="modal-header mt-4" id="demoFont2">
                    <h6 class="modal-title"><strong>Formulario de Ingreso</strong></h6>
                </div>

                <div class="card">
                    <form #notasForm="ngForm" (ngSubmit)="ingresarNota()">
                        <div class="row centrar">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Fecha</label>
                                    <input class="form-control" type="date" name="fecha" [(ngModel)]="datosNotas.fecha" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Remitente</label>
                                    <input class="form-control" disabled type="text" name="remitente" [(ngModel)]="remitente" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Nota</label>
                                    <textarea class="form-control resize-none" name="nota" [(ngModel)]="datosNotas.nota" required></textarea>
                                </div>
                            </div>
                            <button type="submit" [disabled]="notasForm.invalid || ingresandoNota" class="btn btn-block btn-success">Ingresar Nota <img *ngIf="ingresandoNota" height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
                            <!-- <button [disabled]="ingresandoDatos" type="submit" class="btn btn-block btn-success" [disabled]="loginForm.invalid">Guardar <img *ngIf="ingresandoDatos" height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button> -->
                        </div>
                    </form>
                </div>

                <div class="row mt-4">
                    <ngb-alert type="warning" [dismissible]="false" class="col-12 align-self-center">
                        <small><i class="fas fa-exclamation-circle fa-2x"></i> <strong> ¡IMPORTANTE!</strong> 
                            Si desea editar una nota, debe de hacer <b>click</b> en la nota a cambiar.</small>
                    </ngb-alert>
                </div>

                <div class="card">
                    <div class="row centrar text-center">
                        <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Año <i
                                class="fas fa-calendar-check"></i></strong></label>
                            <select (change)="changeAnio($event,1)" name="anio" #anio="ngModel" [(ngModel)]="idAnioActualN" class="form-control form-control-sm">
                            <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
                          </select>
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Mes <i
                                class="fas fa-calendar-check"></i></strong></label>
                            <select (change)="changeMes($event,1)" name="mes" #mes="ngModel" [(ngModel)]="idMesActualN" class="form-control form-control-sm">
                            <option *ngFor="let mes of selectMes" [value]="mes.id">{{mes.descripcion}}</option>
                          </select>
                        </div>

                        <div class="col-md-4"><br><label>
                          <strong>Recargar tabla </strong>
                    
                        </label><br>
                            <button class="btn btn-info" (click)="traerNotas()">Actualizar</button>
                        </div>
                    </div>

                    <div class="row centrar">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm shadow p-3 mb-5 bg-white rounded">
                                <thead text-sm class="text-center">
                                    <tr>
                                        <th colspan="11" class="ColorThCS">Notas</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2"><i class="far fa-calendar-alt"></i> Fecha</th>
                                        <th colspan="2"><i class="fas fa-sticky-note"></i> Nota</th>
                                        <th colspan="2"><i class="fas fa-user-circle"></i> Remitente</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of notas" class="text-center">
                                        <td colspan="2" (click)="editarParametro(item.id, 'fecha', item.fecha, false)">{{item?.fecha}}</td>
                                        <td colspan="2" (click)="editarParametro(item.id, 'descripcion', item.descripcion, false)">{{item?.descripcion}}</td>
                                        <td colspan="2">{{item?.nombre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="archivos" role="tabpanel" aria-labelledby="archivos-tab">
                <div class="modal-header mt-4" id="demoFont2">
                    <h6 class="modal-title"><strong>Formulario de Ingreso</strong></h6>
                </div>

                <div class="card">
                    <form #archivoForm="ngForm" (ngSubmit)="ingresarArchivo()" enctype="multipart/form-data">
                        <div class="row centrar">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Fecha</label>
                                    <input class="form-control" type="date" name="fecha" [(ngModel)]="datosArchivos.fecha" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Remitente</label>
                                    <input class="form-control" disabled type="text" name="remitente" [(ngModel)]="remitente" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Tipo</label>
                                    <select name="tipo" [(ngModel)]="datosArchivos.tipo" class="form-control form-control-sm" required>
                                        <option value="0">Seleccione un tipo</option>
                                        <option *ngFor="let item of selectTipo" [value]="item.id">{{item.tipo}}</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Titulo</label>
                                    <input class="form-control" type="text" name="titulo" [(ngModel)]="datosArchivos.titulo" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Archivo</label>
                                    <input class="form-control-file" type="file" (change)="archivo($event)" required>
                                </div>
                            </div>
                            <button type="submit" [disabled]="archivoForm.invalid || ingresandoArchivo" class="btn btn-block btn-success">Ingresar Archivo <img *ngIf="ingresandoArchivo" height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button>
                            <!-- <button [disabled]="ingresandoDatos" type="submit" class="btn btn-block btn-success" [disabled]="loginForm.invalid">Guardar <img *ngIf="ingresandoDatos" height="20" src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif"></button> -->
                        </div>
                    </form>
                </div>

                <div class="row mt-4">
                    <ngb-alert type="warning" [dismissible]="false" class="col-12 align-self-center">
                        <small><i class="fas fa-exclamation-circle fa-2x"></i> <strong> ¡IMPORTANTE!</strong> Si desea edita un valor de
                                la tabla, debe de hacer <b>click</b> en el campo seleccionado. Si desea cambiar el archivo, debe
                                de hacer <b>click</b> el icono <i class="far fa-copy" placement="top"></i></small>
                        <br>
                        <!-- <small><i class="fas fa-exclamation-circle fa-2x"></i> <strong> ¡OBSERVACION!</strong> 
                                Si desea cambiar un archivo <b>PDF por uno Excel o viceversa</b>, recuerde cambiarlo por el tipo que corresponda para que este pueda ser visualizado.</small> -->
                    </ngb-alert>
                </div>

                <div class="card">
                    <div class="row centrar text-center">
                        <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Año <i
                                class="fas fa-calendar-check"></i></strong></label>
                            <select (change)="changeAnio($event,2)" name="anio" #anio="ngModel" [(ngModel)]="idAnioActualA" class="form-control form-control-sm">
                            <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
                          </select>
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Mes <i
                                class="fas fa-calendar-check"></i></strong></label>
                            <select (change)="changeMes($event,2)" name="mes" #mes="ngModel" [(ngModel)]="idMesActualA" class="form-control form-control-sm">
                            <option *ngFor="let mes of selectMes" [value]="mes.id">{{mes.descripcion}}</option>
                          </select>
                        </div>

                        <div class="col-md-4"><br><label>
                          <strong>Recargar tabla </strong>
                    
                        </label><br>
                            <button class="btn btn-info" (click)="traerArchivos()">Actualizar</button>
                        </div>
                    </div>

                    <div class="row centrar">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm shadow p-3 mb-5 bg-white rounded">
                                <thead text-sm class="text-center">
                                    <tr>
                                        <th colspan="11" class="ColorThCS">Archivador</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2"><i class="far fa-calendar-alt"></i> Fecha</th>
                                        <th colspan="2"><i class="fas fa-sticky-note"></i> Titulo</th>
                                        <th colspan="2"> Tipo</th>
                                        <th colspan="2"><i class="fas fa-file-archive"></i> Archivo Reporte</th>
                                        <th colspan="2"><i class="fas fa-user-circle"></i> Remitente</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of archivos?.reporte" class="text-center">
                                        <td colspan="2" (click)="editarParametro(item.id, 'fecha', item.fecha, true)">
                                            {{item?.fecha}}
                                        </td>
                                        <td colspan="2" (click)="editarParametro(item.id, 'titulo', item.titulo, true)">
                                            {{item?.titulo}}
                                        </td>
                                        <td colspan="2" (click)="editarParametro(item.id, 'tipo', item.tipo, true)">
                                            {{item?.tipo}}
                                        </td>
                                        <!--MODAL VISOR PDF-->
                                        <ng-template #visor let-c="close" let-d="dismiss">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="modal-header text-center" id="demoFont">
                                                        <h4 class="modal-title" id="modal-basic-title">Visor de Documentos</h4>
                                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- item?.archivo -->
                                                        <ngx-doc-viewer [url]="url + item?.archivo" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer>
                                                    </div>
                                                    <div class="modal-footer" [hidden]="true">
                                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <!--MODAL VISOR PDF-->
                                        <td colspan="2">
                                            <a (click)="openExcel(visor)" style="cursor: pointer"><i class="far fa-file-alt" placement="top"
                                                ngbTooltip="Presione aqui visualizar el documento."></i></a>&nbsp;
                                            <a class="btn-primary-outline" style="cursor: pointer">
                                                <i class="far fa-copy" placement="top" ngbTooltip="Presione aqui para cambiar el documento" (click)="editarParametro(item.id, 'archivo', 'Archivo Antiguo', true)"></i>
                                            </a>
                                        </td>
                                        <td colspan="2">
                                            {{item?.nombre}}
                                        </td>
                                    </tr>
                                </tbody>
                                <thead text-sm class="text-center">
                                    <tr>
                                        <th colspan="2"><i class="far fa-calendar-alt"></i> Fecha</th>
                                        <th colspan="2"><i class="fas fa-sticky-note"></i> Titulo</th>
                                        <th colspan="2"> Tipo</th>
                                        <th colspan="2"><i class="fas fa-file-archive"></i> Archivo Descuento</th>
                                        <th colspan="2"><i class="fas fa-user-circle"></i> Remitente</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of archivos?.descuento" class="text-center">
                                        <td colspan="2" (click)="editarParametro(item.id, 'fecha', item.fecha, true)">
                                            {{item?.fecha}}
                                        </td>
                                        <td colspan="2" (click)="editarParametro(item.id, 'titulo', item.titulo, true)">
                                            {{item?.titulo}}
                                        </td>
                                        <td colspan="2" (click)="editarParametro(item.id, 'tipo', item.tipo, true)">
                                            {{item?.tipo}}
                                        </td>
                                        <!--MODAL VISOR PDF-->
                                        <ng-template #visor let-c="close" let-d="dismiss">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="modal-header text-center" id="demoFont">
                                                        <h4 class="modal-title" id="modal-basic-title">Visor de Documentos</h4>
                                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- item?.archivo -->
                                                        <ngx-doc-viewer [url]="url + item?.archivo" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer>
                                                    </div>
                                                    <div class="modal-footer" [hidden]="true">
                                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <!--MODAL VISOR PDF-->
                                        <td colspan="2">
                                            <a (click)="openExcel(visor)" style="cursor: pointer"><i class="far fa-file-alt" placement="top"
                                                ngbTooltip="Presione aqui visualizar el documento."></i></a>&nbsp;
                                            <a class="btn-primary-outline" style="cursor: pointer">
                                                <i class="far fa-copy" placement="top" ngbTooltip="Presione aqui para cambiar el documento" (click)="editarParametro(item.id, 'archivo', 'Archivo Antiguo', true)"></i>
                                            </a>
                                        </td>
                                        <td colspan="2">
                                            {{item?.nombre}}
                                        </td>
                                    </tr>
                                </tbody>
                                <thead text-sm class="text-center">
                                    <tr>
                                        <th colspan="2"><i class="far fa-calendar-alt"></i> Fecha</th>
                                        <th colspan="2"><i class="fas fa-sticky-note"></i> Titulo</th>
                                        <th colspan="2"> Tipo</th>
                                        <th colspan="2"><i class="fas fa-file-archive"></i> Archivo Conciliación</th>
                                        <th colspan="2"><i class="fas fa-user-circle"></i> Remitente</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of archivos?.conciliacion" class="text-center">
                                        <td colspan="2" (click)="editarParametro(item.id, 'fecha', item.fecha, true)">
                                            {{item?.fecha}}
                                        </td>
                                        <td colspan="2" (click)="editarParametro(item.id, 'titulo', item.titulo, true)">
                                            {{item?.titulo}}
                                        </td>
                                        <td colspan="2" (click)="editarParametro(item.id, 'tipo', item.tipo, true)">
                                            {{item?.tipo}}
                                        </td>
                                        <!--MODAL VISOR PDF-->
                                        <ng-template #visor let-c="close" let-d="dismiss">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="modal-header text-center" id="demoFont">
                                                        <h4 class="modal-title" id="modal-basic-title">Visor de Documentos</h4>
                                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- item?.archivo -->
                                                        <ngx-doc-viewer [url]="url + item?.archivo" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer>
                                                    </div>
                                                    <div class="modal-footer" [hidden]="true">
                                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <!--MODAL VISOR PDF-->
                                        <td colspan="2">
                                            <a (click)="openExcel(visor)" style="cursor: pointer"><i class="far fa-file-alt" placement="top"
                                                ngbTooltip="Presione aqui visualizar el documento."></i></a>&nbsp;
                                            <a class="btn-primary-outline" style="cursor: pointer">
                                                <i class="far fa-copy" placement="top" ngbTooltip="Presione aqui para cambiar el documento" (click)="editarParametro(item.id, 'archivo', 'Archivo Antiguo', true)"></i>
                                            </a>
                                        </td>
                                        <td colspan="2">
                                            {{item?.nombre}}
                                        </td>
                                    </tr>
                                </tbody>
                                <thead text-sm class="text-center">
                                    <tr>
                                        <th colspan="2"><i class="far fa-calendar-alt"></i> Fecha</th>
                                        <th colspan="2"><i class="fas fa-sticky-note"></i> Titulo</th>
                                        <th colspan="2"> Tipo</th>
                                        <th colspan="2"><i class="fas fa-file-archive"></i> Otros Archivos </th>
                                        <th colspan="2"><i class="fas fa-user-circle"></i> Remitente</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of archivos?.otros" class="text-center">
                                        <td colspan="2" (click)="editarParametro(item.id, 'fecha', item.fecha, true)">
                                            {{item?.fecha}}
                                        </td>
                                        <td colspan="2" (click)="editarParametro(item.id, 'titulo', item.titulo, true)">
                                            {{item?.titulo}}
                                        </td>
                                        <td colspan="2" (click)="editarParametro(item.id, 'tipo', item.tipo, true)">
                                            {{item?.tipo}}
                                        </td>
                                        <!--MODAL VISOR PDF-->
                                        <ng-template #visor let-c="close" let-d="dismiss">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="modal-header text-center" id="demoFont">
                                                        <h4 class="modal-title" id="modal-basic-title">Visor de Documentos</h4>
                                                        <button id="closeModalButton" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- item?.archivo -->
                                                        <ngx-doc-viewer [url]="url + item?.archivo" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer>
                                                    </div>
                                                    <div class="modal-footer" [hidden]="true">
                                                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <!--MODAL VISOR PDF-->
                                        <td colspan="2">
                                            <a (click)="openExcel(visor)" style="cursor: pointer"><i class="far fa-file-alt" placement="top"
                                                ngbTooltip="Presione aqui visualizar el documento."></i></a>&nbsp;
                                            <a class="btn-primary-outline" style="cursor: pointer">
                                                <i class="far fa-copy" placement="top" ngbTooltip="Presione aqui para cambiar el documento" (click)="editarParametro(item.id, 'archivo', 'Archivo Antiguo', true)"></i>
                                            </a>
                                        </td>
                                        <td colspan="2">
                                            {{item?.nombre}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--Boton para salir del modal caja chica-->
        <button type="button" class="btn btn-info" (click)="d('Cross click')"><i
            class="far fa-arrow-alt-circle-left"></i> Volver a Cuentas</button>
    </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">Archivador</button>