 <!--buscador de socio-->
 <div class="card-header" id="demoFont">
    <h6 class="card-title text-center"><strong>Formulario Consorcio</strong></h6>
  </div>

  <div class="card">

    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row justify-content-center">

        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
          <div class="form-group"> <br>
            <label>
              <strong>Ingrese Rut </strong>
              <i class="fas fa-info-circle" placement="right"
                ngbTooltip="El rut del socio debe de ser ingresado sin guion"></i>
            </label>
            <div class="input-group">
              <input type="text" [(ngModel)]="rut" class="form-control form-control-sm"
                placeholder="Ingrese rut del socio sin guion" name="rut" required>
              <span class="input-group-btn">
                <button type="button" (click)="buscarSocio()" class="btn btn-outline-success btn-sm">
                  <i *ngIf="!blockSocio" class="fas fa-search"></i>
                  <img *ngIf="blockSocio" padding-left="20px" height="12"
                    src="https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif">
                </button>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row justify-content-center">

        <div class="col-12 col-md-2 col-lg-2 col-xl-2">
          <div class="form-group"> <br>
            <label><strong>Fecha Nacimiento</strong></label>
            <input type="date" class="form-control form-control-sm" [(ngModel)]="fechaSocioTest" required
              disabled>
          </div>
        </div>

        <div class="col-12 col-md-2 col-lg-2 col-xl-2">
          <div class="form-group"> <br>
            <label><strong>Rut del socio</strong></label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="rutSocioTest" required
              disabled>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
          <div class="form-group"> <br>
            <label><strong>Nombre Completo del socio</strong></label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="nombreUpperSocio" required
              disabled>
          </div>
        </div>

      </div>
    </div> <br>

    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row justify-content-center">

          <div class="col-12 col-md-2 col-lg-2 col-xl-2">
            <div class="form-group"> <br>
              <label><strong>Fecha</strong></label>
              <input type="date" class="form-control form-control-sm" required>
            </div>
          </div>

          <div class="col-12 col-md-2 col-lg-2 col-xl-2">
            <div class="form-group"> <br>
              <label><strong>Monto Dia de Sueldo</strong></label>
              <input type="number" class="form-control form-control-sm" required>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group"> <br>
              <label><strong>Guardar</strong></label> <br>
              <button type="button" class="btn btn-outline-success btn-sm">
                Guardar
                </button>
            </div>
          </div>

        </div>
      </div> <br>

  </div> <br>