<div class="table-responsive">
    <table class="table table-bordered table-sm">
      <thead text-sm class="text-center">
        <tr>
          <th col>INGRESOS</th>
          <td col><strong>{{ 0 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
        </tr>

        <tr>
          <th col>EGRESOS</th>
          <td col><strong>{{ 90000 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
        </tr>
        <tr>
          <th col>CIERRE DEL MES</th>
          <td col><strong>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
        </tr>
      </thead>
    </table>
  </div>