  <!--Modal caja chica-->
  <ng-template #CajaChica let-modal>
    <!--form del modal caja chica-->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <!--Cabezal del modal caja chica-->
      <div class="modal-header" id="demoFont">
        <h6 class="modal-title"><strong>Caja Chica</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Cuerpo del body caja chica-->
      <div class="modal-body">
        <div class="row">

          <div class="col-sm-3 col-md-4 col-lg-4"> <br><label><strong>Ingrese Fecha</strong></label> <br>
            <div class="form-group">
              <div class="input-group">
                <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d2" #c2="ngModel"
                  [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <br><label><strong>Ingrese Detalle</strong></label>
            <input 
            class="form-control form-control-sm"
            required>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <br><label><strong>Igrese Monto</strong></label><input class="form-control form-control-sm">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <br><label><strong>Igrese N° Documento</strong></label><input class="form-control form-control-sm">
          </div>

          <div class="col-sm-3 col-md-4 col-lg-4">
            <br><label><strong>Subir Documento</strong></label>
            <input class="form-control-file" type="file">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4"><br><label><strong>Seleccione Tipo</strong></label>
            <select class="form-control form-control-sm">
              <option *ngFor="let tipo of selectDefinicion">{{tipo.descripcion}}</option>
            </select>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <br><label><strong>Guardar Caja Chica</strong></label><br>
            <button class="btn btn btn-success btn-block btn-sm">Guardar</button>
          </div>

        </div>
        <!--Tabla del Modal Caja Chica-->
        <app-tabla-caja-chica></app-tabla-caja-chica>

        <!--Formulario para enviar el monto de caja chica a la cuenta sindical-->
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label><strong>Ingreso</strong></label><input class="form-control form-control-sm">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <label><strong>Egreso</strong></label><input class="form-control form-control-sm">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <label><strong>Total</strong></label><input class="form-control form-control-sm">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <br><label><strong>Codigo General</strong></label><input class="form-control form-control-sm">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <br><label><strong>Descripcion de la caja chica</strong></label>
            <textarea class="form-control" rows="3"></textarea>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <br><label><strong>Enviar a Cuenta Sindical</strong></label><br>
            <button class="btn btn btn-success btn-block btn-sm">Guardar</button>
          </div>
        </div>
      </div>

      <!--Boton para salir del modal caja chica-->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="modal.close('Close click')">Volver a Cuenta Sindical
        </button>
      </div>
    </form>
  </ng-template>

  <!--Boton Para llamar al modal caja chica-->
    <label><strong>Caja Chica</strong></label><br>
    <button class="btn btn btn-success btn-block btn-sm" (click)="openCajaChica(CajaChica)">Ingresar</button>
