<!--Modal caja chica-->
<ng-template #CajaChica let-modal>
  <!--form del modal caja chica-->
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" enctype="multipart/form-data">
    <!--Cabezal del modal caja chica-->
    <div class="modal-header" id="demoFont">
      <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i>  Cuenta Sindical / Detalle Caja Chica</strong></h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Cuerpo del body caja chica-->
    <div class="modal-body">
      <ngb-alert *ngIf="errorIngreso" [dismissible]="false">
        <strong>
          {{ ingresoStatus }}
        </strong>
      </ngb-alert>
      <div class="modal-header" id="demoFont2">
        <h6 class="modal-title"><strong>Formulario de Ingreso</strong></h6>
      </div>
      <div class="card">
        <div class="row centrarPrestamo">

  <div class="col-sm-3 col-md-4 col-lg-4"> <br>
      <label><strong>Ingrese Fecha  </strong>
        <i class="fas fa-info-circle" placement="right" ngbTooltip="Recuerde ingresar un fecha."></i>
      </label> <br>
    <div class="form-group">
      <div class="input-group">
        <input type="date" class="form-control form-control-sm" name="fecha" #fecha="ngModel"
          [(ngModel)]="datosCajaChica.fecha" required>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4"><br>
    <label><strong>Ingrese Detalle  </strong>
      <i class="fas fa-info-circle" placement="right" ngbTooltip="El mínimo de caracteres debe ser de 5."></i>
    </label>
    <input class="form-control form-control-sm" type="text" minlength="5" maxlength="80" name="descripcion"
      #descripcion="ngModel" [(ngModel)]="datosCajaChica.descripcion" required>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4"><br>
    <label><strong>Igrese Monto  </strong>
      <i class="fas fa-info-circle" placement="right" ngbTooltip="El monto a ingresar no debe ser negativo."></i>
    </label>
    <input class="form-control form-control-sm" type="number" name="monto" #monto="ngModel"
      [(ngModel)]="datosCajaChica.monto_egreso" required>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4"><br>
    <label><strong>Igrese N° Documento  </strong>
      <i class="fas fa-info-circle" placement="right" ngbTooltip="El numero de documento puede ser alfa numerico."></i>
    </label>
    <input class="form-control form-control-sm" name="nDocumento" #nDocumento="ngModel"
      [(ngModel)]="datosCajaChica.numero_documento" required>
  </div>

  <div class="col-sm-3 col-md-4 col-lg-4"><br>
    <label><strong>Ingrese el archivo comprobante  </strong>
      <i class="fas fa-info-circle" placement="right" ngbTooltip="Los documentos solo deben ser en formato PDF."></i>
    </label> <br>
    <input class="form-control-file" type="file" (change)="onSelectImage($event)" required>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4"><br><label><strong>Seleccione Tipo</strong></label>
    <select (change)="changeDefinicion($event)" class="form-control form-control-sm">
      <option *ngFor="let tipo of selectDefinicion | slice : 0:1;" [value]="tipo.id">{{tipo.descripcion}}</option>
    </select>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="row justify-content-end">
        <div class="col-sm-6 col-md-4 col-lg-4"><br>
          <label><strong>Guardar Caja Chica  </strong>
            <i class="fas fa-info-circle" placement="right" ngbTooltip="Para guardar debe completar todos los campos."></i>
          </label><br>
          <button class="btn btn btn-success btn-block btn-sm" type="submit" value="ingresar"
            [disabled]="loginForm.invalid"><i class="fas fa-save"></i>  Guardar</button>
        </div>
      </div>
  </div>
        </div>
      </div>
      <hr>
      <!--Tabla del Modal Caja Chica-->
      <div id="printJS-table">
        <ngb-alert *ngIf="cajaChicaError" [dismissible]="false">
          <strong>¡No existen ingresos en esta Fecha!</strong> Compruebe que el <strong>Año</strong> y <strong>mes</strong>
          sean los correctos.
        </ngb-alert>
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Año  <i class="fas fa-calendar-check"></i></strong></label>
            <select (change)="changeAnio($event)" name="anio" #anio="ngModel" [(ngModel)]="valorAnio.descripcion"
              class="form-control form-control-sm">
              <option *ngFor="let anio of selectAnio" [value]="anio.id">{{anio.descripcion}}</option>
            </select>
          </div>
  
          <div class="col-sm-6 col-md-3 col-lg-3"><br><label><strong>Filtro por Mes  <i class="fas fa-calendar-check"></i></strong></label>
            <select (change)="changeMes($event)" name="mes" #mes="ngModel" [(ngModel)]="valorMes.descripcion"
              class="form-control form-control-sm">
              <option *ngFor="let mes of selectMes" [value]="mes.id">{{mes.descripcion}}</option>
            </select>
          </div>
        </div><br>
  
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead text-sm class="text-center">
              <tr>
                <th colspan="11" style="background: #138D75;" class="ColorThCS">Tabla caja chica</th>
                <th colspan="2" style="background: #138D75;" class="ColorThCS">Monto Inicial</th>
                <td colspan="2"><strong>{{ 100000 | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
              </tr>
              <tr>
                <th colspan="2" style="background: #138D75;"><i class="far fa-calendar-alt"></i>  Fecha</th>
                <th colspan="2" style="background: #138D75;">N° de Doc</th>
                <th colspan="2" style="background: #138D75;"><i class="far fa-file-pdf"></i>  PDF</th>
                <th colspan="3" style="background: #138D75;"><i class="fas fa-file-signature"></i>  Detalle</th>
                <th colspan="2" style="background: #138D75;"><i class="fas fa-plus-circle"></i>  Ingresos</th>
                <th colspan="2" style="background: #138D75;"><i class="fas fa-minus-circle"></i>  Egresos</th>
                <th colspan="2" style="background: #138D75;"><i class="fas fa-dollar-sign"></i>  Actual</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cajaChica" class="text-center">
                <td colspan="2" (click)="editarParametro(item.id, 'fecha', item.fecha)">{{item.fecha}}</td>
                <td colspan="2" (click)="editarParametro(item.id, 'numero_documento', item.numero_documento)">{{item.numero_documento}}</td>
  
  
  
                <td colspan="2">
                  <a href="{{  '../' + item.archivo_documento}}" target="_blank"><i class="far fa-file-alt" placement="top" ngbTooltip="Presione aqui visualizar documento PDF"></i></a>&nbsp;
                  <a class="btn-primary-outline" style="cursor: pointer" (click)="editarParametro(item.id, 'archivo_documento', 'Archivo Antiguo')">
                    <i class="far fa-copy" placement="top" ngbTooltip="Presione aqui para modificar documento PDF"></i>
                  </a>
                </td>
  
  
  
                <td colspan="3" (click)="editarParametro(item.id, 'descripcion', item.descripcion)">{{item.descripcion}}</td>
                <td colspan="2">{{item.monto_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                <td colspan="2" (click)="editarParametro(item.id, 'monto', item.monto_egreso)">{{item.monto_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
                <td colspan="2">{{item.saldo_actual | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
              </tr>
              <br><!--Tabla del total Modal Caja Chica-->
              <tr>
                <th colspan="9" style="background: #138D75;" class="text-right"><i class="fas fa-plus-circle"></i>  INGRESOS</th>
                <td colspan="3" class="text-center"><strong>{{ cajaChicaTotales.total_ingreso | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
              </tr>
  
              <tr>
                <th colspan="9" style="background: #138D75;" class="text-right"><i class="fas fa-minus-circle"></i>  EGRESOS</th>
                <td colspan="3" class="text-center"><strong>{{ cajaChicaTotales.total_egreso | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
              </tr>
              <tr>
                <th colspan="9" style="background: #138D75;" class="text-right"><i class="fas fa-dollar-sign"></i>  CIERRE DEL MES</th>
                <td colspan="3" class="text-center"><strong>{{ cajaChicaTotales.total | currency:"CLP" : "symbol-narrow":'1.0'}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div *ngIf="loading" class="loader">Loading...</div>

    <div class="modal-footer">
      
        <!--Boton para imprimir tabla caja chica-->
        <button type="button" class="btn btn-success" 
          onclick="printJS({
            printable: 'printJS-table',
            type:'html',
            style: '.table {font-family: Arial, Helvetica, sans-serif; text-align: center;} .table td, .table th {border: 1px solid #020202; padding: 5px; color:black; font-size: 13px;}'
          })">
          <i class="fas fa-print"></i>  Imprimir Datos
        </button>
        
        <!--Boton para salir del modal caja chica-->
        <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i class="far fa-arrow-alt-circle-left"></i>  Volver a Cuenta Sindical</button>
    </div>
  </form>
</ng-template>

<!--MODAL PARA EDICION*********************************************************-->
<ng-template #edicion let-modal>
    <div class="modal-header" id="demoFont">
      <h4 class="modal-title" id="modal-basic-title">Modificar Campo</h4>
    </div>
    <div class="modal-body">
      <form enctype="multipart/form-data">
        <div class="form-group">
          <label><strong>Valor Anterior</strong></label>
          <div class="input-group">
            <input type="text" class="form-control"  value="{{parametroEdicion}}" disabled>
          </div>
        </div>
        <div class="form-group">
          <label><strong>Nuevo Valor</strong></label>
          <div class="input-group">
            <input [hidden]="edicionDocumento" #nuevoValor id="nuevoValor" type="{{varType}}" class="form-control" name="nuevoValor">
            <input #nuevoDoc *ngIf="edicionDocumento" class="form-control-file" type="file" (change)="onSelectImageEdicion($event)" required>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button id="closeModalButtonEdicion" type="button" class="btn btn-info" (click)="modal.close('Save click')">Salir</button>
      <button [hidden]="edicionDocumento" type="button" class="btn btn-outline-success" (click)="ingresarModificacionTexto(nuevoValor.value)">Guardar</button>
      <button *ngIf="edicionDocumento" type="button" class="btn btn-outline-success" (click)="ingresarModificacionDocumento()">Guardar Documento</button>
    </div>
  </ng-template>

  <button id="openModalButtonEdicion" class="btn btn-lg btn-outline-primary" [hidden]=true (click)="openEdicionModal(edicion)">Launch demo modal</button>

<!--MODAL PARA EDICION-->

<!--Boton Para llamar al modal caja chica-->
<label><strong>Detalle Caja Chica</strong></label><br>
<button class="btn btn btn-success btn-block btn-sm" (click)="openCajaChica(CajaChica)">Ingresar</button>

<!--MODAL VALIDACION CON CONTRASEÑA-->
<ng-template #validar let-modal>
  <div class="modal-header" id="demoFont">
    <h4 class="modal-title" id="modal-basic-title">Verificación de usuario</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>rut</label>
        <div class="input-group">
          <input type="text" class="form-control"  name="rut" #rut="ngModel" [(ngModel)]="usuario.rut" disabled>
        </div>
      </div>
      <div class="form-group">
        <label>contraseña</label>
        <div class="input-group">
          <input #pass type="password" class="form-control" name="pass">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salir</button>
    <button type="button" class="btn btn-outline-dark" (click)="validarUsuario(pass)">Guardar</button>
  </div>
</ng-template>

<button id="openModalButtonPass" class="btn btn-lg btn-outline-primary" [hidden]=true (click)="openContraseniaModal(validar)">Launch demo modal</button>
<!--MODAL VALIDACION CON CONTRASEÑA-->