  <!--Modal caja chica-->
  <ng-template #CajaChica let-modal>
    <!--form del modal caja chica-->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <!--Cabezal del modal caja chica-->
      <div class="modal-header" id="demoFont">
        <h6 class="modal-title"><strong>Detalle Caja Chica</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Cuerpo del body caja chica-->
      <div class="modal-body">
        <div class="row">

          <div class="col-sm-3 col-md-4 col-lg-4"> <br><label><strong>Ingrese Fecha</strong></label> <br>
            <div class="form-group">
              <div class="input-group">
                <input 
                type="date"
                class="form-control form-control-sm" 
                name="fecha">
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <br><label><strong>Ingrese Detalle</strong></label>
            <input 
            class="form-control form-control-sm"
            type="text"
            minlength="5"
            maxlength="80"
            name="descripcion"
            #descripcion="ngModel"
            [(ngModel)]="datosCajaChica.descripcion"
            required>
            <small *ngIf="!descripcion.valid && descripcion.touched" class="invalid-feedback d-block">
              Compruebe que la descripcion ingresada no se encuentre vacia y cumpla un minimo de 5 caracteres
            </small>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <br><label><strong>Igrese Monto</strong></label>
            <input 
            class="form-control form-control-sm"
            type="number"
            name="monto"
            #monto="ngModel"
            [(ngModel)]="datosCajaChica.monto_egreso"
            required>
            <small *ngIf="!monto.valid && monto.touched" class="invalid-feedback d-block">
              Compruebe que el monto ingresado solo contiene numeros y no este vacio
            </small>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <br><label><strong>Igrese N° Documento</strong></label>
            <input 
            class="form-control form-control-sm"
            name="nDocumento"
            #nDocumento="ngModel"
            [(ngModel)]="datosCajaChica.numero_documento"
            required>
            <small *ngIf="!nDocumento.valid && nDocumento.touched" class="invalid-feedback d-block">
              Compruebe que el N° Documento ingresado solo contiene numeros y no este vacio
            </small>
          </div>

          <div class="col-sm-3 col-md-4 col-lg-4">
            <br><label><strong>Subir Documento</strong></label>
            <input class="form-control-file" type="file">
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4"><br><label><strong>Seleccione Tipo</strong></label>
            <select class="form-control form-control-sm">
              <option *ngFor="let tipo of selectDefinicion">{{tipo.descripcion}}</option>
            </select>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4">
            <br><label><strong>Guardar Caja Chica</strong></label><br>
            <button class="btn btn btn-success btn-block btn-sm">Guardar</button>
          </div>

        </div>
        <!--Tabla del Modal Caja Chica-->
        <app-tabla-caja-chica></app-tabla-caja-chica>

        <!--Tabla del total Modal Caja Chica-->
        <app-total-caja-chica></app-total-caja-chica>
      </div>

      <!--Boton para salir del modal caja chica-->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="modal.close('Close click')">Volver a Cuenta Sindical
        </button>
      </div>
    </form>
  </ng-template>

  <!--Boton Para llamar al modal caja chica-->
    <label><strong>Caja Chica</strong></label><br>
    <button class="btn btn btn-success btn-block btn-sm" (click)="openCajaChica(CajaChica)">Ingresar</button>
