<div class="card">
  <div class="col-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row justify-content-center">
      <div class="table-responsive">
        <br>
        <h3 class="text-center">Cobros por Nacimiento</h3>
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr class="text-center">
              <th scope="col">Fecha Cobro</th>
              <th scope="col">N° Comprobante</th>
              <th scope="col">Archivo Comprobante</th>
              <th scope="col">Rut</th>
              <th scope="col">Nombre</th>
              <th scope="col">Certificado de Nacimiento</th>
              <th scope="col">Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemNacido of datosNacidos?.nacidos" class="table-success text-center">
              <th>{{itemNacido?.fecha}}</th>
              <td>{{itemNacido?.id}}</td>
              <td><a (click)="openPDF(visor1)"><i class="far fa-file-alt" placement="top"
                    ngbTooltip="Presione aqui visualizar documento PDF"></i></a>&nbsp;</td>

              <!--MODAL VISOR PDF-->
              <ng-template #visor1 let-c="close" let-d="dismiss">
                <div class="row">
                  <div class="col">
                    <div class="modal-header text-center" id="demoFont">
                      <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                      <button id="closeModalButton" type="button" class="close" aria-label="Close"
                        (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <iframe width="100%" height="500px" [src]="  '../' + itemNacido.archivo | safeUrl"
                        frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer" [hidden]="true">
                      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <!--MODAL VISOR PDF-->

              <td>{{itemNacido?.tipo}}</td>
              <td>{{itemNacido?.cuotas}}</td>
              <td>{{itemNacido?.estado_prestamo}}</td>
              <td>{{itemNacido?.estado_prestamo}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>

      <div class="table-responsive">
        <br>
        <h3 class="text-center">Cobros por Fallecimiento</h3>
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr class="text-center">
              <th scope="col">Fecha Cobro</th>
              <th scope="col">N° Comprobante</th>
              <th scope="col">Archivo Comprobante</th>
              <th scope="col">Rut</th>
              <th scope="col">Nombre</th>
              <th scope="col">Certificado de Fallecimiento</th>
              <th scope="col">Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemFallecido of datosFallecidos?.fallecidos" class="table-success text-center">
              <th>{{itemFallecido?.fecha}}</th>
              <td>{{itemFallecido?.id}}</td>
              <td><a (click)="openPDF(visor2)"><i class="far fa-file-alt" placement="top"
                    ngbTooltip="Presione aqui visualizar documento PDF"></i></a>&nbsp;</td>

              <!--MODAL VISOR PDF-->
              <ng-template #visor2 let-c="close" let-d="dismiss">
                <div class="row">
                  <div class="col">
                    <div class="modal-header text-center" id="demoFont">
                      <h4 class="modal-title" id="modal-basic-title">Visor de PDF</h4>
                      <button id="closeModalButton" type="button" class="close" aria-label="Close"
                        (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <iframe width="100%" height="500px" [src]="  '../' + itemFallecido.archivo | safeUrl"
                        frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer" [hidden]="true">
                      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <!--MODAL VISOR PDF-->

              <td>{{itemFallecido?.tipo}}</td>
              <td>{{itemFallecido?.cuotas}}</td>
              <td>{{itemFallecido?.estado_prestamo}}</td>
              <td>{{itemFallecido?.estado_prestamo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>