<ng-template #generarNuevaReunion let-modal>
  <!-- Header Del Modal -->
  <div class="modal-header" id="demoFont">
    <h6 class="modal-title"><strong><i class="fas fa-cash-register"></i> Crear una nueva Reunión</strong>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="mt-2">
            <ngb-alert [dismissible]="false">
              <strong>¡Advertencia!</strong> Todos los campos son obligatorios, una vez generada la reunión sera
              publicada en el portal de socios para informarles con todos los datos solicitados en este formulario.
            </ngb-alert>
          </p>
        </div>
      </div>
      <form #formulario="ngForm" (ngSubmit)="ingresarReunion(formulario)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fecha"><b>Ingrese una fecha para la reunión</b></label>
              <input class="form-control" type="datetime-local" name="fecha" #fecha="ngModel" [(ngModel)]="datosReunion.fecha" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="tipo"><b>Seleccione el Tipo de Reunión</b></label>
              <select class="form-control" name="tipoReunion" #tipoReunion="ngModel" [(ngModel)]="datosReunion.tipoReunion" required>
                <option value="1">General</option>
                <option value="2">Eleccion</option>
                <option value="3">Votación</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="titulo"><b>Titulo de la reunión</b></label>
              <input class="form-control" type="text" placeholder="Ingrese un Nombre para la reunión (Máximo 90 caracteres)" maxlength="90" name="titulo" #titulo="ngModel" [(ngModel)]="datosReunion.titulo" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><b>Ingrese una descripción para la reunión a realizar</b></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                placeholder="(Minimo 4 caracteres, máximo 500 cacacteres)" minlength="4" maxlength="500" name="descripcion" #descripcion="ngModel" [(ngModel)]="datosReunion.descripcion" required></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" [disabled]="!formulario.valid" class="btn btn-success btn-block">Generar Reunión</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Patitas del Modal -->
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modal.close('Close click')"><i
        class="far fa-arrow-alt-circle-left"></i> Volver</button>
  </div>
</ng-template>

<div (click)="abrirModal(generarNuevaReunion)" class="card card-body text-white text-center bg-primary"
  style="cursor: pointer">
  <h3><i class="far fa-calendar-plus"></i> Programar Nueva Reunión</h3>
  <p>Aquí se pueden generar nuevas reuniones para informar a los socios</p>
</div>